---
layout: offline-layout.hbs
---
<h1 class="heading-xlarge">Service unavailable</h1>

<section class="text">
  <p>Sorry, the Find an apprenticeship service is currently unavailable.</p>
</section>

<section class="text">
  <h2 class='heading-medium'>If you need to contact us</h2>

  <p>Our helpdesk is open between 9am and 5pm, Monday to Friday.</p>

  <p>Phone: 0800 015 0400 or 02476 826482</p>

  <p>
  Alternatively, email us and we'll get back to you as soon as possible,
    <a href="nationalhelpdesk@apprenticeships.gov.uk">nationalhelpdesk@apprenticeships.gov.uk</a>
  </p>

</section>