
<div class="text">
  <h1 class="heading-xlarge">
    Your application
  </h1>
</div>

<section class="section-border">
  <h2 class="heading-large">
    Personal details
  </h2>
  <section>
    <h3 class="heading-small">Full name</h3>
    <p>Firstname Lastname</p>
  </section>
  <section>
    <h3 class="heading-small">Date of birth</h3>
    <p>19/5/1994</p>
  </section>
  <section>
    <h3 class="heading-small">Address</h3>
    <ul class="list-text">
      <li>38 Bolton Road</li>
      <li>Windsor</li>
      <li>Windsor and Maidenhead</li>
      <li>SL3 5LK</li>
    </ul>
  </section>
  <section>
    <h3 class="heading-small">Telephone number</h3>
    <p>07988 346763</p>
  </section>
  <section>
    <h3 class="heading-small">School name</h3>
    <p>The Name of the School</p>
  </section>

  <section>
    <h3 class="heading-small">Qualifications</h3>
    <p>At least 5 GCSEs (A*-C) or equivalent</p>
  </section>
</section>

<section class="section-border">
  <h2 class="heading-large">
    Region and framework
  </h2>
  <section>
    <h3 class="heading-small">Region</h3>
    <p>South-east</p>
  </section>
  <section>
    <h3 class="heading-small">First framework preference</h3>
    <p>Business administration</p>
  </section>
  <section>
    <h3 class="heading-small">Second framework preference</h3>
    <p>Cyber security</p>
  </section>
  <section>
    <h3 class="heading-small">Would consider alternative region?</h3>
    <p>No</p>
  </section>
  <section>
    <h3 class="heading-small">Would consider alternative framework?</h3>
    <p>Yes</p>
  </section>
</section>

<section class="section-border">
  <h2 class="heading-large">
    Assistance
  </h2>
  <section>
    <h3 class="heading-small">Assistance needs</h3>
    <p>No</p>
  </section>
</section>


<a href="profile-home-complete.html" class="button-link">Return to home</a>