<div class="progress-indicator progress-indicator-horizontal">
  <ul>
    <li><a href="profile-home.html"><span class="hide-tablet">Page </span>1<span class="hide-tablet"> of 5</span>. Home</a></li>
    <li><a href="profile-details.html"><span class="hide-tablet">Page </span>2<span class="hide-tablet"> of 5</span>. Personal details</a></li>
    <li><a href="framework-selection.html"><span class="hide-tablet">Page </span>3<span class="hide-tablet"> of 5</span>. Preferred region/framework</a></li>
    <li><a href="" class="disabled"><span class="hide-tablet">Page </span>4<span class="hide-tablet"> of 5</span>. Online test</a></li>
    <li class="active"><a href="" class=""><span class="hide-tablet">Page </span>5<span class="hide-tablet"> of 5</span>. Submit application</a></li>
  </ul>
</div>

<div class="text">
  <h1 class="heading-xlarge">
    Check your application before submission
  </h1>
</div>

<p>Summary page will be here</p>

<a href="apply-finished.html" class="button">Submit application</a>