<!-- <div class="progress-indicator progress-indicator-horizontal">
  <ul>
    <li><a href="profile-home.html"><span class="hide-tablet">Page </span>1<span class="hide-tablet"> of 4</span>. Home</a></li>
    <li><a href="profile-details.html"><span class="hide-tablet">Page </span>2<span class="hide-tablet"> of 4</span>. Personal details</a></li>
    <li><a href="framework-selection.html"><span class="hide-tablet">Page </span>3<span class="hide-tablet"> of 4</span>. Preferred region/framework</a></li>
    <li class="active"><a href="" class=""><span class="hide-tablet">Page </span>4<span class="hide-tablet"> of 4</span>. Submit application</a></li>
  </ul>
</div> -->

<div class="text">
  <h1 class="heading-xlarge">
    Check your application before submission
  </h1>
</div>

<section class="section-border">
  <h2 class="heading-large">
    Personal details
    <a class="icon-with-text" href="profile-details.html"><i class="the-icon fa fa-pencil"></i><span class="the-text">Edit section</span></a>
  </h2>
  <section>
    <h3 class="heading-small">Full name</h3>
    <p>Firstname Lastname</p>
  </section>
  <section>
    <h3 class="heading-small">Date of birth</h3>
    <p>19/5/1994</p>
  </section>
  <section>
    <h3 class="heading-small">Address</h3>
    <ul class="list-text">
      <li>38 Bolton Road</li>
      <li>Windsor</li>
      <li>Windsor and Maidenhead</li>
      <li>SL3 5LK</li>
    </ul>
  </section>
  <section>
    <h3 class="heading-small">Telephone number</h3>
    <p>07988 346763</p>
  </section>
  <section>
    <h3 class="heading-small">School name</h3>
    <p>The Name of the School</p>
  </section>

  <section>
    <h3 class="heading-small">Qualifications</h3>
    <p>At least 5 GCSEs (A*-C) or equivalent</p>
  </section>
</section>

<section class="section-border">
  <h2 class="heading-large">
    Region and framework
    <a class="icon-with-text" href="framework-selection.html"><i class="the-icon fa fa-pencil"></i><span class="the-text">Edit section</span></a>
  </h2>
  <section>
    <h3 class="heading-small">Region</h3>
    <p>South-east</p>
  </section>
  <section>
    <h3 class="heading-small">First framework preference</h3>
    <p>Business administration</p>
  </section>
  <section>
    <h3 class="heading-small">Second framework preference</h3>
    <p>Cyber security</p>
  </section>
  <section>
    <h3 class="heading-small">Would consider alternative region?</h3>
    <p>No</p>
  </section>
  <section>
    <h3 class="heading-small">Would consider alternative framework?</h3>
    <p>Yes</p>
  </section>
</section>

<section class="section-border">
  <h2 class="heading-large">
    Assistance
    <a class="icon-with-text" href="assistance.html"><i class="the-icon fa fa-pencil"></i><span class="the-text">Edit section</span></a>
  </h2>
  <section>
    <h3 class="heading-small">Assistance needs</h3>
    <p>No</p>
  </section>
</section>

<h2 class="heading-large">Submit application</h2>
<div class="panel-indent text">
  <p>Once you submit your application you will not be able to amend any of your details</p>
</div>
<a href="profile-home-complete.html" class="button">Submit application</a>