<!-- <div class="progress-indicator progress-indicator-horizontal">
  <ul>
    <li><a href="profile-home.html"><span class="hide-tablet">Page </span>1<span class="hide-tablet"> of 4</span>. Home</a></li>
    <li><a href="profile-details.html"><span class="hide-tablet">Page </span>2<span class="hide-tablet"> of 4</span>. Personal details</a></li>
    <li><a href="framework-selection.html"><span class="hide-tablet">Page </span>3<span class="hide-tablet"> of 4</span>. Preferred region/framework</a></li>
    <li class="active"><a href="" class=""><span class="hide-tablet">Page </span>4<span class="hide-tablet"> of 4</span>. Submit application</a></li>
  </ul>
</div> -->

<div class="text">
  <h1 class="heading-xlarge">
    Check your application before submission
  </h1>
</div>

<section class="section-border">
  <h2 class="heading-large">
    Personal details
  </h2>
  <section>
    <h3 class="heading-small">Full name</h3>
    <p>Firstname Lastname</p>
  </section>
  <section>
    <h3 class="heading-small">Date of birth</h3>
    <p>19/5/1994</p>
  </section>
  <section>
    <h3 class="heading-small">Address</h3>
    <ul class="list-text">
      <li>38 Bolton Road</li>
      <li>Windsor</li>
      <li>Windsor and Maidenhead</li>
      <li>SL3 5LK</li>
    </ul>
  </section>
  <section>
    <h3 class="heading-small">Telephone number</h3>
    <p>07988 346763</p>
  </section>
  <section>
    <h3 class="heading-small">School name</h3>
    <p>The Name of the School</p>
  </section>

  <section>
    <h3 class="heading-small">Qualifications</h3>
    <p>2 A-levels</p>
  </section>
</section>

<section class="section-border">
  <h2 class="heading-large">
    Locations and framework
  </h2>
  <section>
    <h3 class="heading-small">First preference</h3>
    <p>Newcastle (Business administration, Cyber security)</p>
  </section>
  <section>
    <h3 class="heading-small">Second preference</h3>
    <p>Manchester (Cyber security, Business admin)</p>
  </section>
  <section>
    <h3 class="heading-small">Would consider alternative location?</h3>
    <p>No</p>
  </section>
  <section>
    <h3 class="heading-small">Would consider alternative framework?</h3>
    <p>Yes</p>
  </section>
</section>

<section class="section-border">
  <h2 class="heading-large">
    Assistance
  </h2>
  <section>
    <h3 class="heading-small">Assistance needs</h3>
    <p>No</p>
  </section>
</section>

<h2 class="heading-large">Submit application</h2>
<div class="panel-indent text">
  <p>Once you submit your application you will not be able to amend any of your details</p>
</div>
<a href="profile-home-complete.html" class="button">Submit application</a>
<a href="profile-home-saved.html" class="button-link">Save and return to home</a>