---
pageTitle: Check your application before you send it
---

<div class="text">
  <h1 class="heading-xlarge" id="checkApplicationHeading">
    {{ pageTitle }}
  </h1>
</div>

<section class="section-border">
  <h2 class="heading-large">
    Your details
    <a class="icon-with-text" href="profile-details.html"><i class="the-icon fa fa-pencil"></i><span class="the-text">Edit section</span></a>
  </h2>
  <section>
    <h3 class="heading-small">Full name</h3>
    <p id="fullName">Firstname Lastname</p>
  </section>
  <section>
    <h3 class="heading-small">What should we call you?</h3>
    <p id="preferredName">Henry</p>
  </section>
  <section>
    <h3 class="heading-small">Date of birth</h3>
    <p id="dateOfBirth">19 May 1994</p>
  </section>
  <section>
    <h3 class="heading-small">Address</h3>
    <ul class="list-text">
      <li id="address1">38 Bolton Road</li>
      <li id="address2">Windsor</li>
      <li id="address3">Windsor and Maidenhead</li>
      <li id="address3b"></li>
      <li id="address4">SL3 5LK</li>
    </ul>
  </section>
  <section>
    <h3 class="heading-small">Telephone number</h3>
    <p id="phone-input">07988 346763</p>
    <p id="phone-input2"></p>
  </section>
  <section>
    <h3 class="heading-small">Qualifications</h3>
    <p id="minGCSEs" class="hidden">At least 5 GCSEs or equivalent</p>
    <p id="minAlevels">At least 2 A-levels</p>
  </section>
</section>

<section class="section-border">
  <h2 class="heading-large">
    Locations and scheme
    <a class="icon-with-text" href="scheme-summary-02.html"><i class="the-icon fa fa-pencil"></i><span class="the-text">Edit section</span></a>
  </h2>
  <section>
    <h3 class="heading-small">First preference</h3>
    <p id="firstPreference">Newcastle (Business, Cyber security)</p>
  </section>
  <section>
    <h3 class="heading-small">Second preference</h3>
    <p id="secondPreference">Manchester (Cyber security, Business admin)</p>
    <p id="noSecondPreference" class="hidden">No second preference chosen</p>
  </section>
  <section>
    <h3 class="heading-small">Would you consider an alternative location?</h3>
    <p id="considerAltLocation">Yes</p>
  </section>
  <section>
    <h3 class="heading-small">Would you consider an alternative scheme?</h3>
    <p id="considerAltScheme">No</p>
  </section>
</section>

<section class="section-border">
  <h2 class="heading-large">
    Additional information
    <a class="icon-with-text" href="assistance.html"><i class="the-icon fa fa-pencil"></i><span class="the-text">Edit section</span></a>
  </h2>
  <section>
    <h3 class="heading-small">Do you have a disability?</h3>
    <p>No</p>
  </section>
  <section>
    <h3 class="heading-small">Will you need adjustments or support for your assessment?</h3>
    <p>No</p>
  </section>
  <section>
    <h3 class="heading-small">How did you hear about us?</h3>
    <p>Not specified</p>
  </section>
</section>


<a href="questionnaire.html" class="button">Save and continue</a>
<a href="profile-details.html" class="button-link">Change your application</a>
<!-- <a href="profile-home-saved.html" class="button-link">Save to continue later</a> -->
