---
pageTitle: Email
layout: email-layout.hbs
sentName: Fast Track apprenticeship team
sentSubject: You need to confirm your assessment date
sentSnippet: Your assessment date is ready for you to confirm.
sentDate: 3:56pm on 10 April 2016
---

<p>Dear John</p>
<p>Congratulations, we've assessed your results and you've passed your online tests.</p>
<p>Your assessment is scheduled for 12pm on 29 April 2016.</p>
<h3>
  You need to sign in to confirm you can attend.
</h3>
<h3>
  Confirm within 7 days or you'll lose your slot.
</h3>
<p>Sign in to your home page to confirm.<br> (<a href="/fasttrack/profile-signin.html?Status=attend">https://www.apply-civil-service-apprenticeship.service.gov.uk/csr-fast-track/signin</a>)</p>
<p>Thank you</p>
<p>Fast Track apprenticeship team</p>
<br>
<p>If you need more help, call us on 03000 54 22 11.</p>
<p>Do not reply to this email</p>