---
pageTitle: Email
layout: email-layout.hbs
sentName: Fast Track apprenticeship team
sentSubject: Last chance to confirm your assessment date
sentSnippet: You need to confirm your assessment date.
sentDate: 3:56pm on 10 April 2016
---

<p>Dear John</p>
<h3>Your assessment is scheduled for<br> 100 Parliament Street, London, 29 April 2016.</h3>
<p>See the assessment centre locations (<a href="https://www.gov.uk/government/publications/fast-track-assessment-centre-locations">https://www.gov.uk/government/publications/fast-track-assessment-centre-locations</a>)</p>
<h3>
  Confirm by 11:59pm on 26 April 2016 or you'll lose your slot.
</h3>
<p>Sign in to confirm<br> (<a href="/fasttrack/profile-signin.html?Status=attend">https://www.apply-civil-service-apprenticeship.service.gov.uk/csr-fast-track/signin</a>)</p>
<p>Thank you</p>
<p>Fast Track apprenticeship team</p>
<br>
<p>If you need more help, call us on 03000 54 22 11.</p>
<p>Do not reply to this email</p>