---
pageTitle: Email
layout: email-layout.hbs
sentName: Fast Track apprenticeship team
sentSubject: Last chance to confirm your assessment date
sentSnippet: You need to confirm your assessment date.
sentDate: 3:56pm on 10 April 2016
---

<p>Dear John</p>
<p>You've already been notified of your assessment centre on scheduled for 26 May 2016 at 8.30am but have failed to confirm as requested.</p>
<h3>
  Please confirm by 11:59pm on 26 April 2016 or you'll lose your booking.
</h3>
<p>If you cannot attend on this date, please call us on 03000 54 22 11. We may be able to reschedule your assessment.</p>
<p>You need to sign in to see where your assessment will be held and to confirm you can attend (<a href="/fasttrack/profile-signin.html?Status=attend">https://www.apply-civil-service-apprenticeship.service.gov.uk/csr-fast-track/signin</a>)</p>
<p>Please note that late cancellation or failure to confirm as requested may result in us being unable to offer you an alternative assessment appointment.</p>
<p>If you no longer wish to continue, please sign in and withdraw your application. We'll then stop sending any further emails.</p>
<p>Thank you</p>
<p>Fast Track apprenticeship team</p>
<br>
<p>If you need more help, call us on 03000 54 22 11.</p>
<p>Do not reply to this email</p>