---
pageTitle: Email
layout: email-layout.hbs
sentName: Fast Track apprenticeship team
sentSubject: Assessment centre results
sentSnippet: Sign in to check your results
sentDate: 3:56pm on 10 April 2016
---

<p>Dear John</p>
<p>Thank you for attending the Fast Track assessment centre.</p>
<p>We're writing to let you know that unfortunately on this occasion you didn't reach the pass mark for the Fast Track scheme and we won't be taking your application further.</p>
<p>We appreciate this may be disappointing, however the Civil Service does offer other career opportunities. You can find details at: <a href="http://www.civilservice.gov.uk/jobs">www.civilservice.gov.uk/jobs</a>.</p>
<p>If you'd like feedback on your performance at the assessment centre, call 03000 54 22 11 to request this. Feedback requests will be processed from December 2016 onwards.</p>
<p>Thank you for your interest in the Fast Track programme and we wish you every success for the future.</p>
<p>Fast Track apprenticeship team</p>
<br>
<p>If you need more help, call us on 03000 54 22 11.</p>
<p>Do not reply to this email</p>