---
pageTitle: Email
layout: email-layout.hbs
sentName: Fast Track apprenticeship team
sentSubject: Assessment centre results
sentSnippet: Sign in to check your results
sentDate: 3:56pm on 10 April 2016
---

<p>Dear John</p>
<p>Congratulations! We're pleased to let you know you've successfully passed the Fast Track assessment.</p>
<p>We'll match you to a role and then we'll be in touch to confirm your allocated department and location.</p>
<p>We'll also ask you to give us the information we need to complete a pre-appointment security check. Your offer depends upon successful completion of the checks. If you give information you know is false, or you withhold any relevant information, your application may be rejected. Or, if you've already been appointed, you may be dismissed.</p>
<p>If you'd like feedback on your performance at the assessment centre, call 03000 54 22 11 to request this. Feedback requests will be processed from December 2016 onwards.</p>
<p>We recommend you don't resign from any employment until you've received a formal offer of appointment. If you withdraw your application, it won't be possible to re-instate your application at a later date.</p>
<p>Thank you</p>
<p>Fast Track apprenticeship team</p>
<br>
<p>If you need more help, call us on 03000 54 22 11.</p>
<p>Do not reply to this email</p>