---
pageTitle: Email
layout: email-layout.hbs
sentName: Fast Track apprenticeship team
sentSubject: Your assessment is in 2 days
sentSnippet: Here are some of the things you'll need to know
sentDate: 3:56pm on 10 April 2016
---

<p>Dear John</p>
<p>Here are some of the things you'll need to know for your upcoming assessment day.</p>
<h3>Date and time</h3>
<p>Your assessment has been confirmed for <b>29 April 2016 at 12pm</b></p>
<p>Try to leave plenty of time to arrive 30 minutes beforehand.</p>
<h3>Location</h3>
<img src="{{assets}}/img/assessment_staticmap.png" alt="">
<p>The <b>address</b> for the assessment is:</p>
<p>HMRC Offices <br>
31 High Road <br>
Finchley <br>
N3 2UU</p>
<h3>Bring with you</h3>
<p>You'll need an official form of <b>identification</b>.</p>
<p>You also need to bring any copies of qualification <b>certificates</b> that you have.</p>
<h3>If you can't attend</h3>
<p>It's extremely important to let us know if you can't attend your assessment. <br> If you feel that you can no longer attend, call us as soon as possible.</p>
<p>Thanks</p>
<p>Fast Track apprenticeship team</p>
<br>
<p>If you need more help, call us on 03000 54 22 11.</p>
<p>Do not reply to this email</p>