

<h1 class="heading-xlarge">Password reset</h1>

<h2 class="heading-large">Email address and code</h2>
<p class="text">Enter your 6-character code to reset your password</p>
<div class="form-group">
  <label for="enterEmail" class="form-label">Email address</label>
  <input type="text" id="enterEmail" class="form-control" value="yourname@email.com">
</div>
<div class="form-group">
  <label class="form-label" for="enter-code">Enter code</label>
  <input type="text" class="form-control" id="enter-code"/>
  <p><a href="#">Resend code</a></p>
</div>

<h2 class="heading-large">Your new password</h2>
<div class="form-group">
  <label for="Password" class="form-label">New password</label>
  <span class="form-hint">Requires upper and lowercase letters, a number and at least 8 characters</span>
  <div class="form-group form-group-compound password-wrapper">
    <input type="password" class="form-control" id="Password">
  </div>
  <p class="form-hint strength-indicator hide-nojs">Password strength: <span id="pass_meter" class=""></span></p>
  <div class="password-second">
    <label for="confirm-password" class="form-label">Confirm password</label>
    <input type="password" class="form-control">
  </div>
</div>
<div class="form-group">
  <a class="button" id="btnSignIn" href="profile-home.html">Reset password</a>
</div>