<div class="progress-indicator progress-indicator-horizontal">
  <ul>
    <li><a href="profile-home.html"><span class="hide-tablet">Page </span>1<span class="hide-tablet"> of 5</span>. Home</a></li>
    <li><a href="profile-details.html"><span class="hide-tablet">Page </span>2<span class="hide-tablet"> of 5</span>. Personal details</a></li>
    <li class="active"><a href="framework-selection.html"><span class="hide-tablet">Page </span>3<span class="hide-tablet"> of 5</span>. Preferred region/framework</a></li>
    <li><a href="" class="disabled"><span class="hide-tablet">Page </span>4<span class="hide-tablet"> of 5</span>. Online test</a></li>
    <li><a href="" class="disabled"><span class="hide-tablet">Page </span>5<span class="hide-tablet"> of 5</span>. Submit application</a></li>
  </ul>
</div>

<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <h1 class="heading-xlarge">Choose your preferred region and framework</h1>
  </div>
  <div class="grid grid-1-3">
    <p class="page-link"><a href="">What is a framework?</a></p>
  </div>
</div>

<div class="grid-wrapper">
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <div class="svg-map-container">
        <div class="map-legend grid-1-2">
          <h2 class="heading-medium" id="hoveredRegionName"></h2>
          <h3 class="heading-small">Locations</h3>
          <ul id="regionLocations">
          </ul>
        </div>

        <a href="#" data-region="Scotland" class="map-region" title="Scotland: The locations in this region are Glasgow and Edinburgh">
          <div class="region-description visuallyhidden">
            <span class="region-name">Scotland</span>: The locations in this region are Glasgow and Edinburgh
          </div>
          <span id="city-glasgow" class="region-city">
            <span class="region-citylabel visuallyhidden">Glasgow</span>
          </span>
          <span id="city-edinburgh" class="region-city">
            <span class="region-citylabel visuallyhidden">Edinburgh</span>
          </span>
        </a>

        <a href="#" data-region="North_East" class="map-region" title="North East: The locations in this region are Newcastle, Washington and Darlington">
          <div class="region-description visuallyhidden">
            <span class="region-name">North East</span>: The locations in this region are Newcastle, Washington and Darlington
          </div>
          <span id="city-newcastle" class="region-city">
            <span class="region-citylabel visuallyhidden">Newcastle</span>
          </span>
          <span id="city-washington" class="region-city">
            <span class="region-citylabel visuallyhidden">Washington</span>
          </span>
          <span id="city-darlington" class="region-city">
            <span class="region-citylabel visuallyhidden">Darlington</span>
          </span>
        </a>

        <a href="#" data-region="North_West" class="map-region" title="North West: The locations in this region are Liverpool, Manchester and Preston">
          <div class="region-description visuallyhidden">
            <span class="region-name">North West</span>: The locations in this region are Liverpool, Manchester and Preston
          </div>
          <span id="city-liverpool" class="region-city">
            <span class="region-citylabel visuallyhidden">Liverpool</span>
          </span>
          <span id="city-manchester" class="region-city">
            <span class="region-citylabel visuallyhidden">Manchester</span>
          </span>
          <span id="city-preston" class="region-city">
            <span class="region-citylabel visuallyhidden">Preston</span>
          </span>
        </a>

        <a href="#" data-region="Yorkshire-Humberside" class="map-region" title="Yorkshire &amp; Humberside: The locations in this region are Leeds and Sheffield">
          <div class="region-description visuallyhidden">
            <span class="region-name">Yorkshire &amp; Humberside</span>: The locations in this region are Leeds and Sheffield
          </div>
          <span id="city-leeds" class="region-city">
            <span class="region-citylabel visuallyhidden">Leeds</span>
          </span>
          <span id="city-sheffield" class="region-city">
            <span class="region-citylabel visuallyhidden">Sheffield</span>
          </span>
        </a>

        <a href="#" data-region="Wales" class="map-region" title="Wales: The locations in this region are Cardiff and Swansea">
          <div class="region-description visuallyhidden">
            <span class="region-name">Wales</span>: The locations in this region are Cardiff and Swansea
          </div>
          <span id="city-cardiff" class="region-city">
            <span class="region-citylabel visuallyhidden">Cardiff</span>
          </span>
          <span id="city-swansea" class="region-city">
            <span class="region-citylabel visuallyhidden">Swansea</span>
          </span>
        </a>

        <a href="#" data-region="Midlands" class="map-region" title="Midlands: The locations in this region are Birmingham, Nottingham, Wolverhampton, Coventry and Telford">
          <div class="region-description visuallyhidden">
            <span class="region-name">Midlands</span>: The locations in this region are Birmingham, Nottingham, Wolverhampton, Coventry and Telford
          </div>
          <span id="city-birmingham" class="region-city">
            <span class="region-citylabel visuallyhidden">Birmingham</span>
          </span>
          <span id="city-nottingham" class="region-city">
            <span class="region-citylabel visuallyhidden">Nottingham</span>
          </span>
          <span id="city-wolverhampton" class="region-city">
            <span class="region-citylabel visuallyhidden">Wolverhampton</span>
          </span>
          <span id="city-coventry" class="region-city">
            <span class="region-citylabel visuallyhidden">Coventry</span>
          </span>
          <span id="city-telford" class="region-city">
            <span class="region-citylabel visuallyhidden">Telford</span>
          </span>
        </a>

        <a href="#" data-region="Milton_Keynes" class="map-region" title="Milton Keynes: The locations in this region are Milton Keynes, Bedford and Hertford">
          <div class="region-description visuallyhidden">
            <span class="region-name">Milton Keynes</span>: The locations in this region are Milton Keynes, Bedford and Hertford
          </div>
          <span id="city-miltonkeynes" class="region-city">
            <span class="region-citylabel visuallyhidden">Milton Keynes</span>
          </span>
          <span id="city-bedford" class="region-city">
            <span class="region-citylabel visuallyhidden">Bedford</span>
          </span>
          <span id="city-hertford" class="region-city">
            <span class="region-citylabel visuallyhidden">Hertford</span>
          </span>
        </a>

        <a href="#" data-region="London" class="map-region" title="London: The locations in this region are London and Reading">
          <div class="region-description visuallyhidden">
            <span class="region-name">London</span>: The locations in this region are London and Reading
          </div>
          <span id="city-london" class="region-city">
            <span class="region-citylabel visuallyhidden">London</span>
          </span>
          <span id="city-reading" class="region-city">
            <span class="region-citylabel visuallyhidden">Reading</span>
          </span>
        </a>

        <a href="#" data-region="South_West" class="map-region" title="South West: The locations in this region are Bristol and Shrivenham">
          <div class="region-description visuallyhidden">
            <span class="region-name">South West</span>: The locations in this region are Bristol and Shrivenham
          </div>
          <span id="city-bristol" class="region-city">
            <span class="region-citylabel visuallyhidden">Bristol</span>
          </span>
          <span id="city-shrivenham" class="region-city">
            <span class="region-citylabel visuallyhidden">Shrivenham</span>
          </span>
        </a>

        {{> map-uk }}
      </div>
    </div>
  </div>
  <div class="grid grid-1-2">
    <section id="selectLocationBlurb">
      <h2 class="heading-large">
        Select a region
      </h2>
      <p>Choose from the regions on the map, each region has a number of locations. The frameworks listed will vary depending on what the location offers.</p>
    </section>
    <section class="hidden" id="locationSelectedContainer">
      <div class="hgroup-large">
        <h2 class="heading-large">
          Region selected
        </h2>
        <p class="subtitle" id="regionNameHeading"></p>
      </div>
      <p>The locations in this region are <span id="regionLocationBlurb"></span>.</p>
      <p>The frameworks provided in this region are: </p>
      <ul class="list-bullet">
        <li>Business administration</li>
        <li>Commercial</li>
        <li>Cyber security</li>
        <li>Digital and technology</li>
        <li>Finance</li>
      </ul>

      <div class="form-group">
        <label for="frameworkPref1" class="form-label">Your preferred framework</label>
        <select name="" id="frameworkPref1" class="chosen-select" data-placeholder="Choose from list or begin typing">
          <option value=""></option>
          <option value="">Business administration</option>
          <option value="">Commercial</option>
          <option value="">Cyber security</option>
          <option value="">Digital and technology</option>
          <option value="">Finance</option>
        </select>
      </div>

      <div class="form-group">
        <label for="frameworkPref1" class="form-label">Second preference of framework</label>
        <select name="" id="frameworkPref1" class="chosen-select" data-placeholder="Choose from list or begin typing">
          <option value=""></option>
          <option value="">Business administration</option>
          <option value="">Commercial</option>
          <option value="">Cyber security</option>
          <option value="">Digital and technology</option>
          <option value="">Finance</option>
        </select>
      </div>

      <div class="panel-indent">
        <p>We can't guarantee that you will be offered your preferred region or framework.</p>
      </div>

      <a href="profile-home.html" class="button">Save and continue</a>
    </section>
  </div>
</div>

<script src="{{assets}}/js/region-selector.js"></script>




























