
<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <h1 class="heading-xlarge">Choose preferred location and framework</h1>
  </div>
  <div class="grid grid-1-3">
    <p class="page-link"><a href="">What is a framework?</a></p>
  </div>
</div>

<div class="grid-wrapper">
  <div class="grid grid-1-3">
    <div class="inner-block-padr map-legend-container">
      <div class="map-legend grid-1-2">
        <h2 class="heading-small" id="hoveredRegionName"></h2>
      </div>
      <div class="svg-map-container">
        {{> map-uk }}
      </div>
    </div>
  </div>
  <div class="grid grid-2-3">
    <section class="hidden" id="firstChoiceInfo">
      <h2 class="heading-medium">First choice</h2>
      <h3 class="heading-small" id="firstChosenLocation"></h3>
      <p id="firstChosenFrameworks"></p>
      <p><a href="#">Change this selection</a></p>
      <div class="form-group">
        <a href="#" class="button" id="addSecondButton">Add a second preference</a>
        <a href="#" class="button-link" id="noSecondPreference">No second preference</a>
      </div>
    </section>

    <section>
      <h2 class="heading-medium">
        Choose your preferred location
      </h2>
      <p id="selectLocationBlurb">Start by selecting a region on the map to see the available locations, or alternatively choose a location from the list. The frameworks available at different locations will vary.</p>
      <p id="chosenRegionBlurb" class="hidden">Choose a location in the region: <b></b></p>
      <div class="grid-2-3">
        <select name="" id="regionSelect" class="para-btm-margin chosen-select" data-placeholder="-- Select a location, or start typing --">
          <option value="null"></option>
          <optgroup data-optregion="Scotland" label="Scotland">
            <option value="Bathgate (Edinburgh)">Bathgate (Edinburgh)</option>
            <option value="Cumbernauld">Cumbernauld</option>
            <option value="Dundee">Dundee</option>
            <option value="East Kilbride">East Kilbride</option>
            <option value="Edinburgh">Edinburgh</option>
            <option value="Glasgow">Glasgow</option>
          </optgroup>
          <optgroup data-optregion="North-east" label="North-east">
            <option value="Jarrow South">Jarrow South</option>
            <option value="Darlington">Darlington</option>
            <option value="Newcastle">Newcastle</option>
            <option value="Stockton">Stockton</option>
            <option value="Teeside">Teeside</option>
            <option value="Washington">Washington</option>
          </optgroup>
          <optgroup data-optregion="North-west" label="North-west">
            <option value="Blackpool">Blackpool</option>
            <option value="Bootle">Bootle</option>
            <option value="Liverpool">Liverpool</option>
            <option value="Lytham St Annes">Lytham St Annes</option>
            <option value="Manchester">Manchester</option>
            <option value="Preston">Preston</option>
            <option value="Salford">Salford</option>
            <option value="Shipley">Shipley</option>
          </optgroup>
          <optgroup data-optregion="Yorkshire-humberside" label="Yorkshire &amp; Humberside">
            <option value="Bradford">Bradford</option>
            <option value="Leeds">Leeds</option>
            <option value="Sheffield">Sheffield</option>
            <option value="York">York</option>
          </optgroup>
          <optgroup data-optregion="Wales" label="Wales">
            <option value="Cardiff">Cardiff</option>
            <option value="Merthyr Tydfil">Merthyr Tydfil</option>
            <option value="Swansea">Swansea</option>
          </optgroup>
          <optgroup data-optregion="East-midlands" label="East Midlands">
            <option value="Leicester">Leicester</option>
            <option value="Nottingham">Nottingham</option>
          </optgroup>
          <optgroup data-optregion="West-midlands" label="West Midlands">
            <option value="Birmingham">Birmingham</option>
            <option value="Cosford">Cosford</option>
            <option value="Coventry">Coventry</option>
            <option value="Handsworth">Handsworth</option>
            <option value="Lichfield">Lichfield</option>
            <option value="Stratford">Stratford</option>
            <option value="Sutton Coldfield">Sutton Coldfield</option>
            <option value="Telford">Telford</option>
            <option value="Walsall">Walsall</option>
            <option value="Wolverhampton">Wolverhampton</option>
          </optgroup>
          <optgroup data-optregion="East" label="East">
            <option value="Bedford">Bedford</option>
            <option value="Hertford">Hertford</option>
            <option value="Milton Keynes">Milton Keynes</option>
            <option value="Norwich">Norwich</option>
            <option value="Southend">Southend</option>
          </optgroup>
          <optgroup data-optregion="South-east" label="South-east">
            <option value="Andover">Andover</option>
            <option value="Aylesbury (Buckinghamshire)">Aylesbury (Buckinghamshire)</option>
            <option value="Chilton">Chilton</option>
            <option value="Hastings">Hastings</option>
            <option value="High Wycombe">High Wycombe</option>
            <option value="Kent (inc.Ramsgate)">Kent (inc.Ramsgate)</option>
            <option value="Oxford">Oxford</option>
            <option value="Reading">Reading</option>
            <option value="Shrivenham">Shrivenham</option>
            <option value="Surrey">Surrey</option>
            <option value="Worthing">Worthing</option>
          </optgroup>
          <optgroup data-optregion="London" label="Greater London">
            <option value="Hackney">Hackney</option>
            <option value="London">London</option>
            <option value="Northwood">Northwood</option>
          </optgroup>
          <optgroup data-optregion="South-west" label="South-west">
            <option value="Bristol">Bristol</option>
          </optgroup>
        </select>
      </div>
    </section>
    <section class="hidden" id="locationSelectedContainer" aria-hidden="true">

      <h2 class="heading-medium" aria-live="polite">Choose a framework</h2>

      <div class="grid-3-4">
        <div class="form-group">
          <label for="frameworkPref1" class="form-label">Select your preferred framework</label>
          <select name="" id="frameworkPref1" class="chosen-select" data-placeholder="Choose from list or begin typing">
            <option value=""></option>
            <option value="Business administration">Business administration</option>
            <option value="Commercial">Commercial</option>
            <option value="Cyber security">Cyber security</option>
            <option value="Digital and technology">Digital and technology</option>
            <option value="Finance">Finance</option>
          </select>
        </div>

        <div class="form-group toggle-content" id="secondPreferenceContainer">
          <label for="frameworkPref2" class="form-label">Second preference of framework</label>
          <select name="" id="frameworkPref2" class="chosen-select" data-placeholder="Choose from list or begin typing">
            <option value=""></option>
            <option value="Business administration">Business administration</option>
            <option value="Commercial">Commercial</option>
            <option value="Cyber security">Cyber security</option>
            <option value="Digital and technology">Digital and technology</option>
            <option value="Finance">Finance</option>
            <option value="No second preference">No second preference</option>
          </select>
        </div>
      </div>

    </section>

    <a href="#" class="button hidden" id="firstChoiceSave">Save first choice</a>

    <section id="considerAlternatives" class="hidden">
      <div class="panel-indent">
        <p>If we can't guarantee your preferred region or framework, we may suggest an alernative.</p>
      </div>

      <p class="form-label">Would you consider an alternative region?</p>
      <div class="form-group form-group-compound">
        <label for="altregion-yes" class="block-label">
          <input name="altregion" type="radio" id="altregion-yes">Yes
        </label>
        <label for="altregion-no" class="block-label">
          <input name="altregion" type="radio" id="altregion-no">No
        </label>
      </div>

      <p class="form-label">Would you consider an alternative framework?</p>
      <div class="form-group form-group-compound">
        <label for="altframework-yes" class="block-label">
          <input name="altframework" type="radio" id="altframework-yes">Yes
        </label>
        <label for="altframework-no" class="block-label">
          <input name="altframework" type="radio" id="altframework-no">No
        </label>
      </div>

      <a href="assistance.html" class="button">Save and continue</a>
    </section>
  </div>
</div>

<script src="{{assets}}/js/region-selector.js"></script>
























