<h1 class="heading-xlarge">Choose your location and framework</h1>

<div class="grid-wrapper">
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <div class="svg-map-container">
        <a href="#" data-region="Scotland" class="map-region" title="Scotland: Locations include Glasgow and Edinburgh">
          <span class="region-description visuallyhidden">Scotland: Locations include Glasgow and Edinburgh</span>
          <span class="region-city city-glasgow">Glasgow</span>
          <span class="region-city city-edinburgh">Edinburgh</span>
        </a>
        <a href="#" data-region="North_East" class="map-region" title="North East: Locations include Newcastle, Washington and Darlington">
          <span class="region-description visuallyhidden">North East: Locations include Newcastle, Washington and Darlington</span>
          <span class="region-city city-newcastle">Newcastle</span>
          <span class="region-city city-washington">Washington</span>
          <span class="region-city city-darlington">Darlington</span>
        </a>
        <a href="#" data-region="North_West" class="map-region" title="North West: Locations include Liverpool, Manchester and Preston">
          <span class="region-description visuallyhidden">North West: Locations include Liverpool, Manchester and Preston</span>
          <span class="region-city city-liverpool">Liverpool</span>
          <span class="region-city city-manchester">Manchester</span>
          <span class="region-city city-preston">Preston</span>
        </a>
        <a href="#" data-region="Yorkshire-Humberside" class="map-region" title="Yorkshire &amp; Humberside: Locations include Leeds and Sheffield">
          <span class="region-description visuallyhidden">Yorkshire &amp; Humberside: Locations include Leeds and Sheffield</span>
          <span class="region-city city-leeds">Leeds</span>
          <span class="region-city city-sheffield">Sheffield</span>
        </a>
        <a href="#" data-region="Wales" class="map-region" title="Wales: Locations include Cardiff and Swansea">
          <span class="region-description visuallyhidden">Wales: Locations include Cardiff and Swansea</span>
          <span class="region-city city-cardiff">Cardiff</span>
          <span class="region-city city-swansea">Swansea</span>
        </a>
        <a href="#" data-region="Midlands" class="map-region" title="Midlands: Locations include Birmingham, Nottingham, Wolverhampton, Coventry and Telford">
          <span class="region-description visuallyhidden">Midlands: Locations include Birmingham, Nottingham, Wolverhampton, Coventry and Telford</span>
          <span class="region-city city-birmingham">Birmingham</span>
          <span class="region-city city-nottingham">Nottingham</span>
          <span class="region-city city-wolverhampton">Wolverhampton</span>
          <span class="region-city city-coventry">Coventry</span>
          <span class="region-city city-telford">Telford</span>
        </a>
        <a href="#" data-region="Milton_Keynes" class="map-region" title="Milton Keynes: Locations include Milton Keynes, Bedford and Hertford">
          <span class="region-description visuallyhidden">Milton Keynes: Locations include Milton Keynes, Bedford and Hertford</span>
          <span class="region-city city-miltonkeynes">Milton Keynes</span>
          <span class="region-city city-bedford">Bedford</span>
          <span class="region-city city-hertford">Hertford</span>
        </a>
        <a href="#" data-region="London" class="map-region" title="London: Locations include London and Reading">
          <span class="region-description visuallyhidden">London: Locations include London and Reading</span>
          <span class="region-city city-london">London</span>
          <span class="region-city city-reading">Reading</span>
        </a>
        <a href="#" data-region="South_West" class="map-region" title="South West: Locations include  Bristol and Shrivenham">
          <span class="region-description visuallyhidden">South West: Locations include  Bristol and Shrivenham</span>
          <span class="region-city city-bristol">Bristol</span>
          <span class="region-city city-shrivenham">Shrivenham</span>
        </a>
        {{> map-uk }}
      </div>
    </div>
  </div>
  <div class="grid grid-1-2">
    <h2 class="heading-large">
      Select a framework
    </h2>
  </div>
</div>

<script>
  // $(function() {

  //   // $('.map-region').each(function() {
  //   //   var $this = $(this),
  //   //       $regionName = $this.attr('data-region');

  //   // });

  //   var $mostRecentRegion

  //   $('.region-container').on('mouseover', function() {
  //     var $this = $(this),
  //         $regionName = $this.attr('id');

  //     $('.map-region[data-region="' + $regionName).show();
  //   });

  //   $('.region-container').on('mouseleave', function() {
  //     var $this = $(this),
  //         $regionName = $this.attr('id');

  //     $('.map-region').not('.map-region[data-region="' + $regionName).hide();
  //   });


  // });
</script>




























