
<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <h1 class="heading-xlarge">Choose preferred location and framework</h1>
  </div>
  <div class="grid grid-1-3">
    <p class="page-link"><a href="">What is a framework?</a></p>
  </div>
</div>

<div class="grid-wrapper">
  <div class="skiplink-container">
    <div aria-live="polite">
      <a href="#regionSelect" class="skiplink para-btm-margin" aria-live="polite" title="Choose a region">Choose a region</a>
      <select name="" id="regionSelect" class="skiplink para-btm-margin" aria-live="polite">
        <option value="null">-- Choose your preferred region from this list --</option>
        <option value="Scotland">Scotland</option>
        <option value="North-east">North-east</option>
        <option value="North-west">North-west</option>
        <option value="Yorkshire-humberside">Yorkshire &amp; Humberside</option>
        <option value="Wales">Wales</option>
        <option value="East-midlands">East midlands</option>
        <option value="West-midlands">West midlands</option>
        <option value="East">East</option>
        <option value="South-east">South-east</option>
        <option value="London">London</option>
        <option value="South-west">South-west</option>
      </select>
    </div>
  </div>
  <div class="grid grid-1-3">
    <div class="inner-block-padr map-legend-container">
      <div class="map-legend grid-1-2">
        <h2 class="heading-small" id="hoveredRegionName"></h2>
      </div>
      <div class="svg-map-container">
        {{> map-uk }}
      </div>
    </div>
  </div>
  <div class="grid grid-2-3">
    <section id="selectLocationBlurb">
      <h2 class="heading-medium">
        Choose your preferred location
      </h2>
      <p>Start by selecting a region on the map to see the available locations, or alternatively choose a location from the list. The frameworks available at different locations will vary.</p>
    </section>
    <section class="hidden" id="locationSelectedContainer" aria-hidden="true">
      <div class="hgroup-medium">
        <h2 class="heading-medium">
          Region selected
        </h2>
        <p class="subtitle" id="regionNameHeading" aria-live="polite"></p>
      </div>
      <p aria-live="polite">The locations in this region are <span id="regionLocationBlurb"></span>.</p>

      <h2 class="heading-medium" aria-live="polite">Choose a framework</h2>

      <div class="grid-3-4">
        <div class="form-group">
          <label for="frameworkPref1" class="form-label">Select your preferred framework</label>
          <select name="" id="frameworkPref1" class="chosen-select" data-placeholder="Choose from list or begin typing">
            <option value=""></option>
            <option value="Business administration">Business administration</option>
            <option value="Commercial">Commercial</option>
            <option value="Cyber security">Cyber security</option>
            <option value="Digital and technology">Digital and technology</option>
            <option value="Finance">Finance</option>
          </select>
        </div>

        <div class="form-group toggle-content" id="secondPreferenceContainer">
          <label for="frameworkPref2" class="form-label">Second preference of framework</label>
          <select name="" id="frameworkPref2" class="chosen-select" data-placeholder="Choose from list or begin typing">
            <option value=""></option>
            <option value="Business administration">Business administration</option>
            <option value="Commercial">Commercial</option>
            <option value="Cyber security">Cyber security</option>
            <option value="Digital and technology">Digital and technology</option>
            <option value="Finance">Finance</option>
            <option value="No second preference">No second preference</option>
          </select>
        </div>
      </div>

      <div class="panel-indent">
        <p>If we can't guarantee your preferred region or framework, we may suggest an alernative.</p>
      </div>

      <p class="form-label">Would you consider an alternative region?</p>
      <div class="form-group form-group-compound">
        <label for="altregion-yes" class="block-label">
          <input name="altregion" type="radio" id="altregion-yes">Yes
        </label>
        <label for="altregion-no" class="block-label">
          <input name="altregion" type="radio" id="altregion-no">No
        </label>
      </div>

      <p class="form-label">Would you consider an alternative framework?</p>
      <div class="form-group form-group-compound">
        <label for="altframework-yes" class="block-label">
          <input name="altframework" type="radio" id="altframework-yes">Yes
        </label>
        <label for="altframework-no" class="block-label">
          <input name="altframework" type="radio" id="altframework-no">No
        </label>
      </div>

      <a href="assistance.html" class="button">Save and continue</a>
    </section>
  </div>
</div>

<script src="{{assets}}/js/region-selector.js"></script>

<script>
  $(function() {
    $('#frameworkPref1').on('change', function() {
      var $thisVal = $(this).val();

      $('#secondPreferenceContainer').show();

      $('#frameworkPref2').find('option[value="' + $thisVal + '"]').attr('disabled', true);
      $('#frameworkPref2').find('option').not('option[value="' + $thisVal + '"]').attr('disabled', false);

      $("#frameworkPref2").trigger("chosen:updated");
    });

    $('#frameworkPref2').on('change', function() {
      var $thisVal = $(this).val();

      $('#frameworkPref1').find('option[value="' + $thisVal + '"]').attr('disabled', true);
      $('#frameworkPref1').find('option').not('option[value="' + $thisVal + '"]').attr('disabled', false);

      $("#frameworkPref1").trigger("chosen:updated");
    });
  });
</script>


























