<div class="progress-indicator progress-indicator-horizontal">
  <ul>
    <li><a href="profile-home.html"><span class="hide-tablet">Page </span>1<span class="hide-tablet"> of 4</span>. Home</a></li>
    <li><a href="profile-details.html"><span class="hide-tablet">Page </span>2<span class="hide-tablet"> of 4</span>. Personal details</a></li>
    <li class="active"><a href="framework-selection.html"><span class="hide-tablet">Page </span>3<span class="hide-tablet"> of 4</span>. Preferred region/framework</a></li>
    <li><a href="" class="disabled"><span class="hide-tablet">Page </span>4<span class="hide-tablet"> of 4</span>. Submit application</a></li>
  </ul>
</div>

<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <h1 class="heading-xlarge">Choose your preferred region and framework</h1>
  </div>
  <div class="grid grid-1-3">
    <p class="page-link"><a href="">What is a framework?</a></p>
  </div>
</div>

<div class="grid-wrapper">
  <div class="skiplink-container">
    <div>
      <a href="#regionSelect" class="skiplink">Choose a region</a>
      <select name="" id="regionSelect" class="skiplink">
        <option value="null">-- Choose your preferred region from this list --</option>
        <option value="Scotland">Scotland: The locations in this region are Glasgow and Edinburgh</option>
        <option value="North-east">North-east: The locations in this region are Newcastle, Washington and Darlington</option>
        <option value="North-west">North-west: The locations in this region are Liverpool, Manchester and Preston</option>
        <option value="Yorkshire-Humberside">Yorkshire &amp; Humberside: The locations in this region are Leeds and Sheffield</option>
        <option value="Wales">Wales: The locations in this region are Cardiff and Swansea</option>
        <option value="Midlands">Midlands: The locations in this region are Birmingham, Nottingham, Wolverhampton, Coventry and Telford</option>
        <option value="East">East: The locations in this region are Milton Keynes, Bedford and Hertford</option>
        <option value="South-east">South-east: The locations in this region are London and Reading</option>
        <option value="South-west">South-west: The locations in this region are Bristol and Shrivenham</option>
      </select>
    </div>
  </div>
  <div class="grid grid-1-3">
    <div class="inner-block-padr map-legend-container">
      <div class="map-legend grid-1-2">
        <h2 class="heading-small" id="hoveredRegionName"></h2>
        <ul id="regionLocations" class="font-xsmall">
        </ul>
      </div>
      <div class="svg-map-container">
        <a href="#" data-region="Scotland" class="map-region" title="Scotland: The locations in this region are Glasgow and Edinburgh" disabled="disabled">
          <div class="region-description visuallyhidden">
            <span class="region-name">Scotland</span>: The locations in this region are Glasgow and Edinburgh
          </div>
          <span id="city-glasgow" class="region-city">
            <span class="region-citylabel visuallyhidden">Glasgow</span>
          </span>
          <span id="city-edinburgh" class="region-city">
            <span class="region-citylabel visuallyhidden">Edinburgh</span>
          </span>
        </a>

        <a href="#" data-region="North-east" class="map-region" title="North-east: The locations in this region are Newcastle, Washington and Darlington" disabled="disabled">
          <div class="region-description visuallyhidden">
            <span class="region-name">North-east</span>: The locations in this region are Newcastle, Washington and Darlington
          </div>
          <span id="city-newcastle" class="region-city">
            <span class="region-citylabel visuallyhidden">Newcastle</span>
          </span>
          <span id="city-washington" class="region-city">
            <span class="region-citylabel visuallyhidden">Washington</span>
          </span>
          <span id="city-darlington" class="region-city">
            <span class="region-citylabel visuallyhidden">Darlington</span>
          </span>
        </a>

        <a href="#" data-region="North-west" class="map-region" title="North-west: The locations in this region are Liverpool, Manchester and Preston" disabled="disabled">
          <div class="region-description visuallyhidden">
            <span class="region-name">North-west</span>: The locations in this region are Liverpool, Manchester and Preston
          </div>
          <span id="city-liverpool" class="region-city">
            <span class="region-citylabel visuallyhidden">Liverpool</span>
          </span>
          <span id="city-manchester" class="region-city">
            <span class="region-citylabel visuallyhidden">Manchester</span>
          </span>
          <span id="city-preston" class="region-city">
            <span class="region-citylabel visuallyhidden">Preston</span>
          </span>
        </a>

        <a href="#" data-region="Yorkshire-Humberside" class="map-region" title="Yorkshire &amp; Humberside: The locations in this region are Leeds and Sheffield" disabled="disabled">
          <div class="region-description visuallyhidden">
            <span class="region-name">Yorkshire &amp; Humberside</span>: The locations in this region are Leeds and Sheffield
          </div>
          <span id="city-leeds" class="region-city">
            <span class="region-citylabel visuallyhidden">Leeds</span>
          </span>
          <span id="city-sheffield" class="region-city">
            <span class="region-citylabel visuallyhidden">Sheffield</span>
          </span>
        </a>

        <a href="#" data-region="Wales" class="map-region" title="Wales: The locations in this region are Cardiff and Swansea" disabled="disabled">
          <div class="region-description visuallyhidden">
            <span class="region-name">Wales</span>: The locations in this region are Cardiff and Swansea
          </div>
          <span id="city-cardiff" class="region-city">
            <span class="region-citylabel visuallyhidden">Cardiff</span>
          </span>
          <span id="city-swansea" class="region-city">
            <span class="region-citylabel visuallyhidden">Swansea</span>
          </span>
        </a>

        <a href="#" data-region="Midlands" class="map-region" title="Midlands: The locations in this region are Birmingham, Nottingham, Wolverhampton, Coventry and Telford" disabled="disabled">
          <div class="region-description visuallyhidden">
            <span class="region-name">Midlands</span>: The locations in this region are Birmingham, Nottingham, Wolverhampton, Coventry and Telford
          </div>
          <span id="city-birmingham" class="region-city">
            <span class="region-citylabel visuallyhidden">Birmingham</span>
          </span>
          <span id="city-nottingham" class="region-city">
            <span class="region-citylabel visuallyhidden">Nottingham</span>
          </span>
          <span id="city-wolverhampton" class="region-city">
            <span class="region-citylabel visuallyhidden">Wolverhampton</span>
          </span>
          <span id="city-coventry" class="region-city">
            <span class="region-citylabel visuallyhidden">Coventry</span>
          </span>
          <span id="city-telford" class="region-city">
            <span class="region-citylabel visuallyhidden">Telford</span>
          </span>
        </a>

        <a href="#" data-region="East" class="map-region" title="East: The locations in this region are Milton Keynes, Bedford and Hertford" disabled="disabled">
          <div class="region-description visuallyhidden">
            <span class="region-name">East</span>: The locations in this region are Milton Keynes, Bedford and Hertford
          </div>
          <span id="city-miltonkeynes" class="region-city">
            <span class="region-citylabel visuallyhidden">Milton Keynes</span>
          </span>
          <span id="city-bedford" class="region-city">
            <span class="region-citylabel visuallyhidden">Bedford</span>
          </span>
          <span id="city-hertford" class="region-city">
            <span class="region-citylabel visuallyhidden">Hertford</span>
          </span>
        </a>

        <a href="#" data-region="South-east" class="map-region" title="South-east: The locations in this region are London and Reading" disabled="disabled">
          <div class="region-description visuallyhidden">
            <span class="region-name">South-east</span>: The locations in this region are London and Reading
          </div>
          <span id="city-london" class="region-city">
            <span class="region-citylabel visuallyhidden">London</span>
          </span>
          <span id="city-reading" class="region-city">
            <span class="region-citylabel visuallyhidden">Reading</span>
          </span>
        </a>

        <a href="#" data-region="South-west" class="map-region" title="South-west: The locations in this region are Bristol and Shrivenham" disabled="disabled">
          <div class="region-description visuallyhidden">
            <span class="region-name">South-west</span>: The locations in this region are Bristol and Shrivenham
          </div>
          <span id="city-bristol" class="region-city">
            <span class="region-citylabel visuallyhidden">Bristol</span>
          </span>
          <span id="city-shrivenham" class="region-city">
            <span class="region-citylabel visuallyhidden">Shrivenham</span>
          </span>
        </a>

        {{> map-uk }}
      </div>
    </div>
  </div>
  <div class="grid grid-2-3">
    <section id="selectLocationBlurb">
      <h2 class="heading-medium">
        Select a region
      </h2>
      <p>Choose the region you’d prefer to be based in during your apprenticeship from the map. Each region has a number of locations. The frameworks available at different locations will vary.</p>
    </section>
    <section class="hidden" id="locationSelectedContainer">
      <div class="hgroup-medium">
        <h2 class="heading-medium">
          Region selected
        </h2>
        <p class="subtitle" id="regionNameHeading"></p>
      </div>
      <h2 class="heading-medium">Choose a framework</h2>

      <div class="grid-3-4">
        <div class="form-group">
          <label for="frameworkPref1" class="form-label">Select your preferred framework</label>
          <select name="" id="frameworkPref1" class="chosen-select" data-placeholder="Choose from list or begin typing">
            <option value=""></option>
            <option value="Business administration">Business administration</option>
            <option value="Commercial">Commercial</option>
            <option value="Cyber security">Cyber security</option>
            <option value="Digital and technology">Digital and technology</option>
            <option value="Finance">Finance</option>
          </select>
        </div>

        <div class="form-group toggle-content" id="secondPreferenceContainer">
          <label for="frameworkPref2" class="form-label">Second preference of framework</label>
          <select name="" id="frameworkPref2" class="chosen-select" data-placeholder="Choose from list or begin typing">
            <option value=""></option>
            <option value="Business administration">Business administration</option>
            <option value="Commercial">Commercial</option>
            <option value="Cyber security">Cyber security</option>
            <option value="Digital and technology">Digital and technology</option>
            <option value="Finance">Finance</option>
            <option value="No second preference">No second preference</option>
          </select>
        </div>
      </div>

      <div class="panel-indent">
        <p>If we can't guarantee your preferred region or framework, we may suggest an alernative.</p>
      </div>

      <p class="form-label">Would you consider an alternative region?</p>
      <div class="form-group form-group-compound">
        <label for="altregion-yes" class="block-label">
          <input name="altregion" type="radio" id="altregion-yes">Yes
        </label>
        <label for="altregion-no" class="block-label">
          <input name="altregion" type="radio" id="altregion-no">No
        </label>
      </div>

      <p class="form-label">Would you consider an alternative framework?</p>
      <div class="form-group form-group-compound">
        <label for="altframework-yes" class="block-label">
          <input name="altframework" type="radio" id="altframework-yes">Yes
        </label>
        <label for="altframework-no" class="block-label">
          <input name="altframework" type="radio" id="altframework-no">No
        </label>
      </div>

      <a href="apply-check.html" class="button">Save and continue</a>
    </section>
  </div>
</div>

<script src="{{assets}}/js/region-selector.js"></script>

<script>
  $(function() {
    $('#frameworkPref1').on('change', function() {
      var $thisVal = $(this).val();

      $('#secondPreferenceContainer').show();

      $('#frameworkPref2').find('option[value="' + $thisVal + '"]').attr('disabled', true);
      $('#frameworkPref2').find('option').not('option[value="' + $thisVal + '"]').attr('disabled', false);

      $("#frameworkPref2").trigger("chosen:updated");
    });

    $('#frameworkPref2').on('change', function() {
      var $thisVal = $(this).val();

      $('#frameworkPref1').find('option[value="' + $thisVal + '"]').attr('disabled', true);
      $('#frameworkPref1').find('option').not('option[value="' + $thisVal + '"]').attr('disabled', false);

      $("#frameworkPref1").trigger("chosen:updated");
    });
  });
</script>


























