
<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <h1 class="heading-xlarge" id="choosePrefLocFramHeading">Choose preferred location and framework</h1>
  </div>
  <div class="grid grid-1-3">
  </div>
</div>

<div class="grid-wrapper">
  <div class="grid grid-1-3">
    <div class="inner-block-padr map-legend-container">
      <div class="map-control">
        <h2 class="heading-small" id="chooseRegionText">Choose a region to filter the locations</h2>
        <a href="#" id="clearMap" class="toggle-content">Reset selected region</a>
      </div>
      <div class="map-legend grid-1-2">
        <h2 class="heading-small" id="hoveredRegionName"></h2>
      </div>
      <div class="svg-map-container hide-nojs">
        {{> map-uk }}
      </div>
    </div>
  </div>
  <div class="grid grid-2-3">
    <section class="hidden" id="choiceInfo">
      <h2 class="heading-medium">First preference</h2>
      <h3 class="heading-small" id="chosenLocation"></h3>
      <p class="small-btm-margin" id="chosenFrameworks"></p>
      <p><a href="framework-selection.html">Change this selection</a></p>
      <div class="form-group" id="secondPreferenceControls">
        <a href="framework-selection-02.html" class="button" id="addSecondButton">Add a second location</a>
        <a href="#" class="button-link" id="noSecondPreference">Proceed without a second location</a>
      </div>
    </section>

    <section class="hidden" id="second-choiceInfo">
      <h2 class="heading-medium">Second preference</h2>
      <h3 class="heading-small" id="second-chosenLocation"></h3>
      <p class="small-btm-margin" id="second-chosenFrameworks"></p>
      <p><a href="framework-selection-02.html">Change this selection</a></p>
    </section>

    <div id="chooseLocationAndFramework">
      <section>
        <h2 class="heading-medium" id="chooseHeading">
          First preference of location
        </h2>
        <p id="selectLocationBlurb">Start by selecting a region on the map to see the available locations, or alternatively choose a location from the list. The frameworks available at different locations will vary.</p>
        <p id="chosenRegionBlurb" class="hidden">Choose a location in the region: <b></b></p>
        <div class="grid-2-3">
          {{> location-select }}
        </div>
      </section>
      <section class="hidden" id="locationSelectedContainer" aria-hidden="true">

        <div class="hgroup-medium">
          <h2 class="heading-medium" aria-live="polite">Choose a framework</h2>
          <p class="subtitle">
            <a href="#" target="_blank" >Find out more about the frameworks we offer</a>
          </p>
        </div>

        <div class="grid-3-4">
          <div class="form-group">
            <label for="frameworkPref1" class="form-label">Select your preferred framework</label>
            <select name="" id="frameworkPref1" class="chosen-select" data-placeholder="Choose from list or begin typing">
              <option value="" class="placeholder-option"></option>
              <option value="Business administration">Business administration</option>
              <option value="Commercial">Commercial</option>
              <option value="Cyber security">Cyber security</option>
              <option value="Digital and technology">Digital and technology</option>
              <option value="Finance">Finance</option>
            </select>
          </div>

          <div class="form-group toggle-content" id="secondPreferenceContainer">
            <label for="frameworkPref2" class="form-label">Second preference of framework</label>
            <select name="" id="frameworkPref2" class="chosen-select" data-placeholder="Choose from list or begin typing">
              <option value="" class="placeholder-option"></option>
              <option value="Business administration">Business administration</option>
              <option value="Commercial">Commercial</option>
              <option value="Cyber security">Cyber security</option>
              <option value="Digital and technology">Digital and technology</option>
              <option value="Finance">Finance</option>
              <option value="No second preference">No second preference</option>
            </select>
          </div>
        </div>

      </section>
    </div>

    <a href="#" class="button hidden first-choice-btn" id="choiceSave">Save first preference</a>

    <section id="considerAlternatives" class="hidden">
      <div class="panel-indent">
        <p>If we can't guarantee your preferred location or framework, we may suggest an alernative.</p>
      </div>

      <p class="form-label">Would you consider an alternative location?</p>
      <div class="form-group form-group-compound">
        <label for="altregion-yes" class="block-label">
          <input name="altregion" type="radio" id="altregion-yes">Yes
        </label>
        <label for="altregion-no" class="block-label">
          <input name="altregion" type="radio" id="altregion-no">No
        </label>
      </div>

      <p class="form-label">Would you consider an alternative framework?</p>
      <div class="form-group form-group-compound">
        <label for="altframework-yes" class="block-label">
          <input name="altframework" type="radio" id="altframework-yes">Yes
        </label>
        <label for="altframework-no" class="block-label">
          <input name="altframework" type="radio" id="altframework-no">No
        </label>
      </div>

      <a href="assistance.html" class="button" id="locFramContinue">Save and continue</a>
    </section>
  </div>
</div>

<script src="{{assets}}/js/region-selector.js"></script>
























