---
layout: gds-layout.hbs
pageTitle: Who can apply
---

<div class="grid-wrapper">
  <section class="grid grid-2-3">
    <div class="inner-block-padr">
      <h1 class="heading-xlarge">{{ pageTitle }}</h1>

      <p>Lots of information about eligibility</p>
    </div>
  </section>
  <aside class="grid grid-1-3 gov-border">
    <section>
      <h2 class="heading-medium">Fast Track</h2>
      <ul class="list-text">
        <li>
          <a href="index.html">Apply for a Civil Service apprenticeship</a>
        </li>
        <li>
          <a href="govuk-howapply.html">How to apply</a>
        </li>
        <li>
          <a href="govuk-schemes.html">Scheme information</a>
        </li>
        <li>
          <a href="govuk-aboutfasttrack.html">About the Fast Track</a>
        </li>
      </ul>
    </section>
    <section>
      <h2 class="heading-medium">Contact us</h2>
      <p>Telephone (free): 0800 093498</p>
      <p>Email: <a href="mailto:helpdesk@fasttrack.service.gov.uk">helpdesk@fasttrack.service.gov.uk</a></p>
    </section>

  </aside>
</div>