
<div class="hgroup">
  <h1 class="heading-xlarge">Contact us</h1>
</div>

<section class="text">
  <h2 class="heading-medium">Fast Track helpline</h2>
  <p>Telephone (free): 0800 015 0400</p>

  <p>Email: <a href="mailto:helpdesk@fasttrack.service.gov.uk">helpdesk@fasttrack.service.gov.uk</a></p>

  <p>Contact the <a href="https://nationalcareersservice.direct.gov.uk/Pages/Home.aspx" rel="external">National Careers Service</a> if you're wondering whether an apprenticeship is right for you.</p>
</section>


