---
layout: gds-layout.hbs
pageTitle: Apply for a Civil Service apprenticeship
---
<div class="text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block-padr">
      <div class="text">
        <p>This is a learning and development programme with responsibility from day one. You will be placed in one of a number of roles and government departments throughout the UK.

        <p>You'll be working towards a level 4 higher apprenticeship qualification. The study programme is demanding and must be balanced alongside full time work. You will be fully supported in completing assignments and achieving the qualification.

        <p>After the apprenticeship you'll be eligible to apply for the 'in service' Fast Stream and specific departmental talent programmes to accelerate your career.
      </div>

      <div class="get-started">
        <a href="profile-signin.html" class="button">Start now</a>
      </div>
    </div>
  </div>
  <div class="grid grid-1-3 gov-border">
    <section>
      <h2 class="heading-medium">Contact us</h2>
      <p>Telephone (free): 0800 093498</p>
      <p>Email: <a href="mailto:helpdesk@fasttrack.service.gov.uk">helpdesk@fasttrack.service.gov.uk</a></p>
    </section>
    <section>
      <h2 class="heading-medium">More about Fast Track</h2>
      <p><a href="">What is a scheme?</a></p>
      <p><a href="">Eligibility</a></p>
    </section>
  </div>
</div>