---
layout: gds-layout.hbs
pageTitle: Apply for a Civil Service apprenticeship
---
<div class="text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

<div class="grid-wrapper">
  <section class="grid grid-2-3">
    <div class="inner-block-padr">
      <p>Before you apply for a Civil Service Fast Track apprenticeship, make sure:</p>
      <ul class="list-bullet">
        <li>you meet the <a href="govuk-eligible.html">eligibility</a> requirements</li>
        <li>you've read about the <a href="govuk-schemes.html">schemes on offer</a></li>
      </ul>
      <div class="get-started">
        <a href="profile-signin.html" class="button">Start now</a>
      </div>
    </div>
  </section>
  <aside class="grid grid-1-3 gov-border">
    <section>
      <h2 class="heading-medium">Contact us</h2>
      <p>Telephone (free): 0800 093498</p>
      <p>Email: <a href="mailto:helpdesk@fasttrack.service.gov.uk">helpdesk@fasttrack.service.gov.uk</a></p>
    </section>
    <section>
      <h2 class="heading-medium">More about Fast Track</h2>
      <ul class="list-text">
        <li>
          <a href="govuk-howapply.html">How to apply</a>
        </li>
        <li>
          <a href="govuk-schemes.html">Scheme information</a>
        </li>
        <li>
          <a href="govuk-eligible.html">Who can apply</a>
        </li>
        <li>
          <a href="govuk-aboutfasttrack.html">About the Fast Track</a>
        </li>
      </ul>

    </section>
  </aside>
</div>