
<div class="panel-success">
  <p id="SuccessMessageText" class="text"><i class="fa fa-check"></i>You've successfully submitted your application</p>
</div>

<div class="hgroup">
  <h1 class="heading-xlarge">Welcome</h1>
  <p class="subtitle">Firstname Lastname</p>
</div>

<!-- <section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p>100% complete</p>
      <progress max="100" value="100">
        <div class="progress-bar">
          <span style="width: 100%;"></span>
        </div>
      </progress>
    </div>
  </div>
  <div class="grid grid-3-4">
    <h2 class="heading-large">Your application</h2>
    <ul class="list-text list-withicons">
      <li><i class="fa fa-check the-icon"></i>Complete your personal details</li>
      <li><i class="fa fa-check the-icon"></i>Select a region and framework</li>
      <li><i class="fa fa-check the-icon"></i>Tell us about any assistance needs</li>
      <li><i class="fa fa-check the-icon"></i>Check and submit</li>
    </ul>
    <p>
      <a class="" href="apply-submitted.html">View your submitted application</a>
    </p>

  </div>
</section> -->

<section class="section-border">
  <ol class="step-by-step-coloured" id="sixSteps">
    <li class="active">
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block-padr">
            <h2 class="heading-large">Your application</h2>
            <ul class="list-text list-withicons">
              <li><i class="fa fa-check the-icon"></i>Complete your personal details</li>
              <li><i class="fa fa-check the-icon"></i>Select a region and framework</li>
              <li><i class="fa fa-check the-icon"></i>Tell us about any assistance needs</li>
              <li><i class="fa fa-check the-icon"></i>Check and submit</li>
            </ul>
            <p>
              <a class="" href="apply-submitted.html">View your submitted application</a>
            </p>
          </div>
        </div>
        <div class="grid grid-1-3">
          <p>100% complete</p>
          <progress max="100" value="100">
            <div class="progress-bar">
              <span style="width: 100%;"></span>
            </div>
          </progress>
        </div>
      </div>
    </li>
  <li>
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium">Practice online test</h2>
          <p>Once your application has been successful you'll then be able to take a practice online test to prepare you for the real thing.</p>
          <p><a href="">Find out more about the online test</a></p>
        </div>
      </div>
      <div class="grid grid-1-3 disabled">
        <p>Locked</p>
        <progress max="100" value="00">
          <div class="progress-bar">
            <span style="width: 0%;"></span>
          </div>
        </progress>
      </div>
    </div>
  </li>
  <li>
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium">Take online test</h2>
          <p>After you've prepared yourself for the online test you can start it, you'll have 7 days to complete the test.</p>
        </div>
      </div>
      <div class="grid grid-1-3 disabled">
        <p>Locked</p>
        <progress max="100" value="00">
          <div class="progress-bar">
            <span style="width: 0%;"></span>
          </div>
        </progress>
      </div>
    </div>
  </li>
  <li>
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium">Assessment centre</h2>
          <p>If you pass the online test you'll then be invited into an assessment centre local to you, where we'll conduct a short face to face interview.</p>
          <p><a href="">Find your local assessment centre</a></p>
        </div>
      </div>
      <div class="grid grid-1-3 disabled">
        <p>Locked</p>
        <progress max="100" value="00">
          <div class="progress-bar">
            <span style="width: 0%;"></span>
          </div>
        </progress>
      </div>
    </div>
  </li>
  <li>
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium">Start your fast track apprenticeship</h2>
          <p>Upon completion of the required steps you'll then start your fast track apprenticeship with the Civil Service.</p>
          <p><a href="">What is it like to work for the Civil Service?</a></p>
        </div>
      </div>
      <div class="grid grid-1-3 disabled">
        <p>Locked</p>
        <progress max="100" value="00">
          <div class="progress-bar">
            <span style="width: 0%;"></span>
          </div>
        </progress>
      </div>
    </div>
  </li>
</ol>
</section>


<section>
  <h2 class="heading-medium">Withdraw application</h2>
  <div class="text">
    <p>If you no longer wish to proceed with your application you can withdraw at any time.</p>
    <a href="withdraw-application.html">Withdraw application</a>
  </div>
</section>