---
pageTitle: Home
---
<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <p class="subtitle" id="nameOnHome">Firstname Lastname</p>
</div>

<ol class="step-by-step-coloured" id="sixSteps">
  <li class="first-step active">
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-large">1. Fill in your application form</h2>
          <ul class="list-text list-withicons">
            <li><i class="fa fa-minus the-icon"></i>Add personal details</li>
            <li><i class="fa fa-minus the-icon"></i>Choose a location and scheme</li>
            <li><i class="fa fa-minus the-icon"></i>Tell us about any assistance needs you may have</li>
            <li><i class="fa fa-minus the-icon"></i>Check your application</li>
            <li><i class="fa fa-minus the-icon"></i>Fill in the diversity questionnaire</li>
            <li><i class="fa fa-minus the-icon"></i>Submit</li>
          </ul>
          <a class="button" href="profile-details.html">Start your application</a>
        </div>
      </div>
      <div class="grid grid-1-3">

      </div>
    </div>
  </li>
  <li class="second-step">
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium">2. Take the online tests</h2>
          <p>Once you've submitted your application and completed the diversity questions, you'll be invited to take the online tests. Once you've been invited, you'll have 7 days to complete the tests.</p>
          <p><a href="https://www.gov.uk/guidance/civil-service-fast-track-apprenticeship-how-to-apply#online-tests" rel="external" target="_blank">Find out more about the online tests</a></p>
        </div>
      </div>
      <div class="grid grid-1-3">

      </div>
    </div>
  </li>
  <li class="third-step">
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium">3. Attend an assessment centre</h2>
          <p>If you pass the online tests, you'll be invited to attend an assessment centre.</p>
          <p><a href="https://www.gov.uk/guidance/civil-service-fast-track-apprenticeship-how-to-apply#assessment-day" rel="external" target="_blank">Find out more about the assessment day</a></p>
        </div>
      </div>
      <div class="grid grid-1-3">
      </div>
    </div>
  </li>
  <li class="fourth-step">
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium">4. Your final results</h2>
          <p>We aim to let you know the outcome of your assessment by October 2016.</p>
          <p><a href="https://www.gov.uk/guidance/civil-service-fast-track-apprenticeship-how-to-apply#after-assessment" rel="external" target="_blank">Find out more about the on boarding process</a></p>
        </div>
      </div>
      <div class="grid grid-1-3">
      </div>
    </div>
  </li>
</ol>
