---
pageTitle: Create your account
---

<h1 class="heading-xlarge">{{ pageTitle }}</h1>
<form action="">

  <fieldset class="fieldset-with-border">
    <legend class="heading-large">Name and email</legend>
    <div class="form-group form-group-compound">
      <label for="first-name" class="form-label">First name</label>
      <input autofocus id="first-name" type="text" class="form-control" autocorrect="off" value="" >
    </div>
    <div class="form-group">
      <label for="last-name" class="form-label">Last name</label>
      <input id="last-name" type="text" class="form-control" autocorrect="off" value="" >
    </div>

    <div class="form-group form-group-compound">
      <label for="email-input" class="form-label" id="emailInput">Email</label>
      <span class="form-hint text">You'll need this to sign in to your account</span>
      <input type="email" class="form-control" id="email-input" spellcheck="false">
    </div>

    <div class="form-group">
      <label for="emailInputConfirm" class="form-label">Confirm your email</label>
      <input type="email" class="form-control" id="emailInputConfirm" spellcheck="false">
    </div>

  </fieldset>
  <fieldset class="fieldset-with-border">
    <legend class="heading-large">Set your password</legend>
    <div class="form-group">
      <label for="password" class="form-label">Create password</label>
      <span class="form-hint text">Requires upper and lowercase letters, a number and at least 9 characters</span>
      <div class="form-group password-wrapper">
        <input type="password" class="form-control new-password" id="password">
      </div>
      <div class="password-second form-group">
        <label for="confirm-password" class="form-label">Confirm password</label>
        <input type="password" class="form-control">
      </div>
    </div>
  </fieldset>

  <fieldset class="fieldset-with-border">
    <legend class="heading-large">Eligibility</legend>

    <div class="text">
      <h2 class="heading-medium">Confirm the following statements are true</h2>
    </div>

    <ul class="para-btm-margin text">
      <li>I am resident in the UK and have been for the past 2 years</li>
      <li>I am eligible according to the <a href="#" target="_blank" rel="external">Civil Service nationality rules</a></li>
      <li>I am <a href="#" target="_blank" rel="external">eligible to work in the UK</a></li>
      <li>I am aware of the <a href="" rel="external" target="_blank">restrictions that apply</a> if I am a Civil Servant or have previously worked for the Civil Service</li>
      <li>I will be aged 16 or older by 31 August 2016</li>
      <li>I have at least 5 GCSEs, grades A* to C and including English language and maths, <a href="#" target="_blank" rel="external">or equivalent</a> (or I expect to have these by 31 August 2016)</li>
      <li>I do not hold a degree</li>
      <li>I am available to start work in September 2016</li>
    </ul>

    <div class="form-group">
      <label for="accept-eligible" class="block-label">
        <input type="checkbox" id="accept-eligible"> I confirm that I am eligible to apply
      </label>
    </div>

  </fieldset>

  <fieldset>
    <legend class="heading-large">Terms and conditions</legend>
    <div class="form-group">
      <label for="accept-terms" class="block-label">
        <input type="checkbox" id="accept-terms">I accept the <a href="terms.html" target="_blank" id="">terms and conditions</a>
      </label>
    </div>
  </fieldset>



  <div class="form-group">
    <a id="createAccountBtn" class="button" href="profile-success.html">Create account</a>
  </div>
</form>
