---
pageTitle: Personal details
---
<h1 class="heading-xlarge" id="personalDetailsHeading">{{ pageTitle }}</h1>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">Name and date of birth</legend>
  <div class="form-group form-group-compound">
    <label for="first-name" class="form-label">First name</label>
    <input id="first-name" type="text" class="form-control" autocorrect="off" value="Firstname" >
  </div>
  <div class="form-group">
    <label for="last-name" class="form-label">Last name</label>
    <input id="last-name" type="text" class="form-control" autocorrect="off" value="Lastname" >
  </div>

  <div class="form-group">
    <label for="preferredName" class="form-label">What should we call you?</label>
    <input type="text" id="preferredName" class="form-control" autocorrect="off" value="Firstname">
  </div>

  <div class="form-group inline-fixed">
    <p class="form-label">Date of birth</p>
    <span class="form-hint">For example, 19 7 1994</span>
    <div class="form-group form-group-compound">
      <label class="date-hint" for="dob-day">Day</label>
      <input type="tel" class="form-control form-control-xsmall" maxlength="2" id="dob-day">
    </div>
    <div class="form-group form-group-compound">
      <label class="date-hint" for="dob-month">Month</label>
      <input type="tel" class="form-control form-control-xsmall" maxlength="2" id="dob-month">
    </div>
    <div class="form-group form-group-compound form-group-year">
      <label class="date-hint" for="dob-year">Year</label>
      <input type="tel" class="form-control form-control-small" maxlength="4" id="dob-year">
    </div>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">Contact details</legend>
  <!-- <div class="hide-nojs">
    <div class="form-group form-group-compound">
      <label for="post-code" class="form-label">Postcode</label>
      <span class="form-hint">For example, BN1 8NH</span>
      <input id="post-code" type="text" class="form-control form-control-large " autocapitalize="characters" autocorrect="off" value="">
    </div>
    <div class="form-group form-group-compound">
      <a href="#" class="button" id="findAddressBtn">Find address</a>
    </div>
    <div id="addressSelectContainer" class="form-group toggle-content hide-nojs">
      <label for="addressSelect" class="form-label">Select your address</label>
      <select name="" id="addressSelect">
        <option value="void">-- 5 found --</option>
        <option class="address-select-option" value="36 Bolton Road">36 Bolton Road</option>
        <option class="address-select-option" value="37 Bolton Road">37 Bolton Road</option>
        <option class="address-select-option" value="38 Bolton Road">38 Bolton Road</option>
        <option class="address-select-option" value="39 Bolton Road">39 Bolton Road</option>
        <option class="address-select-option" value="40 Bolton Road">40 Bolton Road</option>
      </select>
    </div>
    <p>
      <a href="#" id="addressManualLink">Or enter address manually</a>
    </p>
  </div> -->
  <div id="addressManualInput">
    <div class="form-group form-group-compound">
      <label for="address1" class="form-label">Address</label>
      <input id="address1" type="text" class="form-control" autocorrect="off" value="">
    </div>
    <div class="form-group form-group-compound">
      <label for="address2" class="form-label visuallyhidden">Second line (optional)</label>
      <input id="address2" type="text" class="form-control" autocorrect="off">
    </div>
    <div class="form-group form-group-compound">
      <label for="address3" class="form-label visuallyhidden">Third line (optional)</label>
      <input id="address3" type="text" class="form-control" autocorrect="off" value="">
    </div>
    <div class="form-group form-group-compound">
      <label for="address3b" class="form-label visuallyhidden">Fourth line (optional)</label>
      <input id="address3b" type="text" class="form-control" autocorrect="off" value="">
    </div>
    <div class="form-group">
      <label for="address4" class="form-label">Post code</label>
      <input id="address4" type="text" class="form-control form-control-large" autocapitalize="characters" autocorrect="off" value="">
    </div>
  </div>

  <div class="form-group form-group-compound">
    <label class="form-label" for="phone-input">Mobile phone number</label>
    <span class="form-hint text">If you don't have a mobile enter your landline</span>
    <input type="tel" class="form-control form-control-1-3 med-btm-margin" id="phone-input">
  </div>

  <div class="form-group">
    <label class="form-label" for="phone-input2">Landline phone number</label>
    <input type="tel" class="form-control form-control-1-3 med-btm-margin" id="phone-input2">
  </div>
</fieldset>

<fieldset>
  <legend class="heading-large">Education details</legend>
  <div class="form-group">
    <label for="schoolName" class="form-label">Name of most recent school attended</label>
    <input id="schoolName" type="text" class="form-control" autocorrect="off" value="" >
  </div>

  <h2 class="heading-medium">Framework requirements</h2>

  <div class="grid-2-3">
    <table>
      <colgroup>
        <col class="t30">
        <col class="t70">
        <col>
      </colgroup>
      <thead>
        <tr>
          <th>Framework name</th>
          <th>Qualifications needed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <ul class="list-text">
              <li>Business admin</li>
              <li>Commercial</li>
              <li>Finance</li>
            </ul>
          </td>
          <td>
            <p>To be eligible to apply you must have at least 5 GCSEs (A*-C) or <a target="_blank" href="https://www.gov.uk/what-different-qualification-levels-mean/compare-different-qualification-levels">equivalent</a> including English language and maths.</p>
          </td>
        </tr>
        <tr>
          <td>
            <ul class="list-text">
              <li>Project delivery</li>
            </ul>
          </td>
          <td>
            <p>2 A-levels (or vocational equivalent) at grade D or above.</p>
            <p>For vocational equivalents, PPP for a level 3 diploma or MP for a level 3 certificate. There are NO particular subject requirements. </p>
          </td>
        </tr>
        <tr>
          <td>
            <ul class="list-text">
              <li>Cyber security</li>
              <li>Digital technology</li>
            </ul>
          </td>
          <td>
            2 A-levels (A*-C) or equivalent in a STEM subject (science, technology, engineering, mathematics)
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <p class="form-label">Do you have 2 A-levels at grade D or above?</p>
  <div class="form-group inline">
    <label for="alevel-d-yes" class="block-label">
      <input name="alevel-d" type="radio" id="alevel-d-yes">Yes
    </label>
    <label for="alevel-d-no" class="block-label" data-target="stem-panel">
      <input name="alevel-d" type="radio" id="alevel-d-no" aria-controls="stem-panel" aria-expanded="true">No
    </label>
  </div>

  <div id="stem-panel">
    <p class="form-label">Do you have at least 2 A-levels (A* - C) in STEM subjects?</p>
    <div class="form-group inline">
      <label for="alevel-yes" class="block-label">
        <input name="alevel" type="radio" id="alevel-yes">Yes
      </label>
      <label for="alevel-no" class="block-label">
        <input name="alevel" type="radio" id="alevel-no">No
      </label>
    </div>
  </div>


</fieldset>

<div class="form-group">
  <a id="detailsContinue" class="button" href="framework-selection.html">Save and continue</a>
</div>
