<div class="progress-indicator progress-indicator-horizontal">
  <ul>
    <li class="active"><a href="profile-home.html"><span class="hide-tablet">Page </span>1<span class="hide-tablet"> of 4</span>. Home</a></li>
    <li><a href="profile-details.html"><span class="hide-tablet">Page </span>2<span class="hide-tablet"> of 4</span>. Personal details</a></li>
    <li><a href="framework-selection.html" class="disabled"><span class="hide-tablet">Page </span>3<span class="hide-tablet"> of 4</span>. Preferred region/framework</a></li>
    <li><a href="" class="disabled"><span class="hide-tablet">Page </span>4<span class="hide-tablet"> of 4</span>. Submit application</a></li>
  </ul>
</div>

<h1 class="heading-xlarge">Your application</h1>

<section class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p>60% complete</p>
      <progress max="100" value="60">
        <div class="progress-bar">
          <span style="width: 60%;"></span>
        </div>
      </progress>
    </div>
  </div>
  <div class="grid grid-3-4">
    <div class="hgroup-large">
      <h2 class="heading-large">Personal details</h2>
      <a href="profile-details.html">Complete your personal details</a>
    </div>
  </div>
</section>

<section class="grid-wrapper disabled">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p>0% complete</p>
      <progress max="100" value="0">
        <div class="progress-bar">
          <span style="width: 0%;"></span>
        </div>
      </progress>
    </div>
  </div>
  <div class="grid grid-3-4">
    <div class="hgroup-large">
      <h2 class="heading-large">Choose preferred region and framework</h2>
      <a href="framework-selection.html">Select a region and framework</a>
    </div>
  </div>
</section>


<!-- <section class="grid-wrapper disabled">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p><i class="fa fa-lock"></i>Locked</p>
      <progress max="100" value="0">
        <div class="progress-bar">
          <span style="width: 0%;"></span>
        </div>
      </progress>
    </div>
  </div>
  <div class="grid grid-3-4">
    <div class="hgroup-large">
      <h2 class="heading-large">Complete online test</h2>
      <a href="">Take online test</a>
    </div>
  </div>
</section> -->