<!-- <div class="progress-indicator progress-indicator-horizontal">
  <ul>
    <li class="active"><a href="profile-home.html"><span class="hide-tablet">Page </span>1<span class="hide-tablet"> of 4</span>. Home</a></li>
    <li><a href="profile-details.html"><span class="hide-tablet">Page </span>2<span class="hide-tablet"> of 4</span>. Personal details</a></li>
    <li><a href="framework-selection.html" class="disabled"><span class="hide-tablet">Page </span>3<span class="hide-tablet"> of 4</span>. Preferred region/framework</a></li>
    <li><a href="" class="disabled"><span class="hide-tablet">Page </span>4<span class="hide-tablet"> of 4</span>. Submit application</a></li>
  </ul>
</div> -->

<div class="hgroup">
  <h1 class="heading-xlarge">Welcome</h1>
  <p class="subtitle">Firstname Lastname</p>
</div>

<section class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p>10% complete</p>
      <progress max="100" value="10">
        <div class="progress-bar">
          <span style="width: 10%;"></span>
        </div>
      </progress>
    </div>
  </div>
  <div class="grid grid-3-4">
    <h2 class="heading-large">Your application</h2>
    <ul class="list-text list-withicons">
      <li><i class="fa fa-circle-thin the-icon"></i>Complete your personal details</li>
      <li><i class="fa fa-circle-thin the-icon"></i>Select a region and framework</li>
      <li><i class="fa fa-circle-thin the-icon"></i>Tell us about any assistance needs</li>
      <li><i class="fa fa-circle-thin the-icon"></i>Check and submit</li>
    </ul>
    <a class="button" href="profile-details.html">Start your application</a>

  </div>
</section>


<!-- <section class="grid-wrapper disabled">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p><i class="fa fa-lock"></i>Locked</p>
      <progress max="100" value="0">
        <div class="progress-bar">
          <span style="width: 0%;"></span>
        </div>
      </progress>
    </div>
  </div>
  <div class="grid grid-3-4">
    <div class="hgroup-large">
      <h2 class="heading-large">Complete online test</h2>
      <a href="">Take online test</a>
    </div>
  </div>
</section> -->


<!-- <section>
  <h2 class="heading-medium">Cancel application</h2>
  <div class="text">
    <p>If you no longer wish to proceed with your application you can cancel at any time.</p>
    <a href="withdraw-application.html">Withdraw application</a>
  </div>
</section> -->