---
pageTitle: Can't access your account?
---
<div class="text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

<section>
  <div class="text">
    <h2 class="heading-medium">Forgotten your password?</h2>
    <p>To reset your password we need to send you a 6-character code. If you can’t see it in your inbox within a few minutes, please check your spam folder.</p>
  </div>
  <div class="form-group">
    <label class="form-label" for="forgottenEmail">Enter email</label>
    <input type="email" class="form-control" id="forgottenEmail"/>
  </div>
  <div class="form-group">
    <a class="button" href="forgottenpassword-entercode.html">Send code</a>
  </div>

  <div class="panel-indent">
    <p>Your password reset code will expire after an hour</p>
  </div>
</section>

<section>
  <div class="text">
    <h2 class="heading-medium">If your account is locked</h2>
    <p>If your account is locked and you’ve been sent a code to unlock it, you can <a href="profile-locked.html">enter it now</a>.</p>
  </div>
</section>

