

<fieldset class="inner-block-padr">
  <legend class="heading-large">Account locked</legend>
  <p class="text">You should receive a 7-character code in your email. Enter the code to unlock your account.</p>
  <div class="form-group">
    <label class="form-label" for="email-add">Email</label>
    <input type="email" class="form-control" id="email-add"/>
  </div>
  <div class="form-group form-group-withlink">
    <label class="form-label" for="enter-code">Enter code</label>
    <input type="text" class="form-control" id="enter-code"/>
  </div>
  <div class="form-group">
    <p>
      <a href="#">Resend code</a>
    </p>
  </div>
  <div class="form-group">
    <a class="button" href="profile-signin.html?Status=unlocked">Unlock account</a>
  </div>
</fieldset>
