<!-- <div class="progress-indicator progress-indicator-horizontal">
  <ul>
    <li class="active"><a href="profile-home.html"><span class="hide-tablet">Page </span>1<span class="hide-tablet"> of 4</span>. Home</a></li>
    <li><a href="profile-details.html"><span class="hide-tablet">Page </span>2<span class="hide-tablet"> of 4</span>. Personal details</a></li>
    <li><a href="framework-selection.html"><span class="hide-tablet">Page </span>3<span class="hide-tablet"> of 4</span>. Preferred region/framework</a></li>
    <li><a href="" class=""><span class="hide-tablet">Page </span>4<span class="hide-tablet"> of 4</span>. Submit application</a></li>
  </ul>
</div> -->

<div class="panel-success">
  <p id="SuccessMessageText" class="text"><i class="fa fa-check"></i>You've successfully submitted your application</p>
</div>

<h1 class="heading-xlarge">Your application</h1>

<section class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p>100% complete</p>
      <progress max="100" value="100">
        <div class="progress-bar">
          <span style="width: 100%;"></span>
        </div>
      </progress>
    </div>
  </div>
  <div class="grid grid-3-4 disabled">
    <div class="hgroup-large">
      <h2 class="heading-large">1. Personal details</h2>
      <a href="profile-details.html">Edit your personal details</a>
    </div>
  </div>
</section>

<section class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p>100% complete</p>
      <progress max="100" value="100">
        <div class="progress-bar">
          <span style="width: 100%;"></span>
        </div>
      </progress>
    </div>
  </div>
  <div class="grid grid-3-4 disabled">
    <div class="hgroup-large">
      <h2 class="heading-large">2. Choose preferred region and framework</h2>
      <a href="framework-selection.html">Select a different region or framework</a>
    </div>
  </div>
</section>

<section class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
    <p>100% complete</p>
    <progress max="100" value="100">
      <div class="progress-bar">
        <span style="width: 100%;"></span>
      </div>
    </progress>
  </div>
  </div>
  <div class="grid grid-3-4 disabled">
    <div class="hgroup-large">
      <h2 class="heading-large">3. Assistance</h2>
      <a href="assistance.html">Provide disability information</a>
    </div>
  </div>
</section>

<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
    <p>100% complete</p>
    <progress max="100" value="100">
      <div class="progress-bar">
        <span style="width: 100%;"></span>
      </div>
    </progress>
  </div>
  </div>
  <div class="grid grid-3-4 disabled">
    <div class="hgroup-large">
      <h2 class="heading-large">4. Application summary</h2>
      <a href="apply-check.html">Check before you submit</a>
    </div>
  </div>
</section>


<section>
  <h2 class="heading-medium">Withdraw application</h2>
  <div class="text">
    <p>If you no longer wish to proceed with your application you can withdraw at any time.</p>
    <a href="withdraw-application.html">Withdraw application</a>
  </div>
</section>