---
pageTitle: Account locked
---

<div class="text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

<div class="text">
  <p>Your account has been locked due to a large amount of incorrect sign in attempts.</p>
  <p>You should receive a 7-character code in your email. Enter the code to reset your password and unlock your account.</p>
  <a href="forgottenpassword-entercode.html" class="button">Reset password</a>
</div>

