<div class="panel-success toggle-content" id="signedOut">
  <p class=""><i class="fa fa-check"></i>You've successfully signed out. <a href="/feedback.html">Give feedback?</a> (30 second survey)</p>
</div>

<div class="panel-success toggle-content" id="emailAddressSent">
  <p>We've sent your email address to your verified mobile number <b>07938392982</b>.</p>
  <p>If you don't receive a text message you may have entered an unverified phone number or a phone number we don't recognise.</p>
</div>

<h1 class="heading-xlarge">Create account to apply</h2>
<div class="text">
  <p class="small-btm-margin">
    To apply for a Fast Track apprenticeship you'll need to create an account.
  </p>
  <p>Before you apply make sure:</p>
  <ul class="list-bullet">
    <li>you meet the <a href="">eligibility</a> requirements</li>
    <li>you’ve read about the <a href="#" target="_blank">frameworks</a></li>
  </ul>

  <div class="form-group">
    <a href="profile-create.html" class="button">Create an account</a>
  </div>
</div>

<div class="text">
  <h2 class="heading-large">Already have an account? Sign in</h2>
</div>
<div class="form-group form-group-compound">
 <label class="form-label" for="email-add">Email address</label>
 <input type="email" class="form-control" id="email-add"/>
</div>
<div class="form-group">
 <label class="form-label" for="password">Password</label>
 <input type="password" class="form-control" id="password" />
 <p><a href="profile-noaccess.html">I can't access my account</a></p>
</div>

<div class="form-group small-btm-margin">
 <a class="button" id="btnSignIn" href="profile-home.html">Sign in</a>
</div>

