---
pageTitle: Home
---

<!-- <div class="panel-success">
  <div class="text">
    <p id="SuccessMessageText">You've successfully submitted your application. </p>
    <p>The next thing you'll need to do is the online test. You will be contacted once this ready for you to complete  <a href="/feedback.html">Give feedback?</a> (30 second survey)</p>
  </div>
</div> -->

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <p class="subtitle" id="nameOnHome">PreferredName</p>
</div>

<section class="section-border">
  <ol class="step-by-step-coloured" id="sixSteps">
    <li class="first-step">
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block-padr">
            <h2 class="heading-medium">1. Fill in your application form</h2>
            <p><i class="fa fa-check the-icon"></i>All details have been submitted</p>
            <p>
              <a class="" href="apply-submitted.html">View your submitted application</a>
            </p>
          </div>
        </div>
         <div class="grid grid-1-3">

        </div>
      </div>
    </li>
    <li class="second-step active">
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block-padr">
            <h2 class="heading-medium">2. Take the online tests</h2>
            <p>You've started the tests</p>
            <p><p>You have <b>5 days and 3 hours</b> to complete the tests.</p></p>
            <p>The tests will expire at 3:36pm on 10 April 2016.</p>
            <p><a href="/tests/next-section.html" class="button">Continue tests</a></p>
            <p><a href="">Find out more about the online tests</a></p>
          </div>
        </div>
        <div class="grid grid-1-3">

        </div>
      </div>
    </li>
    <li class="third-step">
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block-padr">
            <h2 class="heading-medium">3. Attend an assessment centre</h2>
            <p>If you pass the online tests, you'll be invited to attend an assessment centre.</p>
            <p><a href="https://www.gov.uk/guidance/civil-service-fast-track-apprenticeship-how-to-apply#assessment-day" rel="external" target="_blank">Find out more about the assessment day</a></p>
          </div>
        </div>
        <div class="grid grid-1-3">
        </div>
      </div>
    </li>
    <li class="fourth-step">
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block-padr">
            <h2 class="heading-medium">4. Your final results</h2>
            <p>We aim to let you know the outcome of your assessment by July 2016.</p>
            <p><a href="https://www.gov.uk/guidance/civil-service-fast-track-apprenticeship-how-to-apply#after-assessment" rel="external" target="_blank">Find out more about the on boarding process</a></p>
          </div>
        </div>
        <div class="grid grid-1-3">
        </div>
      </div>
    </li>
  </ol>

</section>


<section>
  <h2 class="heading-medium">Withdraw application</h2>
  <div class="text">
    <p>If you no longer wish to proceed with your application you can withdraw at any time.</p>
    <a href="withdraw-application.html">Withdraw application</a>
  </div>
</section>