<h1 class="heading-xlarge">Your application</h1>

<section class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p>60% complete</p>
      <progress max="100" value="60">
        <div class="progress-bar">
          <span style="width: 60%;"></span>
        </div>
      </progress>
    </div>
  </div>
  <div class="grid grid-3-4">
    <div class="hgroup-large">
      <h2 class="heading-large">Personal details</h2>
      <a href="profile-details.html">Edit your personal details</a>
    </div>
  </div>
</section>

<section class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p>0% complete</p>
      <progress max="100" value="0">
        <div class="progress-bar">
          <span style="width: 0%;"></span>
        </div>
      </progress>
    </div>
  </div>
  <div class="grid grid-3-4">
    <div class="hgroup-large">
      <h2 class="heading-large">Choose a location/scheme</h2>
      <a href="framework-selection.html">Edit your chosen location/scheme</a>
    </div>
  </div>
</section>


<section class="grid-wrapper disabled">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p><i class="fa fa-lock"></i>Locked</p>
      <progress max="100" value="0">
        <div class="progress-bar">
          <span style="width: 0%;"></span>
        </div>
      </progress>
    </div>
  </div>
  <div class="grid grid-3-4">
    <div class="hgroup-large">
      <h2 class="heading-large">Complete online test</h2>
      <a href="">Take online test</a>
    </div>
  </div>
</section>