<div class="panel-success">
  <p id="SuccessMessageText" class="text"><i class="fa fa-check"></i>You've successfully created your account</p>
</div>
<h1 id="accountCreated" class="heading-xlarge">Activate your account</h1>

<p class="text">
  An email has been sent to <b>yourname@email.com</b>. It will contain a 6-character code that you’ll need to activate your account.
</p>

<div class="form-group">
  <label for="activation-code" class="form-label">Activation code</label>
  <input type="text" id="activation-code" class="form-control form-control-1-3">
  <p><a href="">Resend code</a></p>
</div>
<div class="form-group">
  <a href="profile-home.html" class="button activate-page-btn" id="btnSignIn">Activate account</a>
</div>
<div class="panel-indent text">
  <p>
    You must activate your account within 30 days of receiving your activation code. After 30 days your account will be deleted and you'll need to register again.
  </p>
</div>