---
pageTitle: Home
---

<!-- <div class="panel-success">
  <div class="text">
    <p id="SuccessMessageText">You've successfully submitted your application. </p>
    <p>The next thing you'll need to do is the online test. You will be contacted once this ready for you to complete  <a href="/feedback.html">Give feedback?</a> (30 second survey)</p>
  </div>
</div> -->

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <p class="subtitle" id="nameOnHome">PreferredName</p>
</div>

<section class="section-border">
  <ol class="step-by-step-coloured" id="sixSteps">
    <li class="first-step">
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block-padr">
            <h2 class="heading-medium">1. Fill in your application form</h2>
            <p><i class="fa fa-check the-icon"></i>All details have been submitted</p>
            <p>
              <a class="" href="apply-submitted.html">View your submitted application</a>
            </p>
          </div>
        </div>
         <div class="grid grid-1-3">

        </div>
      </div>
    </li>
    <li class="second-step">
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block-padr">
            <h2 class="heading-medium">2. Take the online tests</h2>
            <p><i class="fa fa-check the-icon"></i>Congratulations, we've assessed your test results and you've passed the online tests.</p>
            <!-- <p><a href="helpdesk.html">Contact us</a> if you'd like more information.</p> -->
            <p><a href="">View your online test feedback (Less than 100kb)</a></p>
          </div>
        </div>
        <div class="grid grid-1-3">

        </div>
      </div>
    </li>
    <li class="third-step active">
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block-padr">
            <h2 class="heading-medium">3. Attend an assessment centre</h2>
            <p>You did not attend your assessment. <a href="helpdesk.html">Contact us</a> to discuss your options if you're still interested in applying.</p>
          </div>
        </div>
        <div class="grid grid-1-3">
        </div>
      </div>
    </li>
    <li class="fourth-step active">
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block-padr">
            <h2 class="heading-medium">4. What happens next?</h2>
            <p>You'll be able to reapply for Fast Track next year, alternatively use the <a href="https://www.gov.uk/apply-apprenticeship" rel="external">find an apprenticeship</a> service to search for other apprenticeships in England.</p>
          </div>
        </div>
        <div class="grid grid-1-3">
        </div>
      </div>
    </li>
  </ol>

</section>
