---
pageTitle: Welcome
---
<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <p class="subtitle" id="nameOnHome">Firstname Lastname</p>
</div>

<ol class="step-by-step-coloured" id="sixSteps">
  <li class="active">
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-large">Complete application form</h2>
          <ul class="list-text list-withicons">
            <li><i class="fa fa-minus the-icon"></i>Enter your personal details</li>
            <li><i class="fa fa-minus the-icon"></i>Select a location and scheme</li>
            <li><i class="fa fa-minus the-icon"></i>Tell us about any assistance needs</li>
            <li><i class="fa fa-minus the-icon"></i>Check your application</li>
            <li><i class="fa fa-minus the-icon"></i>Complete diversity questionnaire</li>
            <li><i class="fa fa-minus the-icon"></i>Submit</li>
          </ul>
          <a class="button" href="profile-details.html">Start your application</a>
        </div>
      </div>
      <div class="grid grid-1-3">
        <p>10% complete</p>
        <progress max="100" value="10">
          <div class="progress-bar">
            <span style="width: 10%;"></span>
          </div>
        </progress>
      </div>
    </div>
  </li>
  <li>
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium">Take the online test</h2>
          <p>Once you've submitted your application and completed the questionnaire you'll be able to take the online test, you'll have 7 days to complete this.   </p>
          <p><a href="">Find out more about the online test</a></p>
        </div>
      </div>
      <div class="grid grid-1-3 disabled">
        <p>Locked</p>
        <progress max="100" value="00">
          <div class="progress-bar">
            <span style="width: 0%;"></span>
          </div>
        </progress>
      </div>
    </div>
  </li>
  <li>
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium">Attend interview</h2>
          <p>If you pass the online test you'll be invited to attend an interview at an assessment centre near you. </p>
          <p><a href="">Find your nearest assessment centre</a></p>
        </div>
      </div>
      <div class="grid grid-1-3 disabled">
        <p>Locked</p>
        <progress max="100" value="00">
          <div class="progress-bar">
            <span style="width: 0%;"></span>
          </div>
        </progress>
      </div>
    </div>
  </li>
  <li>
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium">Receive notification</h2>
          <p>You'll be notified whether you've been accepted onto the Civil Service apprenticeships programme within x weeks of attending the assessment centre. </p>
          <p><a href="">What is it like to work for the Civil Service?</a></p>
        </div>
      </div>
      <div class="grid grid-1-3 disabled">
        <p>Locked</p>
        <progress max="100" value="00">
          <div class="progress-bar">
            <span style="width: 0%;"></span>
          </div>
        </progress>
      </div>
    </div>
  </li>
</ol>
