
<div class="text">
  <h1 class="heading-xlarge">Can't access your account?</h1>
</div>

<section>
  <div class="text">
    <h2 class="heading-medium">Forgotten your password?</h2>
    <p>To reset your password we need to send you a 6-character code. If you can’t see it in your inbox within a few minutes, please check your spam folder.</p>
  </div>
  <div class="form-group">
    <label class="form-label" for="forgottenEmail">Enter email</label>
    <input type="email" class="form-control" id="forgottenEmail"/>
  </div>
  <div class="form-group">
    <a class="button" href="forgottenpassword-entercode.html">Send code</a>
  </div>
</section>

<div class="panel-indent">
  <p>Your password reset code will expire after an hour</p>
</div>