<h1 class="heading-xlarge">Create an account</h1>
<form action="">

  <fieldset class="fieldset-with-border">
    <legend class="heading-large">Name and email</legend>
    <div class="form-group form-group-compound">
      <label for="first-name" class="form-label">First name</label>
      <input id="first-name" type="text" class="form-control" autocorrect="off" value="" >
    </div>
    <div class="form-group">
      <label for="last-name" class="form-label">Last name</label>
      <input id="last-name" type="text" class="form-control" autocorrect="off" value="" >
    </div>

    <div class="form-group form-group-compound">
      <label for="email-input" class="form-label" id="emailInput">Email address</label>
      <span class="form-hint text">You'll need this to sign in to your account</span>
      <input type="email" class="form-control" id="email-input" spellcheck="false">
    </div>

    <div class="form-group">
      <label for="emailInputConfirm" class="form-label">Confirm email address</label>
      <input type="email" class="form-control" id="emailInputConfirm" spellcheck="false">
    </div>

  </fieldset>
  <fieldset class="fieldset-with-border">
    <legend class="heading-large">Set your password</legend>
    <div class="form-group">
      <label for="password" class="form-label">Create password</label>
      <span class="form-hint">Requires upper and lowercase letters, a number and at least 8 characters</span>
      <div class="form-group password-wrapper">
        <input type="password" class="form-control new-password" id="password">
      </div>
      <div class="password-second form-group">
        <label for="confirm-password" class="form-label">Confirm password</label>
        <input type="password" class="form-control">
      </div>
    </div>
  </fieldset>

  <fieldset class="fieldset-with-border">
    <legend class="heading-large">Eligibility</legend>

    <div class="text">
      <h2 class="heading-medium">Please confirm the following statements are all true</h2>
    </div>

    <ul class="para-btm-margin text">
      <li>I have been a resident in the UK for the past 2 years</li>

      <li>I have an eligible nationality according to the <a href="https://www.gov.uk/government/publications/nationality-rules" target="_blank">Civil Service nationality rules</a></li>

      <li>I am eligible to work in the UK</li>

      <li>If a Civil servant, or have previously worked for the Civil service, I am aware of the restrictions that apply</li>

      <li>I will be aged 16 or older by 31 August 2016</li>

      <li>As a minimum, I have 5 GCSEs (A*-C) <a href="https://www.gov.uk/what-different-qualification-levels-mean/compare-different-qualification-levels" target="_blank">or equivalent</a> including English language and maths.</li>

      <li>I do not hold a degree</li>

      <li>I am available to start work in September 2016</li>
    </ul>

    <div class="form-group">
      <label for="accept-eligible" class="block-label">
        <input type="checkbox" id="accept-eligible"> I confirm that I am eligible to apply
      </label>
    </div>

  </fieldset>

  <fieldset class="fieldset-with-border">
    <legend class="heading-large">How did you hear about us?</legend>
    <div class="form-group">
      <label for="hearAboutUs" class="form-label">Please select how you heard about us (optional)</label>
      <select name="" id="hearAboutUs">
        <option value="">-- Choose method --</option>
        <option value="">Search engine (eg, Google)</option>
        <option value="">Word of mouth</option>
        <option value="">Social media</option>
        <option value="">Other</option>
      </select>
    </div>
  </fieldset>

  <fieldset>
    <legend class="heading-large">Terms and conditions</legend>
    <div class="form-group">
      <label for="accept-terms" class="block-label">
        <input type="checkbox" id="accept-terms">I accept the <a href="terms.html" target="_blank" id="">terms and conditions</a>
      </label>
    </div>
  </fieldset>



  <div class="form-group">
    <a id="createAccountBtn" class="button" href="profile-success.html">Create account</a>
  </div>
</form>
