---
pageTitle: Diversity questionnaire
---

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <p class="subtitle">Page 1 of 3</p>
</div>

<div class="panel-indent text">
  <p class="">
    The following information you provide is anonymous and will not be used to affect your application.
  </p>
</div>
<details class="text">
  <summary>Why do we collect this information?</summary>
  <div class="detail-content panel-indent">
    <p>
      The Civil Service is committed to promoting diversity, irrespective of ethnicity or nationality, gender, transgender, sexuality, disability, age, religion, marital status, working patterns and socio-economic status.
    </p>
    <p>
      We collect diversity and socio economic information for monitoring purposes only and this data is treated separately from the application process. Your response in this section will not in any way affect your results and will be treated in strict confidence.
    </p>
  </div>
</details>
<h2 class="heading-large">
  Diversity
</h2>

<div class="form-group form-group-compound">
  <label class="form-label" for="genderList">What is your gender identity?</label>
  <select name="" id="genderList" class="selectWithOptionTrigger">
    <option value="">-- Please select --</option>
    <option value="">Male</option>
    <option value="">Female</option>
    <option value="" class="optionTrigger" data-optiontrigger="genderDescribe">Other</option>
  </select>
</div>

<div class="toggle-content form-group form-group-compound" id="genderDescribe">
  <label for="genderDescribeControl" class="form-hint">Provide more information (optional)</label>
  <input type="text" id="genderDescribeControl" class="form-control">
</div>

<div class="form-group">
  <label for="gender-prefernot" class="block-label" data-distarget="genderList">
    <input type="checkbox" id="gender-prefernot">Unknown/Prefer not to say
  </label>
</div>

<div class="form-group form-group-compound">
  <label class="form-label" for="sexualList">What is your sexual orientation?</label>
  <select name="" id="sexualList" class="selectWithOptionTrigger">
    <option value="">-- Please select --</option>
    <option value="">Heterosexual/straight</option>
    <option value="">Gay woman/lesbian</option>
    <option value="">Gay man</option>
    <option value="">Bisexual</option>
    <option value="" class="optionTrigger" data-optiontrigger="sexualDescribe">Other</option>
  </select>
</div>

<div class="toggle-content form-group form-group-compound" id="sexualDescribe">
  <label for="sexualDescribeControl" class="form-hint">Provide more information (optional)</label>
  <input type="text" id="sexualDescribeControl" class="form-control">
</div>

<div class="form-group">
  <label for="sexual-prefernot" class="block-label" data-distarget="sexualList">
    <input type="checkbox" id="sexual-prefernot">Unknown/Prefer not to say
  </label>
</div>

<div class="form-group form-group-compound">
  <label for="ethnicList" class="form-label">What is your ethnic group?</label>
  <select name="" id="ethnicList" class="selectWithOptionTrigger">
    <option value="">-- Please select --</option>
    <optgroup label="White">
      <option value="">English/Welsh/Scottish/Northern Irish/British </option>
      <option value="">Irish </option>
      <option value="">Gypsy or Irish Traveller </option>
      <option value="">Other White background</option>
    </optgroup>
    <optgroup label="Mixed/Multiple ethnic groups">
      <option value="">White and Black Caribbean </option>
      <option value="">White and Black African </option>
      <option value="">White and Asian </option>
      <option value="">Other mixed/multiple ethnic background </option>
    </optgroup>
    <optgroup label="Asian/Asian British">
      <option value="">Indian </option>
      <option value="">Pakistani </option>
      <option value="">Bangladeshi </option>
      <option value="">Chinese </option>
      <option value="">Other Asian background</option>
    </optgroup>
    <optgroup label="Black/African/Caribbean/Black British">
      <option value="">African </option>
      <option value="">Caribbean </option>
      <option value="">Other Black/African/Caribbean background</option>
    </optgroup>
    <optgroup label="Other ethnic group">
      <option value="">Arab</option>
      <option value="" class="optionTrigger" data-optiontrigger="ethnicDescribe">Other ethnic group</option>
    </optgroup>
  </select>
</div>

<div class="toggle-content form-group form-group-compound" id="ethnicDescribe">
  <label for="ethnicDescribeControl" class="form-hint">Provide more information (optional)</label>
  <input type="text" id="ethnicDescribeControl" class="form-control">
</div>

<div class="form-group">
  <label for="ethnic-prefernot" class="block-label" data-distarget="ethnicList">
    <input type="checkbox" id="ethnic-prefernot">Unknown/Prefer not to say
  </label>
</div>

<p>
  <a href="questionnaire-02.html" class="button">Save and continue</a>
</p>
