---
pageTitle: Diversity questionnaire
---

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <p class="subtitle">Page 3 of 3</p>
</div>

<div class="panel-indent text">
  <p class="">
    The following information you provide is anonymous and will not be used to affect your application.
  </p>
</div>
<details class="text">
  <summary>Why do we collect this information?</summary>
  <div class="detail-content panel-indent">
    <p>
      The Civil Service is committed to promoting diversity, irrespective of ethnicity or nationality, gender, transgender, sexuality, disability, age, religion, marital status, working patterns and socio-economic status.</p>

    <p>
      We collect diversity and socio economic information for monitoring purposes only and this data is treated separately from the application process. Your response in this section will not in any way affect your results and will be treated in strict confidence.
    </p>
  </div>
</details>
<section>
  <h2 class="heading-large">
    Parental occupation
  </h2>

  <div class="panel-indent text">
    <p>Thinking back to when you were aged 14, please answer the following questions in relation to your <b>highest earning</b> parent / guardian</p>
  </div>

  <h2 class="heading-small">Type of occupation</h2>

  <table class="grid-2-3">
    <colgroup>
      <col class="t30">
      <col class="t70">
      <col>
    </colgroup>
    <thead>
      <tr>
        <th>Category</th>
        <th>Examples</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Modern professional</td>
        <td>Teacher/lecturer, nurse, physiotherapist, social worker, welfare officer, artist, musician, police officer (sergeant or above), software designer </td>
      </tr>
      <tr>
        <td>Clerical and intermediate</td>
        <td>Secretary, personal assistant, clerical worker, office clerk, call centre agent, nursing auxiliary, nursery nurse</td>
      </tr>
      <tr>
        <td>Senior managers and administrators</td>
        <td>Usually responsible for planning, organising and co-ordinating work and for finance such as: finance manager, chief executive </td>
      </tr>
      <tr>
        <td>Technical and craft</td>
        <td>Motor mechanic, fitter, inspector, plumber, printer, tool maker, electrician, gardener, train driver</td>
      </tr>
      <tr>
        <td>Semi-routine manual and service</td>
        <td>Postal worker, machine operative, security guard, caretaker, farm worker, catering assistant, receptionist, sales assistant </td>
      </tr>
      <tr>
        <td>Routine manual and service</td>
        <td>HGV driver, van driver, cleaner, porter, packer, sewing machinist, messenger, labourer, waiter / waitress, bar staff </td>
      </tr>
      <tr>
        <td>Middle or junior managers</td>
        <td>Office manager, retail manager, bank manager, restaurant manager, warehouse manager, publican </td>
      </tr>
      <tr>
        <td>Traditional professional</td>
        <td>Accountant, solicitor, medical practitioner, scientist, civil/mechanical engineer </td>
      </tr>
    </tbody>
  </table>

  <div class="form-group form-group-compound">
    <label class="form-label" for="parentEmployList">Which type of occupation did they have?</label>
    <span class="form-hint">If you're unsure, use the table as a reference</span>
    <select name="" id="parentEmployList">
      <option value="">-- Please select --</option>
      <option value="">Modern professional</option>
      <option value="">Clerical and intermediate</option>
      <option value="">Senior managers and administrators</option>
      <option value="">Technical and craft</option>
      <option value="">Semi-routine manual and service</option>
      <option value="">Routine manual and service</option>
      <option value="">Middle or junior managers</option>
      <option value="">Traditional professional</option>
      <option value="">Not working</option>
      <option value="">Not applicable</option>
    </select>
  </div>

  <div class="form-group">
    <label for="parentEmploy-dontremember" class="block-label" data-distarget="parentEmployList">
      <input type="checkbox" id="parentEmploy-dontremember">Unknown/prefer not to say
    </label>
  </div>

  <div class="form-group form-group-compound">
    <label class="form-label" for="parentEmployList">Did they work as an employee or were they self employed?</label>
    <select name="" id="parentEmployList">
      <option value="">-- Please select --</option>
      <option value="">Employee</option>
      <option value="">Self-employed with employees</option>
      <option value="">Self-employed/freelancer without employees</option>
      <option value="">Not employed but seeking work</option>
      <option value="">Not working</option>
      <option value="">Not applicable</option>
    </select>
  </div>

  <div class="form-group">
    <label for="parentEmploy-dontremember" class="block-label" data-distarget="parentEmployList">
      <input type="checkbox" id="parentEmploy-dontremember">Unknown/prefer not to say
    </label>
  </div>

  <div class="form-group form-group-compound">
    <label class="form-label" for="companySizeList">Which size would best describe their place of work?</label>
    <select name="" id="companySizeList">
      <option value="">-- Please select --</option>
      <option value="">Small (1 - 24 employees)</option>
      <option value="">Large (over 24 employees)</option>
      <option value="">Not applicable</option>
    </select>
  </div>

  <div class="form-group">
    <label for="companySize-dontremember" class="block-label" data-distarget="companySizeList">
      <input name="companySize" type="checkbox" id="companySize-dontremember">Unknown/prefer not to say
    </label>
  </div>

  <div class="form-group form-group-compound">
    <label class="form-label" for="superviseList">Did they supervise any other employees?</label>
    <select name="" id="superviseList">
      <option value="">-- Please select --</option>
      <option value="">Yes</option>
      <option value="">No</option>
      <option value="">Not applicable</option>
    </select>
  </div>

  <div class="form-group">
    <label for="supervise-dontremember" class="block-label" data-distarget="superviseList">
      <input type="checkbox" id="supervise-dontremember">Unknown/prefer not to say
    </label>
  </div>

</section>

<div>
  <a href="submit-application.html" class="button">Save and continue</a>
</div>
