---
pageTitle: Diversity questions
---

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <p class="subtitle">Page 2 of 3</p>
</div>

<div class="panel-indent text">
  <p class="">
    Any information you give is treated in strict confidence and your answers don't affect your application.
  </p>
</div>
<details class="text">
  <summary id="link-why-collect-data">Why do we collect this information?</summary>
  <div id="panel-why-collect-data" class="detail-content panel-indent">
      <p>
          The Civil Service is committed to promoting diversity, irrespective of ethnicity or nationality, gender, transgender, sexuality, disability, age, religion, marital status, working patterns and socio-economic status.</p>
      <p>
          We collect diversity and socio economic information for monitoring purposes only and this data is treated separately from the application process. Your answers in this section don't affect your results in any way and are treated in strict confidence.
      </p>
  </div>
</details>
<section>
  <h2 class="heading-large">
    More about you
  </h2>

  <div class="form-group form-group-compound">
    <label class="form-label text" for="schoolAttended">Aged 11-16, in which school did you spend most of your education?</label>
    <input type="text" id="schoolAttended" class="form-control">
  </div>

  <div class="form-group">
    <label for="school-dontremember" class="block-label" data-distarget="schoolAttended">
      <input type="checkbox" id="school-dontremember">I don't know/prefer not to say
    </label>
  </div>

  <div class="form-group form-group-compound">
    <label class="form-label text" for="school2Attended">Aged 16-18, in which school did you spend most of your education? (if applicable)</label>
    <input type="text" id="school2Attended" class="form-control">
  </div>

  <div class="form-group">
    <label for="school2-dontremember" class="block-label" data-distarget="school2Attended">
      <input type="checkbox" id="school2-dontremember">I don't know/prefer not to say
    </label>
  </div>

  <div class="form-group form-group-compound">
    <label class="form-label" for="homePostcode">What was your home postcode when you were 14?</label>
    <input type="text" id="homePostcode" class="form-control form-control-1-4">
  </div>

  <div class="form-group">
    <label for="postcode-dontremember" class="block-label" data-distarget="homePostcode">
      <input type="checkbox" id="postcode-dontremember">I don't know/prefer not to say
    </label>
  </div>

  <div class="text">
    <p class="form-label">During your school years, were you at any time eligible for free school meals? </p>
    <div class="form-group inline">
      <label for="freeSchoolMeals-yes" class="block-label">
        <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-yes">Yes
      </label>
      <label for="freeSchoolMeals-no" class="block-label">
        <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-no">No
      </label>
      <label for="freeSchoolMeals-remember" class="block-label">
        <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-remember">I don't know/prefer not to say
      </label>
    </div>
  </div>

  <div class="text">
    <p class="form-label">Did any of your parent(s) or guardian(s) complete a university degree course or equivalent? </p>
    <div class="form-group inline">
      <label for="university-yes" class="block-label">
        <input name="university" type="radio" id="university-yes">Yes
      </label>
      <label for="university-no" class="block-label">
        <input name="university" type="radio" id="university-no">No
      </label>
      <label for="university-remember" class="block-label">
        <input name="university" type="radio" id="university-remember">I don't know/prefer not to say
      </label>
    </div>
  </div>
</section>

<div>
  <a href="questionnaire-03.html" class="button">Save and continue</a>
</div>
