---
pageTitle: Diversity questionnaire
---

<h1 class="heading-xlarge">{{ pageTitle }}</h1>
<div class="panel-indent text">
  <p class="">
    The following information you provide is anonymous and will not be used to affect your application.
  </p>
</div>
<details class="text">
  <summary>Why do we collect this information?</summary>
  <div class="detail-content panel-indent">
    <p>
      The Civil Service is committed to promoting diversity, irrespective of ethnicity or nationality, gender, transgender, sexuality, disability, age, religion, marital status, working patterns and socio-economic status.</p>

    <p>
      We collect diversity and socio economic information for monitoring purposes only and this data is treated separately from the application process. Your response in this section will not in any way affect your results and will be treated in strict confidence.
    </p>
  </div>
</details>
<section>
  <h2 class="heading-large">
    Socio-economic information
  </h2>

  <div class="form-group form-group-compound">
    <label class="form-label" for="schoolAttended">What was the name of your school when you were aged 14?</label>
    <input type="text" id="schoolAttended" class="form-control">
  </div>

  <div class="form-group">
    <label for="school-dontremember" class="block-label" data-distarget="schoolAttended">
      <input name="school" type="radio" id="school-dontremember">I don't remember
    </label>
    <label for="school-prefernot" class="block-label" data-distarget="schoolAttended">
      <input name="school" type="radio" id="school-prefernot">Prefer not to say
    </label>
  </div>

  <div class="form-group form-group-compound">
    <label class="form-label" for="homePostcode">What was your home postcode when you were 14?</label>
    <span class="form-hint">If you don't know the postcode please enter street name and town</span>
    <input type="text" id="homePostcode" class="form-control">
  </div>

  <div class="form-group">
    <label for="postcode-dontremember" class="block-label" data-distarget="schoolAttended">
      <input name="postcode" type="radio" id="postcode-dontremember">I don't remember
    </label>
    <label for="postcode-prefernot" class="block-label" data-distarget="schoolAttended">
      <input name="postcode" type="radio" id="postcode-prefernot">Prefer not to say
    </label>
  </div>

  <div class="text">
    <p class="form-label">During your school years, were you at any time eligible for free school meals? </p>
    <div class="form-group inline">
      <label for="freeSchoolMeals-yes" class="block-label">
        <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-yes">Yes
      </label>
      <label for="freeSchoolMeals-no" class="block-label">
        <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-no">No
      </label>
      <label for="freeSchoolMeals-remember" class="block-label">
        <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-remember">I don't remember
      </label>
      <label for="freeSchoolMeals-prefer" class="block-label">
        <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-prefer">Prefer not to say
      </label>
    </div>
  </div>

  <div class="text">
    <p class="form-label">Did any of your parent(s) or guardian(s) complete a university degree course or equivalent? </p>
    <div class="form-group inline">
      <label for="university-yes" class="block-label">
        <input name="university" type="radio" id="university-yes">Yes
      </label>
      <label for="university-no" class="block-label">
        <input name="university" type="radio" id="university-no">No
      </label>
      <label for="university-remember" class="block-label">
        <input name="university" type="radio" id="university-remember">I don't remember
      </label>
      <label for="university-prefer" class="block-label">
        <input name="university" type="radio" id="university-prefer">Prefer not to say
      </label>
    </div>
  </div>
</section>

<div>
  <a href="questionnaire-03.html" class="button">Save and continue</a>
</div>
