---
pageTitle: Diversity questionnaire
---

<h1 class="heading-xlarge">{{ pageTitle }}</h1>

<div class="panel-indent text">
  <p class="">
    The following information you provide is anonymous and will not be used to affect your application.
  </p>
</div>
<details class="text">
  <summary>Why do we collect this information?</summary>
  <div class="detail-content panel-indent">
    <p>
      The Civil Service is committed to promoting diversity, irrespective of ethnicity or nationality, gender, transgender, sexuality, disability, age, religion, marital status, working patterns and socio-economic status.</p>

    <p>
      We collect diversity and socio economic information for monitoring purposes only and this data is treated separately from the application process. Your response in this section will not in any way affect your results and will be treated in strict confidence.
    </p>
  </div>
</details>
<h2 class="heading-large">
  Diversity
</h2>

<div class="form-group">
  <label class="form-label" for="genderList">What is your gender identity?</label>
  <!-- <div class="form-group">
    <div>
      <label for="gender-nosay" class="block-label">
        <input name="gender" type="radio" id="gender-nosay" aria-labelledby="genderQuestion">Prefer not to say
      </label>
    </div>
    <div>
      <label for="gender-man" class="block-label">
        <input name="gender" type="radio" id="gender-man" aria-labelledby="genderQuestion">Man
      </label>
    </div>
    <div>
      <label for="gender-woman" class="block-label">
        <input name="gender" type="radio" id="gender-woman" aria-labelledby="genderQuestion">Woman
      </label>
    </div>
    <div>
      <label for="gender-other" class="block-label">
        <input name="gender" type="radio" id="gender-other" aria-labelledby="genderQuestion">Other gender identity
      </label>
    </div>
  </div> -->
  <select name="" id="genderList">
    <option value="">-- Please select --</option>
    <option value="">Prefer not to say</option>
    <option value="">Man</option>
    <option value="">Woman</option>
    <option value="">Other gender identity</option>
  </select>
</div>

<div class="form-group">
  <label class="form-label" for="sexualList">What is your sexual orientation?</label>
  <select name="" id="sexualList">
    <option value="">-- Please select --</option>
    <option value="">Prefer not to say</option>
    <option value="">Heterosexual/straight</option>
    <option value="">Gay woman/lesbian</option>
    <option value="">Gay man</option>
    <option value="">Bisexual</option>
    <option value="">Other</option>
  </select>
</div>

<div class="form-group">
  <label for="ethnicList" class="form-label">What is your ethnic group?</label>
  <select name="" id="ethnicList">
    <option value="">-- Please select --</option>
    <option value="">Prefer not to say</option>
    <optgroup label="White">
      <option value="">English/Welsh/Scottish/Northern Irish/British </option>
      <option value="">Irish </option>
      <option value="">Gypsy or Irish Traveller </option>
      <option value="">Other White background</option>
    </optgroup>
    <optgroup label="Mixed/Multiple ethnic groups">
      <option value="">White and Black Caribbean </option>
      <option value="">White and Black African </option>
      <option value="">White and Asian </option>
      <option value="">Other mixed/multiple ethnic background </option>
    </optgroup>
    <optgroup label="Asian/Asian British">
      <option value="">Indian </option>
      <option value="">Pakistani </option>
      <option value="">Bangladeshi </option>
      <option value="">Chinese </option>
      <option value="">Other Asian background</option>
    </optgroup>
    <optgroup label="Black/African/Caribbean/Black British">
      <option value="">African </option>
      <option value="">Caribbean </option>
      <option value="">Other Black/African/Caribbean background</option>
    </optgroup>
    <optgroup label="Other ethnic group">
      <option value="">Arab</option>
      <option value="">Other ethnic group</option>
    </optgroup>
  </select>
</div>

<div class="form-group">
  <label class="form-label" for="religionList">What is your religion?</label>
  <select name="" id="religionList" class="selectWithOptionTrigger">
    <option value="">-- Please select --</option>
    <option value="">Prefer not to say</option>
    <option value="">No religion</option>
    <option value="">Christian (all denominations)</option>
    <option value="">Buddhist</option>
    <option value="">Hindu</option>
    <option value="">Jewish</option>
    <option value="">Muslim</option>
    <option value="">Sikh</option>
    <option class="optionTrigger" value="" data-optiontrigger="religionDescribe">Any other religion, please describe</option>
  </select>
</div>

<div class="toggle-content form-group" id="religionDescribe">
  <label for="religionDescribeControl" class="form-label">Please describe your religion</label>
  <input type="text" id="religionDescribeControl" class="form-control">
</div>

<div class="form-group">
  <label class="form-label" for="maritalList">What is your marital status?</label>
  <select name="" id="maritalList">
    <option value="">-- Please select --</option>
    <option value="">Prefer not to say</option>
    <option value="">Single</option>
    <option value="">Married</option>
    <option value="">Separated, but still legally married</option>
    <option value="">Divorced</option>
    <option value="">Widowed</option>
    <option value="">In a registered same-sex civil partnership</option>
    <option value="">Separated, but still legally in a same-sex civil partnership</option>
    <option value="">Formerly in a same-sex civil partnership which is now legally dissolved</option>
    <option value="">Surviving partner from a same-sex civil partnership </option>
  </select>
</div>

<p>
  <a href="questionnaire-02.html" class="button">Save and continue</a>
</p>
