---
pageTitle: Anonymous questionnaire
---

<h1 class="heading-xlarge">{{ pageTitle }}</h1>

<h2 class="heading-large">
  Socio-economic information
</h2>

<div class="form-group">
  <label class="form-label" for="schoolAttended">What school did you attend to do your GCSEs?</label>
  <input type="text" id="schoolAttended" class="form-control">
</div>

<div class="form-group">
  <label class="form-label" for="homePostcode">What was your home postcode when you were 14?</label>
  <span class="form-hint">If you don't know the postcode please enter street name and town</span>
  <input type="text" id="homePostcode" class="form-control">
</div>


<div class="text">
  <p class="form-label">Were you eligible to claim Free School Meals or Education Maintenance Allowance?</p>
  <div class="form-group inline">
    <label for="freeSchoolMeals-yes" class="block-label">
      <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-yes">Yes
    </label>
    <label for="freeSchoolMeals-no" class="block-label">
      <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-no">No
    </label>
    <label for="freeSchoolMeals-prefer" class="block-label">
      <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-prefer">Prefer not to say
    </label>
  </div>
</div>

<div class="text">
  <p class="form-label">Has any member of your immediate family attended university?</p>
  <div class="form-group inline">
    <label for="university-yes" class="block-label">
      <input name="university" type="radio" id="university-yes">Yes
    </label>
    <label for="university-no" class="block-label">
      <input name="university" type="radio" id="university-no">No
    </label>
    <label for="university-prefer" class="block-label">
      <input name="university" type="radio" id="university-prefer">Prefer not to say
    </label>
  </div>
</div>

<p>
  <a href="profile-home-complete.html" class="button">Submit answers</a>
</p>
