---
pageTitle: Diversity questionnaire
---

<h1 class="heading-xlarge">{{ pageTitle }}</h1>
<div class="panel-indent text">
  <p class="">
    The following information you provide is anonymous and will not be used to affect your application.
  </p>
</div>
<details class="text">
  <summary>Why do we collect this information?</summary>
  <div class="detail-content panel-indent">
    <p>
      The Civil Service is committed to promoting diversity, irrespective of ethnicity or nationality, gender, transgender, sexuality, disability, age, religion, marital status, working patterns and socio-economic status.</p>

    <p>
      We collect diversity and socio economic information for monitoring purposes only and this data is treated separately from the application process. Your response in this section will not in any way affect your results and will be treated in strict confidence.
    </p>
  </div>
</details>
<section class="section-border">
  <h2 class="heading-large">
    Socio-economic information
  </h2>

  <div class="form-group form-group-compound">
    <label class="form-label" for="schoolAttended">What school did you attend to do your GCSEs?</label>
    <input type="text" id="schoolAttended" class="form-control">
  </div>

  <div class="form-group">
    <label for="school-prefernot" class="block-label" data-distarget="schoolAttended">
      <input type="checkbox" id="school-prefernot">Prefer not to say
    </label>
  </div>

  <div class="form-group form-group-compound">
    <label class="form-label" for="homePostcode">What was your home postcode when you were 14?</label>
    <span class="form-hint">If you don't know the postcode please enter street name and town</span>
    <input type="text" id="homePostcode" class="form-control">
  </div>

  <div class="form-group">
    <label for="postcode-prefernot" class="block-label" data-distarget="homePostcode">
      <input type="checkbox" id="postcode-prefernot">Prefer not to say
    </label>
  </div>

  <div class="text">
    <p class="form-label">Were you eligible to claim Free School Meals or Education Maintenance Allowance?</p>
    <div class="form-group inline">
      <label for="freeSchoolMeals-yes" class="block-label">
        <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-yes">Yes
      </label>
      <label for="freeSchoolMeals-no" class="block-label">
        <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-no">No
      </label>
      <label for="freeSchoolMeals-prefer" class="block-label">
        <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-prefer">Prefer not to say
      </label>
    </div>
  </div>

  <div class="text">
    <p class="form-label">Has any member of your immediate family attended university?</p>
    <div class="form-group inline">
      <label for="university-yes" class="block-label">
        <input name="university" type="radio" id="university-yes">Yes
      </label>
      <label for="university-no" class="block-label">
        <input name="university" type="radio" id="university-no">No
      </label>
      <label for="university-prefer" class="block-label">
        <input name="university" type="radio" id="university-prefer">Prefer not to say
      </label>
    </div>
  </div>
</section>
<h2 class="heading-large">Submit application</h2>
<div class="panel-indent text">
  <p>Once you submit your application you will not be able to amend any of your details</p>
</div>

<div>
  <a href="profile-home-complete.html" class="button">Submit application</a>
  <a href="profile-home-savedques.html" class="button-link">Save to submit later</a>
</div>
