---
pageTitle: Diversity questionnaire
---

<h1 class="heading-xlarge">{{ pageTitle }}</h1>

<div class="panel-indent text">
  <p class="lede">
    The following information you provide is anonymous and will not be used to affect your application.
  </p>
  <p class="lede">
    If you have a query about this questionnaire <a href="helpdesk.html">please contact us</a>.
  </p>
</div>

<details class="text">
  <summary>Why do we collect this information?</summary>
  <div class="detail-content panel-indent">
    <p>
      The Civil Service is committed to promoting diversity, irrespective of ethnicity or nationality, gender, transgender, sexuality, disability, age, religion, marital status, working patterns and socio-economic status.</p>

    <p>
      We collect diversity and socio economic information for monitoring purposes only and this data is treated separately from the application process. Your response in this section will not in any way affect your results and will be treated in strict confidence.
    </p>
  </div>
</details>

<div class="form-group">
  <label for="accept-terms" class="block-label">
    <input type="checkbox" id="accept-terms">I understand and I'm happy to continue
  </label>
</div>

<a href="questionnaire-01.html" class="button">Start questionnaire</a>

