---
pageTitle: Choose preferred location and scheme
---
<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <h1 class="heading-xlarge" id="choosePrefLocFramHeading">{{ pageTitle }}</h1>
  </div>
  <div class="grid grid-1-3">
  </div>
</div>

<div class="grid-wrapper">
  <div class="grid grid-1-3 hide-nojs">
    <div class="inner-block-padr map-legend-container">
      <div class="map-control">
        <div class="panel-indent toggle-content" id="chooseRegionContainer">
          <h2 class="heading-small" id="chooseRegionText">Choose a region to filter the locations</h2>
          <a href="#" id="clearMap" class="toggle-content">Reset selected region</a>
        </div>
      </div>
      <div class="map-legend grid-1-2">
        <h2 class="heading-small" id="hoveredRegionName"></h2>
      </div>
      <div class="show-ie8">
        {{> map-uk-ie8 }}
      </div>
      <div class="svg-map-container hide-ie8">
        {{> map-uk }}
      </div>
    </div>
  </div>
  <div class="grid grid-2-3"id="containingGridPreference">
    <section id="firstChoiceInfo">
      <h2 class="heading-medium">First preference</h2>
      <h3 class="heading-small" id="firstChosenLocation">Coventry</h3>
      <p class="small-btm-margin" id="firstChosenSchemes">Business, Cyber Security</p>
      <p><a href="scheme-selection.html">Change this selection</a></p>
    </section>

    <div id="chooseLocationAndScheme">
      <section>
        <h2 class="heading-medium" id="chooseHeading">
          Second preference of location
        </h2>
        <!-- <p id="selectLocationBlurb">Select a region from the map, or alternatively choose a location from the list.</p> -->
        <div id="selectLocationBlurb" class="hide-nojs">
          <p>Select a region on the map to see the available locations listed. The schemes available at different locations will vary.</p>
          <p>Or, view a <a href="" id="viewListOfLocations">list of the locations</a>.</p>
          <a id="noSecondPreference" href="scheme-summary-02.html">Continue without a second preference</a>
        </div>
        <p id="chosenRegionBlurb" class="toggle-content hide-nojs">Choose a location in the region: <b></b></p>
        <p class="toggle-content hide-nojs" id="locationSelectedText">
          Location selected
        </p>
        <div class="grid-2-3 toggle-content" id="listOfLocationsContainer">
          {{> location-select }}
        </div>
      </section>
      <section class="toggle-content" id="locationSelectedContainer" aria-hidden="true">

        <div class="hgroup-medium">
          <h2 class="heading-medium" aria-live="polite">Choose a scheme</h2>
          <p class="subtitle">
            <a href="#" target="_blank" >Find out more about the schemes we offer</a>
          </p>
        </div>

        <div class="grid-3-4">
          <div class="form-group">
            <label for="schemePref1" class="form-label">First preference of scheme</label>
            <select name="" id="schemePref1" class="chosen-select" data-placeholder="Choose from list or begin typing">
              <option value="" class="placeholder-option"></option>
              <option value="Business">Business</option>
              <option value="Commercial">Commercial</option>
              <option value="Cyber security">Cyber security</option>
              <option value="Digital and technology">Digital and technology</option>
              <option value="Finance">Finance</option>
              <option value="Project delivery">Project delivery</option>
            </select>
          </div>

          <div class="form-group" id="secondPreferenceContainer">
            <label for="schemePref2" class="form-label">Second preference of scheme</label>
            <select name="" id="schemePref2" class="chosen-select" data-placeholder="Choose from list or begin typing">
              <option value="" class="placeholder-option"></option>
              <option value="Business">Business</option>
              <option value="Commercial">Commercial</option>
              <option value="Cyber security">Cyber security</option>
              <option value="Digital and technology">Digital and technology</option>
              <option value="Finance">Finance</option>
              <option value="Project delivery">Project delivery</option>
              <option value="No second preference">No second preference</option>
            </select>
          </div>
        </div>

      </section>
    </div>

    <a href="scheme-summary-02.html" class="button toggle-content second-choice second-choice-btn" id="choiceSave">Save second location and scheme</a>
  </div>
</div>

<script>
  var availableLocationsAndSchemes = {"East":{"Bedford":["Business","Commercial","Finance"],"Hertford":["Business","Commercial","Finance"],"Milton Keynes":["Business","Commercial","Finance"],"Norwich":["Business","Commercial","Finance"],"Southend":["Business","Commercial","Finance"],"TestGCSE":["Business","Commercial","Finance"]},"East-midlands":{"Leicester":["Business","Commercial","Finance"],"Nottingham":["Business","Commercial","Finance"]},"London":{"Hackney":["Business","Commercial","Finance"],"London":["Business","Commercial","Finance"],"Northwood":["Business","Commercial","Finance"]},"North-east":{"Darlington":["Business","Commercial","Finance"],"Jarrow South":["Business","Commercial","Finance"],"Newcastle":["Business","Commercial","Finance"],"Stockton":["Business","Commercial","Finance"],"Teeside":["Business","Commercial","Finance"],"Washington":["Business","Commercial","Finance"]},"North-west":{"Blackpool":["Business","Commercial","Finance"],"Bootle":["Business","Commercial","Finance"],"Liverpool":["Business","Commercial","Finance"],"Lytham St Annes":["Business","Commercial","Finance"],"Manchester":["Business","Commercial","Finance"],"Preston":["Business","Commercial","Finance"],"Salford":["Business","Commercial","Finance"],"Shipley":["Business","Commercial","Finance"]},"Scotland":{"Bathgate (Edinburgh)":["Business","Commercial","Finance"],"Cumbernauld":["Business","Commercial","Finance"],"Dundee":["Business","Commercial","Finance"],"East Kilbride":["Business","Commercial","Finance"],"Edinburgh":["Business","Commercial","Finance"],"Glasgow":["Business","Commercial","Finance"]},"South-east":{"Andover":["Business","Commercial","Finance"],"Aylesbury (Buckinghamshire)":["Business","Commercial","Finance"],"Chilton":["Business","Commercial","Finance"],"Hastings":["Business","Commercial","Finance"],"High Wycombe":["Business","Commercial","Finance"],"Kent (inc.Ramsgate)":["Business","Commercial","Finance"],"Oxford":["Business","Commercial","Finance"],"Reading":["Business","Commercial","Finance"],"Shrivenham":["Business","Commercial","Finance"],"Surrey":["Business","Commercial","Finance"],"Worthing":["Business","Commercial","Finance"]},"South-west":{"Bristol":["Business","Commercial","Finance"]},"Wales":{"Cardiff":["Business","Commercial","Finance"],"Merthyr Tydfil":["Business","Commercial","Finance"],"Swansea":["Business","Commercial","Finance"]},"West-midlands":{"Birmingham":["Business","Commercial","Finance"],"Cosford":["Business","Commercial","Finance"],"Coventry":["Business","Commercial","Finance"],"Handsworth":["Business","Commercial","Finance"],"Lichfield":["Business","Commercial","Finance"],"Stratford":["Business","Commercial","Finance"],"Sutton Coldfield":["Business","Commercial","Finance"],"Telford":["Business","Commercial","Finance"],"Walsall":["Business","Commercial","Finance"],"Wolverhampton":["Business","Commercial","Finance"]},"Yorkshire-humberside":{"Bradford":["Business","Commercial","Finance"],"Leeds":["Business","Commercial","Finance"],"Sheffield":["Business","Commercial","Finance"],"York":["Business","Commercial","Finance"]}}
</script>








