---
pageTitle: Choose preferred location and scheme
---
<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <h1 class="heading-xlarge" id="choosePrefLocFramHeading">{{ pageTitle }}</h1>
  </div>
  <div class="grid grid-1-3">
  </div>
</div>
<div class="grid-wrapper">
  <div class="grid grid-1-3 hide-nojs">
    <div class="inner-block-padr map-legend-container disabled">
      <div class="show-ie8">
        {{> map-uk-ie8 }}
      </div>
      <div class="svg-map-container hide-ie8">
        {{> map-uk }}
      </div>
    </div>
  </div>
  <div class="grid grid-2-3" id="containingGridPreference">
    <section class="" id="choiceInfo">
      <h2 class="heading-medium">First preference</h2>
      <h3 class="heading-small" id="chosenLocation">Coventry</h3>
      <p class="small-btm-margin" id="chosenSchemes">Business, Cyber Security</p>
      <p><a href="scheme-selection.html">Change this selection</a></p>
      <div class="form-group" id="secondPreferenceControls">
        <a href="scheme-selection-02.html" class="button" id="addSecondButton">Add a second location</a>
        <a href="scheme-summary-02.html" class="button-link">Proceed without a second location</a>
      </div>
    </section>
  </div>
</div>

