---
pageTitle: Application submitted
---

<div class="success-banner">
  <h1 class="heading-large no-btm-margin"><i class="fa fa-check"></i>{{ pageTitle }}</h1>
</div>

<div class="panel-indent">
  <p><i class="fa fa-envelope-o"></i>We've sent you an email confirming your application</p>
</div>

<div class="text">
  <h2 class="heading-large">What happens next?</h2>

  <p>The next step is to complete the online tests. You'll be sent an email once these are ready for you to start and you'll have 7 days to complete them.</p>
  <p>If you can't see the email in your inbox, check your spam folder.</p>

  <p><a href="/feedback.html" target="_blank">Give feedback?</a> (30 second survey)</p>

  <p>Finished with the service? <a href="profile-signin.html?Status=signout">Sign out</a>.</p>
</div>