---
pageTitle: Application submitted
---

<div class="success-banner">
  <h1 class="heading-large no-btm-margin"><i class="fa fa-check"></i>{{ pageTitle }}</h1>
</div>

<div class="panel-indent">
  <p><i class="fa fa-envelope-o"></i>We've sent you an email confirming your application</p>
</div>

<h2 class="heading-large">What happens next?</h2>

<p class="text">The next thing you'll need to do is the online test. You'll be sent an email once this ready for you to complete.</p>

<p><a href="/feedback.html" target="_blank">Give feedback?</a> (30 second survey)</p>

<p>Finished with the service? <a href="profile-signin.html?Status=signout">Sign out</a>.</p>