<h1 class="heading-xlarge">Withdraw your application</h1>

<div class="panel-indent">
  <div class="text">
    <p>If you withdraw your application you will no longer be able to apply using this account. If you want to reinstate your application you will need to start again, with a new account.</p>
  </div>
</div>

<div class="form-group">
  <p class="form-label">Do you still want to withdraw?</p>
  <a href="profile-signin.html" class="button">Withdraw my application</a>
</div>