---
pageTitle: Withdraw your application
---
<h1 class="heading-xlarge">{{ pageTitle }}</h1>

<div class="panel-indent">
  <div class="text">
    <p>If you withdraw your application you will no longer be able to apply using this account. If you want to reinstate your application you will need to start again, with a new account.</p>
    <p>If you've completed the online test and withdrawn your application, you will be unable to re-apply.</p>
  </div>
</div>

<div class="form-group">
  <label for="withdrawReason" class="form-label">Please tell us your reason for withdrawal</label>
  <select name="withdrawalReasons" id="withdrawReason" class="selectWithOptionTrigger">
    <option value="">-- Select reason from list --</option>
    <option value="">I've found another job elsewhere</option>
    <option value="">I'm joining another apprenticeship scheme</option>
    <option value="">I realised I wasn't eligible for an apprenticeship</option>
    <option value="">My circumstances have changed</option>
    <option value="">I have moved abroad</option>
    <option class="optionTrigger" value="" data-optiontrigger="moreInfo">Other reason (please provide details)</option>
  </select>
</div>
<div class="form-group toggle-content" id="moreInfo">
  <label for="otherWithdrawReason" class="form-label">More information about your withdrawal</label>
  <textarea name="" id="otherWithdrawReason" rows="6" class="form-control"></textarea>
</div>

<a href="profile-signin.html?Status=withdrawn" class="button" id="withdrawApplication">Withdraw my application</a>
