$square-width: 10;
$square-height: 10;

.imgwrap {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  img {
    display: block;
    margin: auto;
    top: 0; right: 0; bottom: 0; left: 0;
    max-width: 100%; max-height: 100%;
    position: absolute;
  }
}

img {
  max-width: 100%;
  .map-container & {
    max-width: inherit;
  }
}

.image-left {
  float: left;
  margin-right: 10px;
}

.map-container {
  position: relative;
  .view-googlemaps {
    background: rgba(white, .8);
    display: inline-block;
    padding: 1px 4px;
    position: absolute;
    top: 0; right: 0;
    z-index: 10;
  }
}

.search-results {
  .map {
    width: 100%;
    height: 200px;
    @include media(tablet) {
      height: 125px;
    }
  }
}

.imgwrap--square {
  padding-top: percentage($square-height / $square-width);
}

.ad-details__map {
  background-color: $grey-3;
  height: 250px;
  margin-bottom: 20px;
  position: relative;
}

.map-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

iframe, object, embed {
  max-width: 100%;
}

iframe {
  .no-js & {
    display: none !important;
  }
}

.icon-with-text {
  .the-icon {
    display: inline-block;
  }
  .the-text {
    display: none;
    @include media(tablet) {
      display: inline-block;
    }
  }
}

.icon-black {
  color: $black;
  cursor: pointer;
  &:hover {
    color: $grey-1;
  }
}

.font-black {
  color: $black;
  &:hover {
    color: $black;
  }
}

.icon-sms {
  background: url(../img/icon-sms.svg) no-repeat;
  background-size: 19px 19px;
  display: inline-block;
  width: 19px; height: 19px;
  .lt-ie9 & {
    background-image: url(../img/icon-sms.png);
  }
}

.icon-tag-open {
  background: url(../img/label-o.svg) no-repeat;
  background-size: 16px 16px;
  display: inline-block;
  width: 16px; height: 16px;
  // .lt-ie9 & {
  //   background-image: url(../img/icon-sms.png);
  // }
}

.icon-tag {
  background: url(../img/label.svg) no-repeat;
  background-size: 16px 16px;
  display: inline-block;
  width: 16px; height: 16px;
  // .lt-ie9 & {
  //   background-image: url(../img/icon-sms.png);
  // }
}

.remove-qualification-link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.performance {
  background: url(../img/performance-icon.png) no-repeat 0 2px;
  background-size: 25px 15px;
  padding-left: 35px;
  @include device-pixel-ratio(2) {
    background-image: url(../img/performance-icon-2x.png);
  }
}


//--- SVG Map

.svg-map {
  .region-container {
    cursor: pointer;
    position: relative;
    &:hover {
      polygon, path {
        fill: $link-hover-colour;
      }
    }
  }
}

.svg-map-container {
  position: relative;
}

.map-region {
  color: $black;
  display: none;
  position: absolute;
  pointer-events: none;
  text-decoration: none;
  width: 100%; height: 100%;
  z-index: 1000;
  .region-city {
    display: block;
    padding-left: 1.2em;
    position: absolute;
    &:before {
      background: $pink;
      border-radius: 50%;
      content: '';
      display: inline-block;
      position: absolute;
      top: 2px; left: 0;
      width: 1em; height: 1em;
    }
  }
}

[data-region="Scotland"] {
  width: 55.98%; //323px
  height: 46.63%; //477px
  top: 0; left: 0;
}

[data-region="North_East"] {
  width: 19.24%; //111px
  height: 15.84%; //162px
  top: 33.72%; //345px
  left: 46.1%; //266px
}

[data-region="North_West"] {
  width: 19.76%; //114px
  height: 24.93%; //255px
  top: 40.96%; //419px
  left: 34.66%; //200px
}

[data-region="Yorkshire-Humberside"] {
  width: 33.45%; //193px
  height: 16.13%; //165px
  top: 46.63%; //477px
  left: 46.97%; //271px
}

[data-region="Midlands"] {
  width: 45.23%; //261px
  height: 20.72%; //212px
  top: 57.67%; //590px
  left: 38.3%; //221px
}

[data-region="Wales"] {
  width: 38.13%; //220px
  height: 24.83%; //254px
  top: 59.63%; //610px
  left: 10.23%; //59px
}

[data-region="Milton_Keynes"] {
  width: 31.2%; //180px
  height: 17.6%; //180px
  top: 65.59%; //671px
  left: 69.32%; //401px
}

[data-region="London"] {
  width: 44.19%; //255px
  height: 17.4%; //178px
  top: 74.98%; //767px
  left: 53.9%; //311px
}

[data-region="South_West"] {
  width: 55.46%; //320px
  height: 22.97%; //235px
  top: 76.25%; //78px
  left: 4.85%; //28px
}

[data-region="Wales"] {
  width: 38.13%; //220px
  height: 24.83%; //254px
  top: 59.63%; //610px
  left: 10.23%; //59px
}

#city-glasgow {
  left: 42%; top: 65%;
}

#city-edinburgh {
  left: 65%; top: 67%;
}

#city-newcastle, #city-washington {
  right: 30%; top: 20%;
}

#city-darlington {
  right: 35%; top: 45%;
}

#city-liverpool {
 left: 20%; bottom: 30%;
}

#city-manchester {
  left: 50%; bottom: 35%;
}

#city-preston {
  left: 35%; bottom: 50%;
}

#city-leeds {
  left: 30%; top: 45%;
}

#city-sheffield {
  left: 35%; top: 65%;
}

#city-cardiff {
  left: 70%; bottom: 15%;
}

#city-swansea {
  left: 45%; bottom: 25%;
}

#city-birmingham {
  left: 30%; top: 50%;
}

#city-nottingham {
  left: 40%; top: 30%;
}

#city-wolverhampton, #city-telford {
  left: 20%; top: 40%;
}

#city-coventry {
  left: 45%; top: 60%;
}

#city-miltonkeynes {
  left: 20%; top: 45%;
}

#city-bedford {
  left: 30%; top: 35%;
}

#city-hertford {
  left: 30%; bottom: 35%;
}

#city-london {
  left: 50%; top: 40%;
}

#city-reading {
  left: 35%; top: 45%;
}

#city-bristol {
  right: 22%; top: 25%;
}

#city-shrivenham {
  right: 5%; top: 20%;
}














