---
pageTitle: Online tests
layout: tests-layout.hbs
---

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <p class="subtitle">7 days remaining</p>
</div>
<div class="hgroup-large">
  <h2 class="heading-large">Verbal and numerical section</h2>
  <p class="subtitle">Question 1</p>
</div>
<div class="text">
  <p class="lede">Quickly, is the opposite of?</p>
  <ul class="list-text">
    <li>
      <label for="question-01" class="block-label">
        <input id="question-01" type="radio" name="questions">Fastest
      </label>
    </li>
    <li>
      <label for="question-02" class="block-label">
        <input id="question-02" type="radio" name="questions">Slowly
      </label>
    </li>
    <li>
      <label for="question-03" class="block-label">
        <input id="question-03" type="radio" name="questions">Speedily
      </label>
    </li>
    <li>
      <label for="question-04" class="block-label">
        <input id="question-04" type="radio" name="questions">Worst
      </label>
    </li>
    <li>
      <label for="question-05" class="block-label">
        <input id="question-05" type="radio" name="questions">Haste
      </label>
    </li>
  </ul>
  <p><a href="next-section.html" class="button">Save and continue</a></p>
</div>