---
pageTitle: Email
layout: email-layout.hbs
sentName: Fast Track Apprenticeships
sentSubject: Online tests are now open
sentSnippet: Your online tests are now ready and you'll need to sign in to your account.
---


<p>Dear John</p>
<p>The Fast Track team is pleased to let you know that the online tests are now available for you to complete.</p>
<p>Note that you'll need to <b>complete the tests within 7 days</b> from the date of this email.</p>
<p>You'll need to sign in to start the tests <br>(<a href="https://www.apply-civil-service-apprenticeship.service.gov.uk/">https://www.apply-civil-service-apprenticeship.service.gov.uk/</a>)</p>
<p>Thanks</p>
<p>Fast Track Apprenticeships</p>
