---
pageTitle: Email
layout: email-layout.hbs
sentName: Fast Track Apprenticeships
sentSubject: Your online tests are ready
sentSnippet: Your online tests are now ready and you'll need to sign in to your account.
---

<div id="main" class="pure-u-1">
    <div class="email-content">
        <div class="email-content-header pure-g">
            <div class="pure-u-1-2">
                <h1 class="email-content-title">{{ sentSubject }}</h1>
                <p class="email-content-subtitle">
                    From <a>{{ sentName }}</a> at <span>3:56pm, April 3, 2016</span>
                </p>
            </div>

            <div class="email-content-controls pure-u-1-2">
                <button class="secondary-button pure-button">Reply</button>
                <button class="secondary-button pure-button">Forward</button>
                <button class="secondary-button pure-button">Move to</button>
            </div>
        </div>

        <div class="email-content-body">
            <p>Dear John Smith</p>
            <p>Your online tests are now ready</p>
        </div>
    </div>
</div>
