---
pageTitle: Email
layout: email-layout.hbs
sentName: Fast Track apprenticeship team
sentSubject: Online tests results
sentSnippet: Your online tests have been assessed and we have your results.
sentDate: 3:56pm on 3 April 2016
---


<p>Dear John</p>
<p>Your online tests have been assessed and we have your results.</p>
<p>You'll need to sign in to see your results<br> (<a href="/fasttrack/profile-signin.html?Status=testssuccessful">https://www.apply-civil-service-apprenticeship.service.gov.uk/csr-fast-track/signin</a>)</p>
<p>Thank you</p>
<p>Fast Track apprenticeship team</p>
<br>
<p>If you need more help, call us on 03000 54 22 11.</p>
<p>Do not reply to this email</p>