---
pageTitle: Email
layout: email-layout.hbs
sentName: Fast Track apprenticeship team
sentSubject: Online tests are now open
sentSnippet: Your online tests are now ready and you'll need to sign in to your account.
---


<p>Dear John</p>
<p>We're pleased to let you know that the online tests are now available for you to complete.</p>
<h3>You have 7 days to complete the tests.</h3>
<p>The tests will expire at 3:56pm on 10 April 2016. You'll no longer be able to take the tests after this date.</p>
<p>You'll need to return to the Fast Track apprenticeship home page to sign in.</p>
<p>Thanks</p>
<p>Fast Track apprenticeship team</p>
<br>
<p>If you need more help, call us on 03000 54 22 11.</p>
<p>Do not reply to this email</p>