---
pageTitle: Email
layout: email-layout.hbs
sentName: Fast Track apprenticeship team
sentSubject: 3 days left to finish the online tests
sentSnippet: You have 3 days left to complete the Fast Track online tests.
sentDate: 3:56pm on 6 April 2016
---


<p>Dear John</p>
<p>Your application won't be complete until you finish the online tests.</p>
<h3>You now have 3 days left to complete the tests.</h3>
<p>The tests will expire at 3:56pm on 10 April 2016.</p>
<p>You'll need to return to the Fast Track apprenticeship home page to sign in.</p>
<p>Thanks</p>
<p>Fast Track apprenticeship team</p>
<br>
<p>If you need more help, call us on 03000 54 22 11.</p>
<p>Do not reply to this email</p>
