---
pageTitle: Online tests
layout: tests-layout.hbs
---

<h1 class="heading-xlarge">{{ pageTitle }}</h1>
<div class="text">
  <h2 class="heading-large">Tests complete</h2>
  <p>You've completed all the sections of the online tests.</p>
  <p>We will now assess your results and you can expect to hear back from us within 14 days.</p>
  <p>We will send you an email to let you know when your results are available.</p>
  <p><a href="/fasttrack/profile-home-tests-complete.html">Back to home</a></p>
</div>