---
pageTitle: Online tests
layout: tests-layout.hbs
---

<h1 class="heading-xlarge">{{ pageTitle }}</h1>
<p><a href="/fasttrack/profile-home-tests.html">Back to home</a></p>
<div class="text">
  <p>Welcome to the online tests section for Apply for a Civil Service apprenticeship.</p>
  <div class="panel-indent">
    <p>Try to answer each section in one go. Closing the test will cause you to have to start the section again, with new questions.</p>
  </div>
</div>
<section class="section-border">
  <div class="text">
    <h2 class="heading-large">Verbal and numerical section</h2>
    <p>This section will be testing your verbal and numerical ability.</p>
    <p>It should take you less than 20 minutes to complete.</p>
    <div class="form-group">
      <a href="ability-ques.html" class="button">Start section</a>
    </div>
  </div>
</section>
<section class="section-border">
  <div class="text">
    <h2 class="heading-large">Situational section</h2>
    <p>This section will be about situations encountered in the workplace.</p>
    <p>It should take you less than 25 minutes to complete.</p>
    <p><a href="situational-ques.html" class="button disabled">Start section</a></p>
    <p></p>
  </div>
</section>