---
pageTitle: Online tests
layout: tests-layout.hbs
---

<h1 class="heading-xlarge">{{ pageTitle }}</h1>
<p><a href="/fasttrack/profile-home-tests.html">Back to home</a></p>
<div class="text">
  <p>Welcome to the online tests section for Apply for a Civil Service apprenticeship.</p>
  <div class="panel-indent">
    <p>Once you start the tests, you'll have 7 days to complete them</p>
  </div>
  <h2 class="heading-large">First section</h2>
  <p>The first section will be testing your verbal and numerical ability.</p>
  <p><a href="ability-ques.html" class="button">Start first section</a></p>
</div>