---
pageTitle: Online tests
layout: tests-layout.hbs
---

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <p class="subtitle">7 days remaining</p>
</div>
<section class="section-border">
  <div class="text">
    <h2 class="heading-large">Verbal and numerical section</h2>
    <p>This section will be testing your verbal and numerical ability.</p>
    <p>It should take you less than 20 minutes to complete.</p>
    <p><i class="fa fa-check the-icon"></i>Section complete</p>
  </div>
</section>
<section class="section-border">
  <div class="text">
    <h2 class="heading-large">Situational section</h2>
    <p>This section will be about situations encountered in the workplace.</p>
    <p>It should take you less than 25 minutes to complete.</p>
    <p><a href="situational-ques.html" class="button">Start section</a></p>
    <p></p>
  </div>
</section>