---
pageTitle: Online tests
layout: tests-layout.hbs
---

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <p class="subtitle">7 days remaining</p>
</div>
<h2 class="heading-large">Question 10</h2>
<div class="text">
  <p class="lede">Read the following</p>
  <p>You have recently noticed one of your colleagues has been struggling to deliver work on time.  There is no obvious reason for why this is so but they do seem to be getting increasingly delayed and you know they have made a couple of big mistakes recently too.  Their behaviour hasn’t gone unnoticed by other people across the business as you have overheard a number of managers talking about them in meetings.  They don’t have a lot of confidence and you don’t think they would be able to talk directly to the team manager about whatever is happening.  What would you do?</p>
</div>

<table class="grid-3-4">
  <colgroup>
    <col class="t50">
    <col class="t25">
    <col class="t25">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th>Most likely</th>
      <th>Least likely</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Talk to your team manager on their behalf and tell them that you are concerned about your colleague so that your manager can address the situation themselves in a professional way.</td>
      <td>
        <label for="question-01" class="block-label">
          <input id="question-01" type="radio" name="most">Most likely
        </label>
      </td>
      <td>
        <label for="question-01b" class="block-label">
          <input id="question-01b" type="radio" name="least">Least likely
        </label>
      </td>
    </tr>
    <tr>
      <td>Speak to your other colleagues in the team about their behaviour as they may have noticed it too; together you could formulate a way of helping them.</td>
      <td>
        <label for="question-02" class="block-label">
          <input id="question-02" type="radio" name="most">Most likely
        </label>
      </td>
      <td>
        <label for="question-02b" class="block-label">
          <input id="question-02b" type="radio" name="least">Least likely
        </label>
      </td>
    </tr>
    <tr>
      <td>Ask your colleague to join you for a coffee and ask them how they are doing.  Tell them that you have noticed they are struggling and offer to help them.</td>
      <td>
        <label for="question-03" class="block-label">
          <input id="question-03" type="radio" name="most">Most likely
        </label>
      </td>
      <td>
        <label for="question-03b" class="block-label">
          <input id="question-03b" type="radio" name="least">Least likely
        </label>
      </td>
    </tr>
    <tr>
      <td>Offer to pick up some tasks for your colleague to help alleviate the burden on them. </td>
      <td>
        <label for="question-04" class="block-label">
          <input id="question-04" type="radio" name="most">Most likely
        </label>
      </td>
      <td>
        <label for="question-04b" class="block-label">
          <input id="question-04b" type="radio" name="least">Least likely
        </label>
      </td>
    </tr>
  </tbody>
</table>

<p><a href="next-section.html" class="button">Save and continue</a></p>
