---
pageTitle: Online tests
layout: no-layout.hbs
---

<div style="text-align: center;">
  <a href="tests-complete.html" id="btnSignOut"><img src="{{assets}}/img/prototype/tests-04.png" alt=""></a>
</div>