---
pageTitle: Assessment schedule
layout: admin-layout.hbs
---

<div class="panel-success toggle-content" id="slotsSuccess">
  <p class="text">You've successfully saved candidate slots</p>
</div>

<h1 class="heading-xlarge">
  Assessment schedule
</h1>
<div class="panel-info toggle-content" id="managingCandidatePanel">
  <p>You are currently managing the slot for: <b id="candidateManaging">John Smith</b>.</p>
  <p><a href="" id="stopManagingCandidate">Stop managing</a></p>
</div>
<section class="responsive-table scrolling-panel">
  <table class="date-table">
    <thead>
      <tr>
        <th></th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>&nbsp;</td>
        <td>25/04</td>
        <td>26/04</td>
        <td>27/04</td>
        <td>28/04</td>
        <td>29/04</td>
        <td>02/05</td>
        <td>03/05</td>
        <td>04/05</td>
        <td>05/05</td>
        <td>06/05</td>
        <td>09/05</td>
        <td>10/05</td>
        <td>11/05</td>
        <td>12/05</td>
        <td>13/05</td>
        <td>16/05</td>
        <td>17/05</td>
        <td>18/05</td>
        <td>19/05</td>
        <td>20/05</td>
        <td>23/05</td>
        <td>24/05</td>
        <td>25/05</td>
        <td>26/05</td>
        <td>27/05</td>
        <td>30/05</td>
        <td>31/05</td>
        <td>01/06</td>
        <td>02/06</td>
        <td>03/06</td>
        <td>06/06</td>
        <td>07/06</td>
        <td>08/06</td>
        <td>09/06</td>
        <td>10/06</td>
        <td>13/06</td>
        <td>14/06</td>
        <td>15/06</td>
        <td>16/06</td>
        <td>17/06</td>
        <td>20/06</td>
        <td>21/06</td>
        <td>22/06</td>
        <td>23/06</td>
        <td>24/06</td>
        <td>27/06</td>
        <td>28/06</td>
        <td>29/06</td>
        <td>30/06</td>
        <td>01/07</td>
      </tr>
      <tr>
        <td><a href="location-schedule.html" class="link-unimp">London 1</a></td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="bank-holiday">BH</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="bank-holiday">BH</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
      </tr>
      <tr>
        <td><a href="location-schedule.html" class="link-unimp">London 2</a></td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
      </tr>
      <tr>
        <td><a href="location-schedule.html" class="link-unimp">London 3</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
      </tr>
      <tr>
        <td><a href="location-schedule.html" class="link-unimp">London 4</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
      </tr>
      <tr>
        <td><a href="location-schedule.html" class="link-unimp">London(1HGR)</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><a href="location-schedule.html" class="link-unimp">London(BerkH)</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><a href="location-schedule.html" class="link-unimp">Manchester</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
      </tr>
      <tr>
        <td><a href="location-schedule.html" class="link-unimp">Glasgow</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><a href="location-schedule.html" class="link-unimp">Bristol</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
      </tr>
      <tr>
        <td><a href="location-schedule.html" class="link-unimp">Birmingham</a></td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
      </tr>
      <tr>
        <td><a href="location-schedule.html" class="link-unimp">Leeds</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><a href="location-schedule.html" class="link-unimp">Newcastle</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-tentative">4</span>
            <span class="grid grid-1-2 day-no-go">3</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-tentative">4</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-confirmed">6</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
        <td class="grid-wrapper">
          <a href="session-schedule.html" class="grid-wrapper">
            <span class="grid grid-1-2 day-no-go">3</span>
            <span class="grid grid-1-2 day-confirmed">6</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<ul class="list-text">
  <li><span class="inl-block day-no-go small-right-margin">3</span> Unviable</li>
  <li><span class="inl-block day-tentative small-right-margin">4</span> Unconfirmed</li>
  <li><span class="inl-block day-confirmed small-right-margin">6</span> Confirmed</li>
</ul>
