---
pageTitle: Administration home
layout: admin-layout.hbs
---

<div class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <ul class="list-text">
        <li><a href="find-candidate.html">Find a candidate</a></li>
        <li><a href="reporting.html">Reporting</a></li>
        <li>Campaign management</li>

      </ul>
    </div>
  </div>
  <div class="grid grid-3-4">
    <div class="hgroup-large">
      <h2 class="heading-xlarge">
        Campaign management
      </h2>
    </div>
    <section>
      <h3 class="heading-large">
        Online testing
      </h3>
      <p>Online testing is not enabled</p>
      <p><a href="">Enable online testing</a></p>

    </section>
  </div>
</div>