---
pageTitle: Record scores
layout: admin-layout.hbs
signInClass: toggle-content
---

    <h1 class="heading-xlarge">
      Record candidate scores
    </h1>
    <section>

      <div class="grid-wrapper">
        <div class="grid grid-1-2">
          <div class="grid-wrapper">
            <div class="grid grid-1-3">
              <h2 class="bold-small">Location</h2><p>London 1</p>
            </div>
            <div class="grid grid-2-3">
              <h2 class="bold-small">Date</h2><p>Monday 25 April 2016</p>
            </div>
          </div>
        </div>
      </div>


      <section>
        <h2 class="heading-medium">Candidate scores</h2>
        <div id="addedCandidates" class="toggle-content">
          <section class="grid-wrapper section-border">
            <div class="grid-wrapper">
              <div class="grid grid-1-3">
                <h3 class="bold-small">Full name</h3>
                <p data-candidate-name>John Smith</p>
                <h3 class="bold-small">Email address</h3>
                <p data-candidate-id>john.smith@email.com</p>
              </div>
              <div class="grid grid-1-3">
                <h3 class="heading-small">Scores</h3>
                <ul class="list-text">
                  <li>
                    First score: <b data-candidate-score-01>65</b>
                  </li>
                  <li>
                    Second score: <b data-candidate-score-02>45</b>
                  </li>
                  <li>
                    Third score: <b data-candidate-score-03>67</b>
                  </li>
                  <li>
                    Overall score: <b data-candidate-score-overall>62</b>
                  </li>
                </ul>
              </div>
              <div class="grid grid-1-3">
                <h3 class="heading-small">Feedback</h3>
                <p data-candidate-feedback>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere suscipit cumque illum laborum ab maiores provident dolorum consequuntur, fugiat accusamus ipsa commodi necessitatibus, earum distinctio blanditiis non doloremque.</p>
              </div>
            </div>
            <p>
              <a href="candidate-scores-new.html?Status=amend" data-candidate-amend>Amend details</a>
            </p>
          </section>
        </div>
        <a href="candidate-scores-new.html">Add new candidate</a>
      </section>

    </section>

    <div class="toggle-content" id="addedSubmitBtn">
      <a href="" class="button">Submit scores</a>
    </div>


