---
pageTitle: Find a candidate
layout: admin-layout.hbs
---

<div class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <ul class="list-text">
        <li>Find a candidate</li>
        <li><a href="reporting.html">Reporting</a></li>
      </ul>
    </div>
  </div>
  <div class="grid grid-3-4">
    <h2 class="heading-xlarge">
      Find a candidate
    </h2>
    <p><a href="find-candidate.html">Return to search</a></p>
    <section>
      <h3 class="heading-large">Results</h3>
      <ul class="list-text">
        <li>
          <a href="view-candidate.html" class="inl-block link-unimp">Smith, James, james.smith@email.com, 17/7/1998, N17 5HS</a>
        </li>
        <li>
          <a href="view-candidate.html" class="inl-block link-unimp">Smith, John, john.smith@email.com, 17/7/1998, HU8 83J</a>
        </li>
        <li>
          <a href="view-candidate-alt.html" class="inl-block link-unimp">Smith, Tim, tim.smith@email.com</a>
        </li>
      </ul>
    </section>


  </div>
</div>