---
pageTitle: Administration home
layout: admin-layout.hbs
---

<div class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <ul class="list-text">
        <li>Reporting</li>
        <li><a href="find-applicant.html">Find an applicant</a></li>
      </ul>
    </div>
  </div>
  <div class="grid grid-3-4">
    <div class="hgroup-large">
      <h2 class="heading-xlarge">
        Reporting
      </h2>
    </div>
    <section>
      <select name="" id="" class="small-right-margin">
        <option value="">All locations</option>
        <optgroup class="East" data-optregion="East" label="East">
          <option value="Bedford">Bedford</option>
          <option value="Hertford">Hertford</option>
          <option value="Milton Keynes">Milton Keynes</option>
          <option value="Norwich">Norwich</option>
          <option value="Southend">Southend</option>
        </optgroup>
        <optgroup class="East-midlands" data-optregion="East-midlands" label="East Midlands">
          <option value="Leicester">Leicester</option>
          <option value="Nottingham">Nottingham</option>
        </optgroup>
        <optgroup class="London" data-optregion="London" label="Greater London">
          <option value="Hackney">Hackney</option>
          <option value="London">London</option>
          <option value="Northwood">Northwood</option>
        </optgroup>
        <optgroup class="North-east" data-optregion="North-east" label="North-east">
          <option value="Darlington">Darlington</option>
          <option value="Jarrow South">Jarrow South</option>
          <option value="Newcastle">Newcastle</option>
          <option value="Stockton">Stockton</option>
          <option value="Teeside">Teeside</option>
          <option value="Washington">Washington</option>
        </optgroup>
        <optgroup class="North-west" data-optregion="North-west" label="North-west">
          <option value="Blackpool">Blackpool</option>
          <option value="Bootle">Bootle</option>
          <option value="Liverpool">Liverpool</option>
          <option value="Lytham St Annes">Lytham St Annes</option>
          <option value="Manchester">Manchester</option>
          <option value="Preston">Preston</option>
          <option value="Salford">Salford</option>
          <option value="Shipley">Shipley</option>
        </optgroup>
        <optgroup class="Scotland" data-optregion="Scotland" label="Scotland">
          <option value="Bathgate (Edinburgh)">Bathgate (Edinburgh)</option>
          <option value="Cumbernauld">Cumbernauld</option>
          <option value="Dundee">Dundee</option>
          <option value="East Kilbride">East Kilbride</option>
          <option value="Edinburgh">Edinburgh</option>
          <option value="Glasgow">Glasgow</option>
        </optgroup>
        <optgroup class="South-east" data-optregion="South-east" label="South-east">
          <option value="Andover">Andover</option>
          <option value="Aylesbury (Buckinghamshire)">Aylesbury (Buckinghamshire)</option>
          <option value="Chilton">Chilton</option>
          <option value="Hastings">Hastings</option>
          <option value="High Wycombe">High Wycombe</option>
          <option value="Kent (inc.Ramsgate)">Kent (inc.Ramsgate)</option>
          <option value="Oxford">Oxford</option>
          <option value="Reading">Reading</option>
          <option value="Shrivenham">Shrivenham</option>
          <option value="Surrey">Surrey</option>
          <option value="Worthing">Worthing</option>
        </optgroup>
        <optgroup class="South-west" data-optregion="South-west" label="South-west">
          <option value="Bristol">Bristol</option>
        </optgroup>
          <optgroup class="Wales" data-optregion="Wales" label="Wales">
          <option value="Cardiff">Cardiff</option>
          <option value="Merthyr Tydfil">Merthyr Tydfil</option>
          <option value="Swansea">Swansea</option>
        </optgroup>
        <optgroup class="West-midlands" data-optregion="West-midlands" label="West Midlands">
          <option value="Birmingham">Birmingham</option>
          <option value="Cosford">Cosford</option>
          <option value="Coventry">Coventry</option>
          <option value="Handsworth">Handsworth</option>
          <option value="Lichfield">Lichfield</option>
          <option value="Stratford">Stratford</option>
          <option value="Sutton Coldfield">Sutton Coldfield</option>
          <option value="Telford">Telford</option>
          <option value="Walsall">Walsall</option>
          <option value="Wolverhampton">Wolverhampton</option>
        </optgroup>
        <optgroup class="Yorkshire-humberside" data-optregion="Yorkshire-humberside" label="Yorkshire &amp; Humberside">
          <option value="Bradford">Bradford</option>
          <option value="Leeds">Leeds</option>
          <option value="Sheffield">Sheffield</option>
          <option value="York">York</option>
        </optgroup>
      </select>
      <select name="" id="" class="small-right-margin">
        <option value="">All schemes</option>
        <option value="">Business</option>
        <option value="">Commercial</option>
        <option value="">Digital technology</option>
        <option value="">Finance</option>
        <option value="">Project delivery</option>
      </select>
      <a href="" class="button-link">
        Filter report
      </a>
    </section>
    <section>
      <a href="/applications-report.csv" class="button">Export report</a>
    </section>
  </div>
</div>