---
pageTitle: Assessment schedule
layout: admin-layout.hbs
---
<div class="panel-info toggle-content" id="managingCandidatePanel">
  <p>You are currently managing the slot for: <b id="candidateManaging">John Smith</b>.</p>
  <p><a href="" id="stopManagingCandidate">Stop managing</a></p>
</div>
<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="hgroup para-btm-margin">
      <h1 class="heading-xlarge">
        Candidates for London 1
      </h1>
      <a href="assessment-schedule.html">Return to assessment summary</a>
    </div>
  </div>
</div>

<table class="vert-middle">
  <colgroup>
    <col class="t33" />
    <col class="t33" />
    <col class="t33" />
    <col />
  </colgroup>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date and session</th>
      <th>Send invite</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John Smith</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-01-yes" class="block-label block-label-slim">
              <input name="question-01" type="radio" id="question-01-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-01-no" class="block-label block-label-slim">
              <input name="question-01" type="radio" id="question-01-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Jeffrey Knight</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-02-yes" class="block-label block-label-slim">
              <input name="question-02" type="radio" id="question-02-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-02-no" class="block-label block-label-slim">
              <input name="question-02" type="radio" id="question-02-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Carey Smithson</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-03-yes" class="block-label block-label-slim">
              <input name="question-03" type="radio" id="question-03-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-03-no" class="block-label block-label-slim">
              <input name="question-03" type="radio" id="question-03-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Otha Bhatia</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-04-yes" class="block-label block-label-slim">
              <input name="question-04" type="radio" id="question-04-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-04-no" class="block-label block-label-slim">
              <input name="question-04" type="radio" id="question-04-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Tamika Chartier</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-05-yes" class="block-label block-label-slim">
              <input name="question-05" type="radio" id="question-05-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-05-no" class="block-label block-label-slim">
              <input name="question-05" type="radio" id="question-05-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Barry Grant</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-06-yes" class="block-label block-label-slim">
              <input name="question-06" type="radio" id="question-06-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-06-no" class="block-label block-label-slim">
              <input name="question-06" type="radio" id="question-06-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Sally Butcher</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-07-yes" class="block-label block-label-slim">
              <input name="question-07" type="radio" id="question-07-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-07-no" class="block-label block-label-slim">
              <input name="question-07" type="radio" id="question-07-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Tamika Chartier</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-08-yes" class="block-label block-label-slim">
              <input name="question-08" type="radio" id="question-08-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-08-no" class="block-label block-label-slim">
              <input name="question-08" type="radio" id="question-08-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Jacalyn Hill</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-09-yes" class="block-label block-label-slim">
              <input name="question-09" type="radio" id="question-09-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-09-no" class="block-label block-label-slim">
              <input name="question-09" type="radio" id="question-09-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Sheri Strey</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-10-yes" class="block-label block-label-slim">
              <input name="question-10" type="radio" id="question-10-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-10-no" class="block-label block-label-slim">
              <input name="question-10" type="radio" id="question-10-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<a href="assessment-schedule.html?Status=updated" class="button">Save candidates</a>

<script>
  $(function() {

    $('[data-sessionselector]').on('change', function() {

      $('[data-sessionselector] option').attr('disabled', false);

      $('[data-sessionselector]').each(function(){
        var $this = $(this);

        $('[data-sessionselector]').not($this).find('option').each(function(){
           if($(this).attr('value') == $this.val()) {
              $(this).attr('disabled',true);
            }
        });
      });

    });

  });
</script>
