---
pageTitle: Assessment schedule
layout: admin-layout.hbs
---

<div class="hgroup med-btm-margin">
  <h1 class="heading-xlarge">
    Location schedule
  </h1>
  <p class="subtitle">London 1 <a href="assessment-schedule.html" class="font-small">Return to assessment schedule</a></p>
</div>

<div class="grid-wrapper week-selector med-btm-margin">
  <div class="grid grid-1-4 week-prev">
    <a href="" disabled>&lt; Previous week</a>
  </div>
  <div class="grid grid-1-2 week-middle">
    <span class="bold-small small-right-margin">Select week</span>
    <select name="" id="weekSelector">
      <option value="">Week 1 (Monday 25/04)</option>
    </select>
  </div>
  <div class="grid grid-1-4 week-next">
    <a href="">Following week &gt;</a>
  </div>
</div>

<table class="schedule-table">
  <colgroup>
    <col class="t2" />
    <col class="t19-5" />
    <col class="t19-5" />
    <col class="t19-5" />
    <col class="t19-5" />
    <col class="t19-5" />
    <col/>
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th>Monday <span class="day-date">25/04</span></th>
      <th>Tuesday <span class="day-date">26/04</span></th>
      <th>Wednesday <span class="day-date">27/04</span></th>
      <th>Thursday <span class="day-date">28/04</span></th>
      <th>Friday <span class="day-date">29/04</span></th>
    </tr>
  </thead>
  <tbody class="half-day">
    <tr>
      <td class="half-day-title" rowspan="6"><span class="rotatedtext">Morning</span></td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">John Smith</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Jeffrey Knight</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Carey Smithson</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Otha Bhatia</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Tamika Chartier</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Barry Grant</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Sally Butcher</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Tamika Chartier</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Jacalyn Hill</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Sheri Strey</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Lashonda Gillooly</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Aline Marconi</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Brittani Musgrove</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Doretta Lupercio</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Jackson Duffer</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Jacinta Richison</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Jerald Brannon</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Bryanna Kirst</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
    </tr>
  </tbody>
  <tbody class="half-day">
    <tr>
      <td class="half-day-title" rowspan="6"><span class="rotatedtext">Afternoon</span></td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Susie Woodman</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Pansy Ewers</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Jene Mixon</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Gregorio Alan</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Ryan Calahan</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Michael Franks</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Lilli Antilla</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Nobuko Sink</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Ulrike Richburg</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Thomasina Swopes</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Alyson Newhall</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Refugio Plemmons</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Corazon Sprayberry</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Deana Mcwaters</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Lorenzo Farina</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Voncile Sobers</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Gwyneth Marks</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Sommer Barbeau</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Abel Sons</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Laree Villeneuve</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Carrol Zak</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Paige Raimondi</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Lesa Vanslyke</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Tricia Reiss</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Delaine Harari</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="booked-slot">
          <div class="candidate-name">Tiana Quigley</div>
          <a href="" class="link-unimp slot-action">Remove</a>
        </div>
      </td>
      <td>
        <div class="empty-slot">
          <div class="candidate-name">Empty slot</div>
          <a href="" class="link-unimp slot-action">Add candidate</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
