---
pageTitle: Assessment schedule
layout: admin-layout.hbs
---
<div class="panel-info toggle-content" id="managingCandidatePanel">
  <p>You are currently managing the slot for: <b id="candidateManaging">John Smith</b>.</p>
  <p><a href="" id="stopManagingCandidate">Stop managing</a></p>
</div>
<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="hgroup para-btm-margin">
      <h1 class="heading-xlarge">
        Candidates for London 1
      </h1>
      <a href="assessment-schedule.html">Return to assessment summary</a>
    </div>
  </div>
</div>

<table class="vert-middle no-btm-margin">
  <colgroup>
    <col class="t20" />
    <col class="t15" />
    <col class="t10" />
    <col class="t25" />
    <col class="t30" />
    <col />
  </colgroup>
  <thead>
    <tr>
      <th>Name</th>
      <th>Online tests</th>
      <th>Adjustment</th>
      <th>Date and session</th>
      <th>Send invite</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">John Smith</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-01-yes" class="block-label block-label-slim">
              <input name="question-01" type="radio" id="question-01-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-01-no" class="block-label block-label-slim">
              <input name="question-01" type="radio" id="question-01-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jeffrey Knight</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-02-yes" class="block-label block-label-slim">
              <input name="question-02" type="radio" id="question-02-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-02-no" class="block-label block-label-slim">
              <input name="question-02" type="radio" id="question-02-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Carey Smithson</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-03-yes" class="block-label block-label-slim">
              <input name="question-03" type="radio" id="question-03-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-03-no" class="block-label block-label-slim">
              <input name="question-03" type="radio" id="question-03-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Otha Bhatia</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-04-yes" class="block-label block-label-slim">
              <input name="question-04" type="radio" id="question-04-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-04-no" class="block-label block-label-slim">
              <input name="question-04" type="radio" id="question-04-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-05-yes" class="block-label block-label-slim">
              <input name="question-05" type="radio" id="question-05-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-05-no" class="block-label block-label-slim">
              <input name="question-05" type="radio" id="question-05-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Barry Grant</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-06-yes" class="block-label block-label-slim">
              <input name="question-06" type="radio" id="question-06-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-06-no" class="block-label block-label-slim">
              <input name="question-06" type="radio" id="question-06-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sally Butcher</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-07-yes" class="block-label block-label-slim">
              <input name="question-07" type="radio" id="question-07-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-07-no" class="block-label block-label-slim">
              <input name="question-07" type="radio" id="question-07-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-08-yes" class="block-label block-label-slim">
              <input name="question-08" type="radio" id="question-08-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-08-no" class="block-label block-label-slim">
              <input name="question-08" type="radio" id="question-08-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jacalyn Hill</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-09-yes" class="block-label block-label-slim">
              <input name="question-09" type="radio" id="question-09-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-09-no" class="block-label block-label-slim">
              <input name="question-09" type="radio" id="question-09-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sheri Strey</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-10-yes" class="block-label block-label-slim">
              <input name="question-10" type="radio" id="question-10-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-10-no" class="block-label block-label-slim">
              <input name="question-10" type="radio" id="question-10-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">John Smith</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-01-yes" class="block-label block-label-slim">
              <input name="question-01" type="radio" id="question-01-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-01-no" class="block-label block-label-slim">
              <input name="question-01" type="radio" id="question-01-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jeffrey Knight</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-02-yes" class="block-label block-label-slim">
              <input name="question-02" type="radio" id="question-02-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-02-no" class="block-label block-label-slim">
              <input name="question-02" type="radio" id="question-02-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Carey Smithson</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-03-yes" class="block-label block-label-slim">
              <input name="question-03" type="radio" id="question-03-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-03-no" class="block-label block-label-slim">
              <input name="question-03" type="radio" id="question-03-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Otha Bhatia</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-04-yes" class="block-label block-label-slim">
              <input name="question-04" type="radio" id="question-04-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-04-no" class="block-label block-label-slim">
              <input name="question-04" type="radio" id="question-04-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-05-yes" class="block-label block-label-slim">
              <input name="question-05" type="radio" id="question-05-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-05-no" class="block-label block-label-slim">
              <input name="question-05" type="radio" id="question-05-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Barry Grant</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-06-yes" class="block-label block-label-slim">
              <input name="question-06" type="radio" id="question-06-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-06-no" class="block-label block-label-slim">
              <input name="question-06" type="radio" id="question-06-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sally Butcher</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-07-yes" class="block-label block-label-slim">
              <input name="question-07" type="radio" id="question-07-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-07-no" class="block-label block-label-slim">
              <input name="question-07" type="radio" id="question-07-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-08-yes" class="block-label block-label-slim">
              <input name="question-08" type="radio" id="question-08-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-08-no" class="block-label block-label-slim">
              <input name="question-08" type="radio" id="question-08-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jacalyn Hill</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-09-yes" class="block-label block-label-slim">
              <input name="question-09" type="radio" id="question-09-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-09-no" class="block-label block-label-slim">
              <input name="question-09" type="radio" id="question-09-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sheri Strey</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-10-yes" class="block-label block-label-slim">
              <input name="question-10" type="radio" id="question-10-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-10-no" class="block-label block-label-slim">
              <input name="question-10" type="radio" id="question-10-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">John Smith</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-01-yes" class="block-label block-label-slim">
              <input name="question-01" type="radio" id="question-01-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-01-no" class="block-label block-label-slim">
              <input name="question-01" type="radio" id="question-01-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jeffrey Knight</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-02-yes" class="block-label block-label-slim">
              <input name="question-02" type="radio" id="question-02-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-02-no" class="block-label block-label-slim">
              <input name="question-02" type="radio" id="question-02-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Carey Smithson</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-03-yes" class="block-label block-label-slim">
              <input name="question-03" type="radio" id="question-03-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-03-no" class="block-label block-label-slim">
              <input name="question-03" type="radio" id="question-03-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Otha Bhatia</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-04-yes" class="block-label block-label-slim">
              <input name="question-04" type="radio" id="question-04-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-04-no" class="block-label block-label-slim">
              <input name="question-04" type="radio" id="question-04-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-05-yes" class="block-label block-label-slim">
              <input name="question-05" type="radio" id="question-05-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-05-no" class="block-label block-label-slim">
              <input name="question-05" type="radio" id="question-05-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Barry Grant</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-06-yes" class="block-label block-label-slim">
              <input name="question-06" type="radio" id="question-06-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-06-no" class="block-label block-label-slim">
              <input name="question-06" type="radio" id="question-06-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sally Butcher</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-07-yes" class="block-label block-label-slim">
              <input name="question-07" type="radio" id="question-07-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-07-no" class="block-label block-label-slim">
              <input name="question-07" type="radio" id="question-07-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-08-yes" class="block-label block-label-slim">
              <input name="question-08" type="radio" id="question-08-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-08-no" class="block-label block-label-slim">
              <input name="question-08" type="radio" id="question-08-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jacalyn Hill</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-09-yes" class="block-label block-label-slim">
              <input name="question-09" type="radio" id="question-09-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-09-no" class="block-label block-label-slim">
              <input name="question-09" type="radio" id="question-09-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sheri Strey</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-10-yes" class="block-label block-label-slim">
              <input name="question-10" type="radio" id="question-10-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-10-no" class="block-label block-label-slim">
              <input name="question-10" type="radio" id="question-10-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">John Smith</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-01-yes" class="block-label block-label-slim">
              <input name="question-01" type="radio" id="question-01-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-01-no" class="block-label block-label-slim">
              <input name="question-01" type="radio" id="question-01-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jeffrey Knight</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-02-yes" class="block-label block-label-slim">
              <input name="question-02" type="radio" id="question-02-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-02-no" class="block-label block-label-slim">
              <input name="question-02" type="radio" id="question-02-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Carey Smithson</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-03-yes" class="block-label block-label-slim">
              <input name="question-03" type="radio" id="question-03-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-03-no" class="block-label block-label-slim">
              <input name="question-03" type="radio" id="question-03-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Otha Bhatia</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-04-yes" class="block-label block-label-slim">
              <input name="question-04" type="radio" id="question-04-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-04-no" class="block-label block-label-slim">
              <input name="question-04" type="radio" id="question-04-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-05-yes" class="block-label block-label-slim">
              <input name="question-05" type="radio" id="question-05-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-05-no" class="block-label block-label-slim">
              <input name="question-05" type="radio" id="question-05-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Barry Grant</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-06-yes" class="block-label block-label-slim">
              <input name="question-06" type="radio" id="question-06-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-06-no" class="block-label block-label-slim">
              <input name="question-06" type="radio" id="question-06-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sally Butcher</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-07-yes" class="block-label block-label-slim">
              <input name="question-07" type="radio" id="question-07-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-07-no" class="block-label block-label-slim">
              <input name="question-07" type="radio" id="question-07-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-08-yes" class="block-label block-label-slim">
              <input name="question-08" type="radio" id="question-08-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-08-no" class="block-label block-label-slim">
              <input name="question-08" type="radio" id="question-08-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jacalyn Hill</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-09-yes" class="block-label block-label-slim">
              <input name="question-09" type="radio" id="question-09-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-09-no" class="block-label block-label-slim">
              <input name="question-09" type="radio" id="question-09-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sheri Strey</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-10-yes" class="block-label block-label-slim">
              <input name="question-10" type="radio" id="question-10-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-10-no" class="block-label block-label-slim">
              <input name="question-10" type="radio" id="question-10-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">John Smith</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-01-yes" class="block-label block-label-slim">
              <input name="question-01" type="radio" id="question-01-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-01-no" class="block-label block-label-slim">
              <input name="question-01" type="radio" id="question-01-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jeffrey Knight</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-02-yes" class="block-label block-label-slim">
              <input name="question-02" type="radio" id="question-02-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-02-no" class="block-label block-label-slim">
              <input name="question-02" type="radio" id="question-02-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Carey Smithson</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-03-yes" class="block-label block-label-slim">
              <input name="question-03" type="radio" id="question-03-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-03-no" class="block-label block-label-slim">
              <input name="question-03" type="radio" id="question-03-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Otha Bhatia</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-04-yes" class="block-label block-label-slim">
              <input name="question-04" type="radio" id="question-04-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-04-no" class="block-label block-label-slim">
              <input name="question-04" type="radio" id="question-04-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-05-yes" class="block-label block-label-slim">
              <input name="question-05" type="radio" id="question-05-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-05-no" class="block-label block-label-slim">
              <input name="question-05" type="radio" id="question-05-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Barry Grant</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-06-yes" class="block-label block-label-slim">
              <input name="question-06" type="radio" id="question-06-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-06-no" class="block-label block-label-slim">
              <input name="question-06" type="radio" id="question-06-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sally Butcher</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-07-yes" class="block-label block-label-slim">
              <input name="question-07" type="radio" id="question-07-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-07-no" class="block-label block-label-slim">
              <input name="question-07" type="radio" id="question-07-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-08-yes" class="block-label block-label-slim">
              <input name="question-08" type="radio" id="question-08-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-08-no" class="block-label block-label-slim">
              <input name="question-08" type="radio" id="question-08-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jacalyn Hill</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-09-yes" class="block-label block-label-slim">
              <input name="question-09" type="radio" id="question-09-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-09-no" class="block-label block-label-slim">
              <input name="question-09" type="radio" id="question-09-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sheri Strey</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-10-yes" class="block-label block-label-slim">
              <input name="question-10" type="radio" id="question-10-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-10-no" class="block-label block-label-slim">
              <input name="question-10" type="radio" id="question-10-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="page-navigation">
  <a href="#" class="page-navigation__btn previous disabled">
    <i class="arrow-button fa fa-angle-left"></i>
    <span class="description">Previous <span class="hide-mob">page of candidates</span></span>
    <span class="counter">0 of 21</span>
  </a>
  <a href="" class="page-navigation__btn next">
    <i class="arrow-button fa fa-angle-right"></i>
    <span class="description">Next <span class="hide-mob">page of candidates</span></span>
    <span class="counter">2 of 21</span>
  </a>
</div>

<a href="assessment-schedule.html?Status=updated" class="button">Save candidates</a>



<script>
  $(function() {

    $('[data-sessionselector]').on('change', function() {

      $('body').addClass('changes-made');

      $('[data-sessionselector] option').attr('disabled', false);

      $('[data-sessionselector]').each(function(){
        var $this = $(this);

        $('[data-sessionselector]').not($this).find('option').each(function(){
           if($(this).attr('value') == $this.val()) {
              $(this).attr('disabled',true);
            }
        });
      });

    });

    window.onbeforeunload = function() {
      if($('body').hasClass('changes-made')) {
        return "You have unsaved changes on this page.";
      }
    };

  });
</script>
