---
pageTitle: Assessment schedule
layout: admin-layout.hbs
---
<div class="panel-info toggle-content" id="managingCandidatePanel">
  <p>You are currently managing the slot for: <b id="candidateManaging">John Smith</b>.</p>
  <p><a href="" id="stopManagingCandidate">Stop managing</a></p>
</div>
<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="hgroup para-btm-margin">
      <h1 class="heading-xlarge">
        Candidates for London 1
      </h1>
      <a href="assessment-schedule.html">Return to assessment summary</a>
    </div>
  </div>
</div>

<table class="vert-middle no-btm-margin">
  <colgroup>
    <col class="t20" />
    <col class="t15" />
    <col class="t10" />
    <col class="t25" />
    <col class="t30" />
    <col />
  </colgroup>
  <thead>
    <tr>
      <th>Name</th>
      <th>Online tests</th>
      <th>Adjustment</th>
      <th>Date and session</th>
      <th>Request confirmation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">John Smith</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-01-yes" class="block-label block-label-slim">
              <input name="question-01" type="radio" id="question-01-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-01-no" class="block-label block-label-slim">
              <input name="question-01" type="radio" id="question-01-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jeffrey Knight</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-02-yes" class="block-label block-label-slim">
              <input name="question-02" type="radio" id="question-02-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-02-no" class="block-label block-label-slim">
              <input name="question-02" type="radio" id="question-02-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Carey Smithson</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-03-yes" class="block-label block-label-slim">
              <input name="question-03" type="radio" id="question-03-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-03-no" class="block-label block-label-slim">
              <input name="question-03" type="radio" id="question-03-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Otha Bhatia</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-04-yes" class="block-label block-label-slim">
              <input name="question-04" type="radio" id="question-04-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-04-no" class="block-label block-label-slim">
              <input name="question-04" type="radio" id="question-04-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-05-yes" class="block-label block-label-slim">
              <input name="question-05" type="radio" id="question-05-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-05-no" class="block-label block-label-slim">
              <input name="question-05" type="radio" id="question-05-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Barry Grant</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-06-yes" class="block-label block-label-slim">
              <input name="question-06" type="radio" id="question-06-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-06-no" class="block-label block-label-slim">
              <input name="question-06" type="radio" id="question-06-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sally Butcher</a></td>
      <td>9 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-07-yes" class="block-label block-label-slim">
              <input name="question-07" type="radio" id="question-07-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-07-no" class="block-label block-label-slim">
              <input name="question-07" type="radio" id="question-07-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-08-yes" class="block-label block-label-slim">
              <input name="question-08" type="radio" id="question-08-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-08-no" class="block-label block-label-slim">
              <input name="question-08" type="radio" id="question-08-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jacalyn Hill</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-09-yes" class="block-label block-label-slim">
              <input name="question-09" type="radio" id="question-09-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-09-no" class="block-label block-label-slim">
              <input name="question-09" type="radio" id="question-09-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sheri Strey</a></td>
      <td>9 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-10-yes" class="block-label block-label-slim">
              <input name="question-10" type="radio" id="question-10-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-10-no" class="block-label block-label-slim">
              <input name="question-10" type="radio" id="question-10-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">John Smith</a></td>
      <td>10 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-11-yes" class="block-label block-label-slim">
              <input name="question-11" type="radio" id="question-11-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-11-no" class="block-label block-label-slim">
              <input name="question-11" type="radio" id="question-11-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jeffrey Knight</a></td>
      <td>10 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-12-yes" class="block-label block-label-slim">
              <input name="question-12" type="radio" id="question-12-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-12-no" class="block-label block-label-slim">
              <input name="question-12" type="radio" id="question-12-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Carey Smithson</a></td>
      <td>10 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-13-yes" class="block-label block-label-slim">
              <input name="question-13" type="radio" id="question-13-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-13-no" class="block-label block-label-slim">
              <input name="question-13" type="radio" id="question-13-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Otha Bhatia</a></td>
      <td>10 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-14-yes" class="block-label block-label-slim">
              <input name="question-14" type="radio" id="question-14-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-14-no" class="block-label block-label-slim">
              <input name="question-14" type="radio" id="question-14-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>10 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-15-yes" class="block-label block-label-slim">
              <input name="question-15" type="radio" id="question-15-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-15-no" class="block-label block-label-slim">
              <input name="question-15" type="radio" id="question-15-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Barry Grant</a></td>
      <td>10 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-16-yes" class="block-label block-label-slim">
              <input name="question-16" type="radio" id="question-16-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-16-no" class="block-label block-label-slim">
              <input name="question-16" type="radio" id="question-16-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sally Butcher</a></td>
      <td>10 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-17-yes" class="block-label block-label-slim">
              <input name="question-17" type="radio" id="question-17-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-17-no" class="block-label block-label-slim">
              <input name="question-17" type="radio" id="question-17-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>11 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-18-yes" class="block-label block-label-slim">
              <input name="question-18" type="radio" id="question-18-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-18-no" class="block-label block-label-slim">
              <input name="question-18" type="radio" id="question-18-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jacalyn Hill</a></td>
      <td>11 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-19-yes" class="block-label block-label-slim">
              <input name="question-19" type="radio" id="question-19-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-19-no" class="block-label block-label-slim">
              <input name="question-19" type="radio" id="question-19-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sheri Strey</a></td>
      <td>11 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-20-yes" class="block-label block-label-slim">
              <input name="question-20" type="radio" id="question-20-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-20-no" class="block-label block-label-slim">
              <input name="question-20" type="radio" id="question-20-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">John Smith</a></td>
      <td>11 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-21-yes" class="block-label block-label-slim">
              <input name="question-21" type="radio" id="question-21-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-21-no" class="block-label block-label-slim">
              <input name="question-21" type="radio" id="question-21-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jeffrey Knight</a></td>
      <td>11 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-22-yes" class="block-label block-label-slim">
              <input name="question-22" type="radio" id="question-22-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-22-no" class="block-label block-label-slim">
              <input name="question-22" type="radio" id="question-22-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Carey Smithson</a></td>
      <td>11 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-23-yes" class="block-label block-label-slim">
              <input name="question-23" type="radio" id="question-23-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-23-no" class="block-label block-label-slim">
              <input name="question-23" type="radio" id="question-23-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Otha Bhatia</a></td>
      <td>11 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-24-yes" class="block-label block-label-slim">
              <input name="question-24" type="radio" id="question-24-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-24-no" class="block-label block-label-slim">
              <input name="question-24" type="radio" id="question-24-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>11 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-25-yes" class="block-label block-label-slim">
              <input name="question-25" type="radio" id="question-25-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-25-no" class="block-label block-label-slim">
              <input name="question-25" type="radio" id="question-25-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Barry Grant</a></td>
      <td>12 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-26-yes" class="block-label block-label-slim">
              <input name="question-26" type="radio" id="question-26-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-26-no" class="block-label block-label-slim">
              <input name="question-26" type="radio" id="question-26-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sally Butcher</a></td>
      <td>12 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-27-yes" class="block-label block-label-slim">
              <input name="question-27" type="radio" id="question-27-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-27-no" class="block-label block-label-slim">
              <input name="question-27" type="radio" id="question-27-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>12 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-28-yes" class="block-label block-label-slim">
              <input name="question-28" type="radio" id="question-28-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-28-no" class="block-label block-label-slim">
              <input name="question-28" type="radio" id="question-28-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jacalyn Hill</a></td>
      <td>12 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-29-yes" class="block-label block-label-slim">
              <input name="question-29" type="radio" id="question-29-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-29-no" class="block-label block-label-slim">
              <input name="question-29" type="radio" id="question-29-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sheri Strey</a></td>
      <td>12 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-30-yes" class="block-label block-label-slim">
              <input name="question-30" type="radio" id="question-30-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-30-no" class="block-label block-label-slim">
              <input name="question-30" type="radio" id="question-30-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">John Smith</a></td>
      <td>12 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-31-yes" class="block-label block-label-slim">
              <input name="question-31" type="radio" id="question-31-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-31-no" class="block-label block-label-slim">
              <input name="question-31" type="radio" id="question-31-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jeffrey Knight</a></td>
      <td>12 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-32-yes" class="block-label block-label-slim">
              <input name="question-32" type="radio" id="question-32-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-32-no" class="block-label block-label-slim">
              <input name="question-32" type="radio" id="question-32-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Carey Smithson</a></td>
      <td>12 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-33-yes" class="block-label block-label-slim">
              <input name="question-33" type="radio" id="question-33-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-33-no" class="block-label block-label-slim">
              <input name="question-33" type="radio" id="question-33-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Otha Bhatia</a></td>
      <td>12 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-34-yes" class="block-label block-label-slim">
              <input name="question-34" type="radio" id="question-34-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-34-no" class="block-label block-label-slim">
              <input name="question-34" type="radio" id="question-34-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>12 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-35-yes" class="block-label block-label-slim">
              <input name="question-35" type="radio" id="question-35-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-35-no" class="block-label block-label-slim">
              <input name="question-35" type="radio" id="question-35-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Barry Grant</a></td>
      <td>12 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-36-yes" class="block-label block-label-slim">
              <input name="question-36" type="radio" id="question-36-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-36-no" class="block-label block-label-slim">
              <input name="question-36" type="radio" id="question-36-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sally Butcher</a></td>
      <td>12 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-37-yes" class="block-label block-label-slim">
              <input name="question-37" type="radio" id="question-37-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-37-no" class="block-label block-label-slim">
              <input name="question-37" type="radio" id="question-37-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>13 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-38-yes" class="block-label block-label-slim">
              <input name="question-38" type="radio" id="question-38-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-38-no" class="block-label block-label-slim">
              <input name="question-38" type="radio" id="question-38-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jacalyn Hill</a></td>
      <td>13 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-39-yes" class="block-label block-label-slim">
              <input name="question-39" type="radio" id="question-39-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-39-no" class="block-label block-label-slim">
              <input name="question-39" type="radio" id="question-39-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sheri Strey</a></td>
      <td>13 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-40-yes" class="block-label block-label-slim">
              <input name="question-40" type="radio" id="question-40-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-40-no" class="block-label block-label-slim">
              <input name="question-40" type="radio" id="question-40-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">John Smith</a></td>
      <td>13 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-41-yes" class="block-label block-label-slim">
              <input name="question-41" type="radio" id="question-41-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-41-no" class="block-label block-label-slim">
              <input name="question-41" type="radio" id="question-41-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jeffrey Knight</a></td>
      <td>13 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-42-yes" class="block-label block-label-slim">
              <input name="question-42" type="radio" id="question-42-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-42-no" class="block-label block-label-slim">
              <input name="question-42" type="radio" id="question-42-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Carey Smithson</a></td>
      <td>13 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-43-yes" class="block-label block-label-slim">
              <input name="question-43" type="radio" id="question-43-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-43-no" class="block-label block-label-slim">
              <input name="question-43" type="radio" id="question-43-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Otha Bhatia</a></td>
      <td>13 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-44-yes" class="block-label block-label-slim">
              <input name="question-44" type="radio" id="question-44-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-44-no" class="block-label block-label-slim">
              <input name="question-44" type="radio" id="question-44-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>13 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-45-yes" class="block-label block-label-slim">
              <input name="question-45" type="radio" id="question-45-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-45-no" class="block-label block-label-slim">
              <input name="question-45" type="radio" id="question-45-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Barry Grant</a></td>
      <td>14 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-46-yes" class="block-label block-label-slim">
              <input name="question-46" type="radio" id="question-46-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-46-no" class="block-label block-label-slim">
              <input name="question-46" type="radio" id="question-46-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sally Butcher</a></td>
      <td>14 April 2016</td>
      <td>Has adjustment</td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-47-yes" class="block-label block-label-slim">
              <input name="question-47" type="radio" id="question-47-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-47-no" class="block-label block-label-slim">
              <input name="question-47" type="radio" id="question-47-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Tamika Chartier</a></td>
      <td>14 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-48-yes" class="block-label block-label-slim">
              <input name="question-48" type="radio" id="question-48-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-48-no" class="block-label block-label-slim">
              <input name="question-48" type="radio" id="question-48-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Jacalyn Hill</a></td>
      <td>14 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-49-yes" class="block-label block-label-slim">
              <input name="question-49" type="radio" id="question-49-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-49-no" class="block-label block-label-slim">
              <input name="question-49" type="radio" id="question-49-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><a href="view-candidate.html?Status=unbooked" class="link-unimp">Sheri Strey</a></td>
      <td>14 April 2016</td>
      <td></td>
      <td>
        {{> session-selector }}
      </td>
      <td>
        <div class="font-xsmall inline">
          <div class="form-group no-btm-margin no-right-margin">
            <label for="question-50-yes" class="block-label block-label-slim">
              <input name="question-50" type="radio" id="question-50-yes">Yes
            </label>
          </div>
          <div class="form-group no-btm-margin">
            <label for="question-50-no" class="block-label block-label-slim">
              <input name="question-50" type="radio" id="question-50-no">No
            </label>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="page-navigation">
  <a href="#" class="page-navigation__btn previous disabled">
    <i class="arrow-button fa fa-angle-left"></i>
    <span class="description">Previous <span class="hide-mob">page of candidates</span></span>
    <span class="counter">0 of 21</span>
  </a>
  <a href="" class="page-navigation__btn next">
    <i class="arrow-button fa fa-angle-right"></i>
    <span class="description">Next <span class="hide-mob">page of candidates</span></span>
    <span class="counter">2 of 21</span>
  </a>
</div>

<a href="assessment-schedule.html?Status=updated" class="button">Save candidates</a>



<script>
  $(function() {

    $('[data-sessionselector]').on('change', function() {

      $('body').addClass('changes-made');

      $('[data-sessionselector] option').attr('disabled', false);

      $('[data-sessionselector]').each(function(){
        var $this = $(this);

        $('[data-sessionselector]').not($this).find('option').each(function(){
           if($(this).attr('value') == $this.val()) {
              $(this).attr('disabled',true);
            }
        });
      });

    });

    window.onbeforeunload = function() {
      if($('body').hasClass('changes-made')) {
        return "You have unsaved changes on this page.";
      }
    };

  });
</script>
