---
pageTitle: Assessment schedule
layout: admin-layout.hbs
---

<h1 class="heading-xlarge">
  Assessment schedule
</h1>



<table class="schedule-table">
  <thead>
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
    </tr>
  </thead>
  <tbody class="half-day">
    <tr>
      <td></td>
    </tr>
  </tbody>
  <tbody class="half-day">
    <tr>

    </tr>
  </tbody>
</table>
