---
pageTitle: Pass mark setting
layout: admin-layout.hbs
---
  <div class="panel-success toggle-content" id="passMarkSuccess">
    <p>You've successfully saved the pass marks for that scheme</p>
  </div>

    <h2 class="heading-xlarge">
      Pass mark setting
    </h2>
    <section>
      <p>Choose a scheme to set the pass marks</p>

      <ul>
        <li>
          <a href="passmark-set.html">Business</a> <span>(Pass marks set)</span>
        </li>
        <li>
          <a href="passmark-set.html">Commercial</a>
        </li>
        <li>
          <a href="passmark-set.html">Digital and technology</a>
        </li>
        <li>
          <a href="passmark-set.html">Finance</a>
        </li>
        <li>
          <a href="passmark-set.html">Project delivery</a>
        </li>
      </ul>

    </section>

    <a href="" class="button disabled">Submit pass marks</a>

