---
pageTitle: Pass mark setting
layout: admin-layout.hbs
---

<div class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <ul class="list-text">
        <li><a href="find-candidate.html">Find a candidate</a></li>
        <li><a href="reporting.html">Reporting</a></li>
        <li><a href="campaign.html">Campaign management</a></li>
        <li>Pass mark setting</li>
      </ul>
    </div>
  </div>
  <div class="grid grid-3-4">
    <h2 class="heading-xlarge">
      Pass mark setting
    </h2>
    <section>

    </section>


  </div>
</div>