---
pageTitle: Find a candidate
layout: admin-layout.hbs
---

<div class="hgroup">
  <h1 class="heading-xlarge">Pass mark</h1>
  <p class="no-btm-margin"><a href="find-candidate.html">Return to start</a></p>
</div>

<div class="grid-wrapper">
  <div class="grid grid-1-3">
    <div class="inner-block-padr">
      <label class="form-label" for="passRange">Set pass mark</label>
      <input type="range" class="" id="passRange" min="0" max="100">
    </div>
  </div>
  <div class="grid grid-2-3">

    <section>
      <h2 class="heading-medium">Total candidates: 2612</h2>
      <h2 class="heading-medium">Total passed: 732</h2>

      Map
    </section>


  </div>
</div>