---
pageTitle: Pass mark setting
layout: admin-layout.hbs
---

    <div class="hgroup">
      <h2 class="heading-xlarge">
        Pass mark setting
      </h2>
      <a href="passmark-index.html">Return to index</a>
    </div>
    <section>
      <div class="grid-wrapper">
        <div class="grid grid-1-3">
          <label for="selectScheme" class="form-label">Select scheme to set pass marks</label>
          <select name="" id="selectScheme">
            <option value="null">-- Select one --</option>
            <option selected value="scheme-business">Business</option>
            <option value="scheme-commercial">Commercial</option>
            <option value="scheme-dant">Digital and technology</option>
            <option value="scheme-finance">Finance</option>
            <option value="scheme-project">Project delivery</option>
          </select>
        </div>
        <div class="grid grid-2-3">
          <div class="grid-wrapper">
            <div class="grid grid-1-2">
              <div class="inner-block-padr">
                <div class="form-group inline">
                  <h3 class="heading-small">Competency</h3>
                  <div class="form-group no-btm-margin">
                    <label for="score-01-fail" class="form-label">Fail</label>
                    <input type="number" data-score-fail id="score-01-fail" class="form-control form-control-hours" min="20" max="80" step="5" value="20">
                  </div>
                  <div class="form-group no-btm-margin">
                    <label for="score-01-pass" class="form-label">Pass</label>
                    <input type="number" data-score-pass id="score-01-pass" class="form-control form-control-hours" min="20" max="80" step="5" value="80">
                  </div>
                </div>
                <div class="form-group inline">
                  <h3 class="heading-small">Verbal</h3>
                  <div class="form-group no-btm-margin">
                    <label for="score-02-fail" class="form-label">Fail</label>
                    <input type="number" data-score-fail id="score-02-fail" class="form-control form-control-hours" min="20" max="80" step="5" value="20">
                  </div>
                  <div class="form-group no-btm-margin">
                    <label for="score-02-pass" class="form-label">Pass</label>
                    <input type="number" data-score-pass id="score-02-pass" class="form-control form-control-hours" min="20" max="80" step="5" value="80">
                  </div>
                </div>
                <div class="form-group inline">
                  <h3 class="heading-small">Numerical</h3>
                  <div class="form-group no-btm-margin">
                    <label for="score-03-fail" class="form-label">Fail</label>
                    <input type="number" data-score-fail id="score-03-fail" class="form-control form-control-hours" min="20" max="80" step="5" value="20">
                  </div>
                  <div class="form-group no-btm-margin">
                    <label for="score-03-pass" class="form-label">Pass</label>
                    <input type="number" data-score-pass id="score-03-pass" class="form-control form-control-hours" min="20" max="80" step="5" value="80">
                  </div>
                </div>
                <div class="form-group inline">
                  <h3 class="heading-small">SJQ</h3>
                  <div class="form-group no-btm-margin">
                    <label for="score-04-fail" class="form-label">Fail</label>
                    <input type="number" data-score-fail id="score-04-fail" class="form-control form-control-hours" min="20" max="80" step="5" value="20">
                  </div>
                  <div class="form-group no-btm-margin">
                    <label for="score-04-pass" class="form-label">Pass</label>
                    <input type="number" data-score-pass id="score-04-pass" class="form-control form-control-hours" min="20" max="80" step="5" value="80">
                  </div>
                </div>
              </div>
            </div>
            <div class="grid grid-1-2">
              <div class="form-group inline">
                <h3 class="heading-small">Combination score</h3>
                <div class="form-group no-btm-margin">
                  <label for="score-overall-fail" class="form-label">Fail</label>
                  <input type="number" data-score-fail id="score-overall-fail" class="form-control form-control-hours" min="80" max="320" step="5" value="80">
                </div>
                <div class="form-group no-btm-margin">
                  <label for="score-overall-pass" class="form-label">Pass</label>
                  <input type="number" data-score-pass id="score-overall-pass" class="form-control form-control-hours" min="80" max="320" step="5" value="320">
                </div>
              </div>
            </div>
          </div>
          <a href="#" class="button">Save pass marks</a>

        </div>
      </div>
    </section>


  </div>
</div>