---
pageTitle: Administration home
layout: admin-layout.hbs
---

    <div class="hgroup-large">
      <h2 class="heading-xlarge">
        Reporting
      </h2>
    </div>

    <section class="grid-wrapper section-border">
        <div class="grid grid-3-4">
            <p>Candidate progress report</p>
        </div>
        <div class="grid grid-1-4">
            <a href="report.csv" class="button">Download</a>
        </div>
    </section>
    <section class="grid-wrapper section-border">
        <div class="grid grid-3-4">
            <p>Adjustments report</p>
        </div>
        <div class="grid grid-1-4">
            <a href="report.csv" class="button">Download</a>
        </div>
    </section>
    <section class="grid-wrapper section-border">
        <div class="grid grid-3-4">
            <p>Non-submitted applications</p>
        </div>
        <div class="grid grid-1-4">
            <a href="report.csv" id="nonSubmittedApplicationsReportBtn" class="button">Download</a>
        </div>
    </section>
    <section class="grid-wrapper section-border">
        <div class="grid grid-3-4">
            <p>Diversity report per location</p>
        </div>
        <div class="grid grid-1-4">
            <a href="report.csv" id="diversityMonitoringReportBtn" class="button">Download</a>
        </div>
    </section>
    <section class="grid-wrapper section-border">
        <div class="grid grid-3-4">
            <p>Online test pass mark report</p>
        </div>
        <div class="grid grid-1-4">
            <a href="report.csv" id="onlineTestPassMarkReportBtn" class="button">Download</a>
        </div>
    </section>
    <section class="grid-wrapper section-border">
        <div class="grid grid-3-4">
            <p>Manual assessment centre allocation report</p>
        </div>
        <div class="grid grid-1-4">
            <a href="report.csv" id="assessmentCentreAllocationReportBtn" class="button">Download</a>
        </div>
    </section>
    <section class="grid-wrapper section-border">
        <div class="grid grid-3-4">
            <p>Assessment results</p>
        </div>
        <div class="grid grid-1-4">
            <a href="report.csv" id="assessmentResultsReportBtn" class="button">Download</a>
        </div>
    </section>
    <section class="grid-wrapper section-border">
        <div class="grid grid-3-4">
            <p>Successful candidates</p>
        </div>
        <div class="grid grid-1-4">
            <a href="report.csv" id="successfulCandidatesBtn" class="button">Download</a>
        </div>
    </section>