---
pageTitle: Administration home
layout: admin-layout.hbs
---

    <div class="hgroup-large">
      <h2 class="heading-xlarge">
        Reporting
      </h2>
    </div>
    <section class="section-border grid-wrapper">
      <div class="grid grid-2-3">
        <p>Anonymous report</p>
      </div>
      <div class="grid grid-1-3">
        <a href="/applications-report.csv" class="button">Export report</a>
      </div>
    </section>
    <section class="section-border grid-wrapper">
      <div class="grid grid-2-3">
        <p>GIS / Adjustment requests report</p>
      </div>
      <div class="grid grid-1-3">
        <a href="/applications-report.csv" class="button">Export report</a>
      </div>
    </section>
    <section class="section-border grid-wrapper">
      <div class="grid grid-2-3">
        <p>Non-submitted applications</p>
      </div>
      <div class="grid grid-1-3">
        <a href="/applications-report.csv" class="button">Export report</a>
      </div>
    </section>
