---
pageTitle: Find a candidate
layout: admin-layout.hbs
---

<div class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <ul class="list-text">
        <li>Find a candidate</li>
        <li><a href="reporting.html">Reporting</a></li>
        <li><a href="campaign.html">Campaign management</a></li>
      </ul>
    </div>
  </div>
  <div class="grid grid-3-4">
    <h2 class="heading-xlarge">
      Find a candidate
    </h2>
    <p><a href="view-candidate.html">Return to candidate</a></p>

    <section>
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <h3 class="heading-large">Candidate adjustment need</h3>
        </div>
      </div>

      <section>
        <h4 class="bold-small">Candidate name</h4>
        <p>John Smith</p>
      </section>

      <section class="section-border clearfix">
        <h4 class="bold-small">Adjustment need</h4>
        <p>Time extension</p>

        <fieldset>
          <legend class="form-label">Have you validated the adjustment?</legend>
          <div class="form-group form-group-compound inline">
            <label data-target="adjustment-01-panel" for="adjustment-01-yes" class="block-label block-label-slim">
              <input name="adjustment-01" type="radio" id="adjustment-01-yes" aria-controls="adjustment-01-panel" aria-expanded="false">Yes, the adjustment is needed
            </label>
            <label for="adjustment-01-no" class="block-label block-label-slim">
              <input name="adjustment-01" type="radio" id="adjustment-01-no">No, the adjustment is not needed
            </label>
          </div>
          <div id="adjustment-01-panel" class="toggle-content" aria-hidden="true">
            <div class="form-group">
              <label class="form-label" for="time-needed">Extra time needed (Verbal)</label>
              <input type="number" class="form-control form-control-small" id="time-needed" value="0" min="0" max="100"/>
              <span>% added time</span>
            </div>

            <div class="form-group">
              <label class="form-label" for="time-needed-num">Extra time needed (Numerical)</label>
              <input type="number" class="form-control form-control-small" id="time-needed-num" value="0" min="0" max="100"/>
              <span>% added time</span>
            </div>
          </div>
        </fieldset>
      </section>

      <section class="section-border clearfix">
        <h4 class="bold-small">Adjustment need</h4>
        <p>Braille test paper</p>

        <fieldset>
          <legend class="form-label">Have you validated the adjustment?</legend>
          <div class="form-group form-group-compound inline">
            <label for="adjustment-02-yes" class="block-label block-label-slim">
              <input name="adjustment-02" type="radio" id="adjustment-02-yes">Yes, the adjustment is needed
            </label>
            <label for="adjustment-02-no" class="block-label block-label-slim">
              <input name="adjustment-02" type="radio" id="adjustment-02-no">No, the adjustment is not needed
            </label>
          </div>
        </fieldset>

      </section>

      <div class="form-group">
        <a href="view-candidate.html?change=adjustment" class="button">Save adjustment</a>
      </div>
    </section>


  </div>
</div>
