---
pageTitle: Find a candidate
layout: admin-layout.hbs
---

    <h1 class="heading-xlarge">
      Find a candidate
    </h1>
    <p><a href="view-candidate.html">Return to candidate</a></p>
    <section>
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <h2 class="heading-large">Reset tests</h2>
        </div>
      </div>

      <section>
        <h3 class="bold-small">Candidate name</h3>
        <p>John Smith</p>
      </section>

      <section class="section-border">
        <h3 class="bold-small">Online test status</h3>
        <p>Started: 6 April 2016<br> Expire: 3:36pm on 10 April 2016</p>
      </section>

      <section class="section-border clearfix">
        <h3 class="heading-medium">Reset tests</h3>
        <fieldset>
          <legend class="form-label">Do you want to reset the candidate's tests?</legend>
          <p class="form-hint">This will delete their test progress, and reset the time remaining to 7 days</p>
          <div class="form-group form-group-compound inline">
            <label data-target="reset-tests-panel" for="reset-tests-yes" class="block-label">
              <input name="reset-tests" type="radio" id="reset-tests-yes" aria-controls="reset-tests-panel" aria-expanded="false">Yes
            </label>
            <label for="reset-tests-no" class="block-label">
              <input name="reset-tests" type="radio" id="reset-tests-no">No
            </label>
          </div>
          <div id="reset-tests-panel" class="toggle-content" aria-hidden="true">
            <div class="panel-warning">
              <p class="text">This will delete the candidate's test progress and reset their time remaining to 7 days. Make sure you've confirmed this with the candidate before continuing.</p>
            </div>
            <a href="view-candidate.html?Status=reset" class="button" id="resetTestsBtn">Reset tests</a>
          </div>
        </fieldset>
      </section>
      <p><a href="view-candidate.html">Return to candidate</a></p>
    </section>
