---
pageTitle: Record attendance
layout: admin-layout.hbs
signInClass: toggle-content
---

    <h1 class="heading-xlarge">
      Record candidate attendance
    </h1>
    <section>

      <div class="grid-wrapper">
        <div class="grid grid-1-2">
          <div class="grid-wrapper">
            <div class="grid grid-1-3">
              <h2 class="bold-small">Location</h2><p>London 1</p>
            </div>
            <div class="grid grid-2-3">
              <h2 class="bold-small">Date</h2><p>Monday 25 April 2016</p>
            </div>
          </div>
        </div>
      </div>


      <section>
        <h2 class="heading-small">Morning candidates</h2>
        <div class="grid-wrapper">
          <div class="grid grid-1-3">John Smith <br> Contact no: 07928292910</div>
          <div class="grid grid-1-3 inline">
            <div class="form-group form-group-compound">
              <label for="01-arrived" class="block-label block-label-slim">
                <input type="checkbox" id="01-arrived">Arrived
              </label>
            </div>
            <div class="form-group form-group-compound">
              <label for="01-identification" class="block-label block-label-slim">
                <input type="checkbox" id="01-identification">Provided ID
              </label>
            </div>
          </div>
          <div class="grid grid-1-3">
            <div class="form-group">
              <label id="01-comments" class="form-label visuallyhidden">Other comments (optional)</label>
              <textarea id="01-comments" class="form-control width-all-1-1" rows="1" placeholder="Other comments (optional)"></textarea>
            </div>
          </div>
        </div>
        <div class="grid-wrapper">
          <div class="grid grid-1-3">Barry Grant <br> Contact no: 07927282844</div>
          <div class="grid grid-1-3 inline">
            <div class="form-group form-group-compound">
              <label for="02-arrived" class="block-label block-label-slim">
                <input type="checkbox" id="02-arrived">Arrived
              </label>
            </div>
            <div class="form-group form-group-compound">
              <label for="02-identification" class="block-label block-label-slim">
                <input type="checkbox" id="02-identification">Provided ID
              </label>
            </div>
          </div>
          <div class="grid grid-1-3">
            <div class="form-group">
              <label id="02-comments" class="form-label visuallyhidden">Other comments (optional)</label>
              <textarea id="02-comments" class="form-control width-all-1-1" rows="1" placeholder="Other comments (optional)"></textarea>
            </div>
          </div>
        </div>
        <div class="grid-wrapper">
          <div class="grid grid-1-3">Lashonda Gillooly <br> Contact no: 07782928127</div>
          <div class="grid grid-1-3 inline">
            <div class="form-group form-group-compound">
              <label for="03-arrived" class="block-label block-label-slim">
                <input type="checkbox" id="03-arrived">Arrived
              </label>
            </div>
            <div class="form-group form-group-compound">
              <label for="03-identification" class="block-label block-label-slim">
                <input type="checkbox" id="03-identification">Provided ID
              </label>
            </div>
          </div>
          <div class="grid grid-1-3">
            <div class="form-group">
              <label id="03-comments" class="form-label visuallyhidden">Other comments (optional)</label>
              <textarea id="03-comments" class="form-control width-all-1-1" rows="1" placeholder="Other comments (optional)"></textarea>
            </div>
          </div>
        </div>
        <div class="grid-wrapper">
          <div class="grid grid-1-3">Doretta Lupercio <br> Contact no: 07773829274</div>
          <div class="grid grid-1-3 inline">
            <div class="form-group form-group-compound">
              <label for="04-arrived" class="block-label block-label-slim">
                <input type="checkbox" id="04-arrived">Arrived
              </label>
            </div>
            <div class="form-group form-group-compound">
              <label for="04-identification" class="block-label block-label-slim">
                <input type="checkbox" id="04-identification">Provided ID
              </label>
            </div>
          </div>
          <div class="grid grid-1-3">
            <div class="form-group">
              <label id="04-comments" class="form-label visuallyhidden">Other comments (optional)</label>
              <textarea id="04-comments" class="form-control width-all-1-1" rows="1" placeholder="Other comments (optional)"></textarea>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h2 class="heading-small">Afternoon candidates</h2>
        <div class="grid-wrapper">
          <div class="grid grid-1-3">Susie Woodman <br> Contact no: 07383809200</div>
          <div class="grid grid-1-3 inline">
            <div class="form-group form-group-compound">
              <label for="05-arrived" class="block-label block-label-slim">
                <input type="checkbox" id="05-arrived">Arrived
              </label>
            </div>
            <div class="form-group form-group-compound">
              <label for="05-identification" class="block-label block-label-slim">
                <input type="checkbox" id="05-identification">Provided ID
              </label>
            </div>
          </div>
          <div class="grid grid-1-3">
            <div class="form-group">
              <label id="05-comments" class="form-label visuallyhidden">Other comments (optional)</label>
              <textarea id="05-comments" class="form-control width-all-1-1" rows="1" placeholder="Other comments (optional)"></textarea>
            </div>
          </div>
        </div>
        <div class="grid-wrapper">
          <div class="grid grid-1-3">Michael Franks <br> Contact no: 0777892846</div>
          <div class="grid grid-1-3 inline">
            <div class="form-group form-group-compound">
              <label for="06-arrived" class="block-label block-label-slim">
                <input type="checkbox" id="06-arrived">Arrived
              </label>
            </div>
            <div class="form-group form-group-compound">
              <label for="06-identification" class="block-label block-label-slim">
                <input type="checkbox" id="06-identification">Provided ID
              </label>
            </div>
          </div>
          <div class="grid grid-1-3">
            <div class="form-group">
              <label id="06-comments" class="form-label visuallyhidden">Other comments (optional)</label>
              <textarea id="06-comments" class="form-control width-all-1-1" rows="1" placeholder="Other comments (optional)"></textarea>
            </div>
          </div>
        </div>
        <div class="grid-wrapper">
          <div class="grid grid-1-3">Alyson Newhall <br> Contact no: 0728028474</div>
          <div class="grid grid-1-3 inline">
            <div class="form-group form-group-compound">
              <label for="07-arrived" class="block-label block-label-slim">
                <input type="checkbox" id="07-arrived">Arrived
              </label>
            </div>
            <div class="form-group form-group-compound">
              <label for="07-identification" class="block-label block-label-slim">
                <input type="checkbox" id="07-identification">Provided ID
              </label>
            </div>
          </div>
          <div class="grid grid-1-3">
            <div class="form-group">
              <label id="07-comments" class="form-label visuallyhidden">Other comments (optional)</label>
              <textarea id="07-comments" class="form-control width-all-1-1" rows="1" placeholder="Other comments (optional)"></textarea>
            </div>
          </div>
        </div>
        <div class="grid-wrapper">
          <div class="grid grid-1-3">Voncile Sobers <br> Contact no: 07727262812</div>
          <div class="grid grid-1-3 inline">
            <div class="form-group form-group-compound">
              <label for="08-arrived" class="block-label block-label-slim">
                <input type="checkbox" id="08-arrived">Arrived
              </label>
            </div>
            <div class="form-group form-group-compound">
              <label for="08-identification" class="block-label block-label-slim">
                <input type="checkbox" id="08-identification">Provided ID
              </label>
            </div>
          </div>
          <div class="grid grid-1-3">
            <div class="form-group">
              <label id="08-comments" class="form-label visuallyhidden">Other comments (optional)</label>
              <textarea id="08-comments" class="form-control width-all-1-1" rows="1" placeholder="Other comments (optional)"></textarea>
            </div>
          </div>
        </div>
      </section>

    </section>

    <a href="" class="button-link">Save list</a>
    <a href="" class="button">Submit list</a>


