---
pageTitle: Extract of schedule
layout: admin-layout.hbs
---

    <h1 class="heading-xlarge">
      Extract of schedule
    </h1>
    <section>

      <div class="grid-wrapper">
        <div class="grid grid-1-2">
          <div class="grid-wrapper">
            <div class="grid grid-1-3">
              <h2 class="bold-small">Location</h2><p>London 1</p>
            </div>
            <div class="grid grid-2-3">
              <h2 class="bold-small">Date</h2><p>Monday 25 April 2016</p>
            </div>
          </div>
        </div>
      </div>


      <section>
        <h2 class="heading-small">Morning candidates</h2>
        <ul>
          <li>John Smith <br> Contact no: 07928292910</li>
          <li>Barry Grant <br> Contact no: 07927282844</li>
          <li>Lashonda Gillooly <br> Contact no: 07782928127</li>
          <li>Doretta Lupercio <br> Contact no: 07773829274</li>
        </ul>
      </section>

      <section>
        <h2 class="heading-small">Afternoon candidates</h2>
        <ul>
          <li>Susie Woodman <br> Contact no: 07383809200</li>
          <li>Michael Franks <br> Contact no: 0777892846</li>
          <li>Alyson Newhall <br> Contact no: 0728028474</li>
          <li>Voncile Sobers <br> Contact no: 07727262812</li>
        </ul>
      </section>

    </section>

    <!-- <a href="schedule-centremanager.html" class="button">Send list to centre manager</a> -->

