---
pageTitle: Assessment schedule
layout: admin-layout.hbs
---
<div class="panel-info toggle-content" id="managingCandidatePanel">
  <p>You are currently managing the slot for: <b id="candidateManaging">John Smith</b>.</p>
  <p><a href="" id="stopManagingCandidate">Stop managing</a></p>
</div>
<div class="hgroup para-btm-margin">
  <h1 class="heading-xlarge">
    Session schedule
  </h1>
  <h2 class="subtitle">Monday 25 April 2016</h2>
</div>
<p>
  <a href="assessment-schedule.html">Return to assessment summary</a>
</p>

<section class="section-border">
  <h2 class="heading-large">Morning</h2>

  <ul class="list-text">
    <li><a href="view-candidate.html?Status=booked" class="link-unimp">John Smith</a></li>
    <li><a href="view-candidate.html?Status=booked" class="link-unimp">Jeffrey Knight</a></li>
    <li><a href="view-candidate.html?Status=booked" class="link-unimp">Carey Smithson</a></li>
    <li><a href="view-candidate.html?Status=booked" class="link-unimp">Otha Bhatia</a></li>
  </ul>
</section>

<section>
  <h2 class="heading-large">Afternoon</h2>

  <ul class="list-text">
    <li><a href="view-candidate.html?Status=booked" class="link-unimp">Tamika Chartier</a></li>
    <li><a href="view-candidate.html?Status=booked" class="link-unimp">Barry Grant</a></li>
    <li><a href="view-candidate.html?Status=booked" class="link-unimp">Sally Butcher</a></li>
    <li><a href="view-candidate.html?Status=booked" class="link-unimp">Tamika Chartier</a></li>
    <li><a href="view-candidate.html?Status=booked" class="link-unimp">Jacalyn Hill</a></li>
    <li><a href="view-candidate.html?Status=booked" class="link-unimp">Sheri Strey</a></li>
  </ul>
</section>

