---
pageTitle: Assessment schedule
layout: admin-layout.hbs
---
<div class="panel-info toggle-content" id="managingCandidatePanel">
  <p>You are currently managing the slot for: <b id="candidateManaging">John Smith</b>.</p>
  <p><a href="" id="stopManagingCandidate">Stop managing</a></p>
</div>
<div class="hgroup para-btm-margin">
  <h1 class="heading-xlarge">
    Session schedule
  </h1>
  <h2 class="subtitle">London 1, Monday 25 April 2016</h2>
</div>

<a href="/25-04-2016-schedule.csv" class="button" id="extractScheduleBtn">Extract schedule</a>

<p>
  <a href="assessment-schedule.html">Return to assessment summary</a>
</p>

<section>
  <h2 class="heading-large">Morning</h2>
  <table class="grid-2-3">
    <colgroup>
      <col class="t20" />
      <col class="t20" />
      <col class="t30" />
      <col class="t10" />
      <col />
    </colgroup>
    <thead>
      <tr>
        <th>Candidate name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="view-candidate.html?Status=booked" class="link-unimp candidateName">John Smith</a></td>
        <td></td>
        <td><a href="candidate-scores-new.html" class="candidateScores">Add scores and feedback</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="view-candidate.html?Status=booked" class="link-unimp candidateName">Jeffrey Knight</a></td>
        <td></td>
        <td><a href="candidate-scores-new.html" class="candidateScores">Add scores and feedback</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="view-candidate.html?Status=booked" class="link-unimp candidateName">Carey Smithson</a></td>
        <td>Unconfirmed</td>
        <td><a href="candidate-scores-new.html">Add scores and feedback</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="view-candidate.html?Status=booked" class="link-unimp candidateName">Otha Bhatia</a></td>
        <td></td>
        <td><a href="candidate-scores-new.html">Add scores and feedback</a></td>
        <td></td>
      </tr>
      <tr>
        <td>(Empty slot)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>(Empty slot)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2 class="heading-large">Afternoon</h2>
  <table class="grid-2-3">
    <colgroup>
      <col class="t20" />
      <col class="t20" />
      <col class="t30" />
      <col class="t10" />
      <col />
    </colgroup>
    <thead>
      <tr>
        <th>Candidate name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="view-candidate.html?Status=booked" class="link-unimp candidateName">Tamika Chartier</a></td>
        <td></td>
        <td><a href="candidate-scores-new.html" class="candidateScores">Add scores and feedback</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="view-candidate.html?Status=booked" class="link-unimp candidateName">Barry Grant</a></td>
        <td></td>
        <td><a href="candidate-scores-new.html" class="candidateScores">Add scores and feedback</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="view-candidate.html?Status=booked" class="link-unimp candidateName">Sally Butcher</a></td>
        <td>Unconfirmed</td>
        <td><a href="candidate-scores-new.html">Add scores and feedback</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="view-candidate.html?Status=booked" class="link-unimp candidateName">Tamika Chartier</a></td>
        <td></td>
        <td><a href="candidate-scores-new.html">Add scores and feedback</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="view-candidate.html?Status=booked" class="link-unimp candidateName">Jacalyn Hill</a></td>
        <td>Unconfirmed</td>
        <td><a href="candidate-scores-new.html">Add scores and feedback</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="view-candidate.html?Status=booked" class="link-unimp candidateName">Sheri Strey</a></td>
        <td></td>
        <td><a href="candidate-scores-new.html">Add scores and feedback</a></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</section>