---
pageTitle: Administration sign in
layout: admin-layout.hbs
---

<h2 class="heading-xlarge">
  Administration sign in
</h2>

<div class="form-group">
  <label class="form-label" for="email-add">Email</label>
  <input type="email" class="form-control" id="email-add"/>
</div>
<div class="form-group">
  <label class="form-label" for="signin-password">Password</label>
  <input type="password" class="form-control" id="signin-password" />
</div>

<div class="form-group small-btm-margin">
  <a class="button" id="btnSignIn" href="find-candidate.html">Sign in</a>
</div>