---
pageTitle: Find a candidate
layout: admin-layout.hbs
---

<div class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <ul class="list-text">
        <li>Find a candidate</li>
        <li><a href="reporting.html">Reporting</a></li>
        <li><a href="campaign.html">Campaign management</a></li>
      </ul>
    </div>
  </div>
  <div class="grid grid-3-4">
    <h1 class="heading-xlarge">
      Find a candidate
    </h1>
    <p><a href="view-candidate.html">Return to candidate</a></p>

    <section>
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <h2 class="heading-large">Candidate test management</h2>
        </div>
      </div>

      <section>
        <h3 class="bold-small">Candidate name</h3>
        <p>John Smith</p>
      </section>

      <section class="section-border">
        <h3 class="bold-small">Online test status</h3>
        <p>Started: 6 April 2016 <br> Expire: 3:36pm on 10 April 2016</p>
      </section>

      <section class="section-border">
        <section>
          <h3 class="heading-small">Choose an option to manage the candidate's test expiry</h3>
          <details>
            <summary>Reset clock</summary>
            <div class="detail-content">
              <p>This will start the 7 day period again from today</p>
              <a href="" class="button">Reset the clock</a>
            </div>
          </details>
        </section>

        <section>
          <details>
            <summary>Extend time on clock</summary>
            <div class="detail-content">
              <div class="form-group">
                <label for="extendTime" class="form-label">Amount of days to extend test expiry</label>
                <input type="number" class="form-control form-control-small" id="extendTime" value="0" min="0" max="7"/>
                <span>days</span>
              </div>
              <a href="" class="button">Extend time</a>
            </div>
          </details>
        </section>
      </section>
      <a href="view-candidate.html" class="button">Save changes</a>
      <p><a href="view-candidate.html">Return to candidate</a></p>
    </section>


  </div>
</div>
