---
pageTitle: Find a candidate
layout: admin-layout.hbs
---

<div class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <ul class="list-text">
        <li>Find a candidate</li>
        <li><a href="reporting.html">Reporting</a></li>
      </ul>
    </div>
  </div>
  <div class="grid grid-3-4">
    <div class="hgroup-large">
      <h2 class="heading-xlarge">
        Find a candidate
      </h2>
    </div>
    <div class="grid-wrapper">
      <div class="grid grid-1-2">
        <p><a href="find-candidate.html">Return to search</a></p>
        <div class="hgroup-medium">
          <h3 class="heading-medium">John Smith</h3>
        </div>
      </div>
      <!-- <div class="grid grid-1-2">
        <div class="page-link">
          <a href="" class="button no-right-margin">Change contact details</a>
        </div>
      </div> -->
    </div>

    <div>
      <h4 class="bold-small">Email</h4>
      <p>john.smith@email.com</p>
    </div>

    <div>
      <h4 class="bold-small">Date of birth</h4>
      <p>23 January 1998</p>
    </div>

    <div>
      <h4 class="bold-small">Address</h4>
      <p>1 London road, Harrow, HA4 3HD</p>
    </div>

    <div>
      <h4 class="bold-small">Phone number</h4>
      <p>078383929829</p>
    </div>

    <div>
      <h4 class="bold-small">Locations and schemes</h4>
      <p class="small-btm-margin">Birmingham (Business, Project delivery)</p>
      <p>Coventry (Business, Finance)</p>
    </div>

    <div>
      <h4 class="bold-small">Application status</h4>
      <p>Submitted application (3 February 2016)</p>
    </div>

  </div>
</div>