<!-- <div id="global-cookie-message" class="cookie-banner">
  <div class="content-container">
      <span class="copy-16">GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></span>
  </div>
</div> -->
<div class="skiplink-container header-skiplink">
  <div>
    <a href="#main" class="skiplink">Skip to main content</a>
  </div>
</div>
<header role="banner" class="global-header">
  <div class="global-header__wrapper">
    <div class="grid-wrapper">
      <div class="grid grid-3-4">
        <h1 class="bold-small">Apply for a Civil Service apprenticeship | Administration</h1>
      </div>
      <div class="grid grid-1-4">
        <div class="nav-menu {{ signInClass }}">
          <a class="nav-menu__trigger" href="" id="headerNavigation">Navigation</a>
          <ul class="nav-menu__items toggle-content">
            <li><a href="find-candidate.html">Find a candidate</a></li>
            <li><a href="reporting.html">Reporting</a></li>
            <li><a href="campaign.html">Campaign management</a></li>
            <li><a href="passmark-index.html">Online test passmarks</a></li>
            <li><a href="assessment-schedule.html">Assessment centre schedule</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>