<!-- <div id="global-cookie-message" class="cookie-banner">
  <div class="content-container">
      <span class="copy-16">GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></span>
  </div>
</div> -->
<div class="skiplink-container header-skiplink">
  <div>
    <a href="#main" class="skiplink">Skip to main content</a>
  </div>
</div>
<header role="banner" class="global-header">
  <div class="global-header__wrapper">
    <div class="grid-wrapper">
      <div class="grid grid-3-4">
        <h1 class="bold-small">Apply for Civil Service apprenticeship | Administation</h1>
      </div>
      <!-- <div class="grid grid-1-4">
        <h2 class="bold-small">Hello, James</h2>
      </div> -->
    </div>
  </div>
</header>