<div class="grid grid-1-3">
  <div class="form-group">
    <label for="first-name" class="form-label">Full name</label>
    <span class="form-prepopped" id="fullNamePre">John Smith</span>
  </div>

  <div class="form-group">
    <p class="form-label">Date of birth</p>
    <span class="form-prepopped" id="dobFullPre">12/06/1994</span>
  </div>

  <div class="form-group">
    <span class="form-label">Address</span>
    <ul class="list-text form-prepopped">
      <li id="address1Pre">37 Bolton road</li>
      <li id="address2Pre"></li>
      <li id="address3Pre">Birmingham</li>
      <li id="address3bPre">West Midlands</li>
      <li id="address4Pre">B23 4BB</li>
    </ul>
  </div>
</div>

<div class="grid grid-1-3">
  <div class="form-group">
    <label for="email-address" class="form-label">Email address</label>
    <span class="form-prepopped" id="emailInputPre">john.smith@email.com</span>
  </div>

  <div class="form-group">
    <label for="tel-number" class="form-label">Phone</label>
    <span class="form-prepopped" id="phoneInputPre">07954 389421</span>
  </div>
</div>