<div class="fixed-container">
  <div class="banner-container">
    <div class="phase-notice gov-border grid-wrapper">
      <div class="grid grid-2-3">
        <div class="prototype-warning">
          <strong class="beta__label">Beta</strong> <span>This is a prototype – your <a href="#" target="_blank" rel="external">feedback</a> will help to improve it.</span>
        </div>
      </div>
      <div class="grid grid-1-3">
        <div class="account-info sign-in" id="bannerSignedOut">
          <div class="small-btm-margin">
            <a href="/fasttrack/profile-signin.html?"><i class="fa fa-sign-in"></i>Register / Sign in</a>
          </div>
        </div>
        <div class="account-info sign-out" id="bannerSignedIn" style="display: none;">
          <div class="small-btm-margin">
            <span class="your-name" id="bannerUserName">Henry Charge</span>
                <a href="/fasttrack/profile-signin.html?Status=signout" id="btnSignOut"><i class="fa fa-sign-out"></i>Sign out</a>
          </div>
          <div>
            <a href="/apprentice/dashboard.html#dashDrafts" class="account-link toggle-content" id="savedHeaderItem"><span id="savedCount"></span> Saved</a>
            <a class="account-link" id="applicationsLink" href="/apprentice/dashboard.html?Updates=true">My applications <span id="dashUpdatesNumber">(1)</span></a>
            <a class="account-link" href="/apprentice/settings.html" id="settingsLink">Settings</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>