<div class="panel-ie">
  <img src="{{assets}}/img/logo-ie.png" height="50" alt="Not optimised for IE 9 and lower" align="left">
  <p>It looks like you're using a version of Internet Explorer that this prototype has not tested with - For the best experience, please switch to a modern browser.</p>
  <p><a href="" id="hideIEMessage">Hide this message</a></p>
</div>