<ul class="list-text">
  <li>
    <a href="/recruitment/info-expect-from-employer.html">Responsibilities of the employer</a>
  </li>
  <li>
    <a href="/recruitment/info-whos-involved.html">Who's involved in an apprenticeship?</a>
  </li>
  <li>
    <a href="/recruitment/info-expect-from-apprentice.html">What to expect from your apprentice</a>
  </li>
  <li>
    <a href="/recruitment/info-expect-from-provider.html">Responsibilities of the provider</a>
  </li>
  <li>
    <a href="/recruitment/info-payments-and-funding.html">Payments and funding</a>
  </li>
  <li>
    <a href="/recruitment/info-six-steps.html">How to employ an apprentice</a>
  </li>
</ul>