<select name="regionAndlocation" id="regionSelect">
                <option value="null">Choose from list of locations</option>

                    <optgroup class="East" data-optregion="East" label="East">

                        <option value="East;Bedford">Bedford</option>

                        <option value="East;Hertford">Hertford</option>

                        <option value="East;Milton Keynes">Milton Keynes</option>

                        <option value="East;Norwich">Norwich</option>

                        <option value="East;TestALevelD">TestALevelD</option>

                        <option value="East;TestGCSE">TestGCSE</option>

                    </optgroup>

                    <optgroup class="East-midlands" data-optregion="East-midlands" label="East-midlands">

                        <option value="East-midlands;Leicester">Leicester</option>

                        <option value="East-midlands;Nottingham">Nottingham</option>

                    </optgroup>

                    <optgroup class="London" data-optregion="London" label="London">

                        <option value="London;Hackney">Hackney</option>

                        <option value="London;London">London</option>

                        <option value="London;Northwood">Northwood</option>

                        <option value="London;TestALevelD2">TestALevelD2</option>

                        <option value="London;TestGCSE2">TestGCSE2</option>

                    </optgroup>

                    <optgroup class="North-east" data-optregion="North-east" label="North-east">

                        <option value="North-east;Darlington">Darlington</option>

                        <option value="North-east;Jarrow South">Jarrow South</option>

                        <option value="North-east;Newcastle">Newcastle</option>

                        <option value="North-east;Stockton">Stockton</option>

                        <option value="North-east;Teeside">Teeside</option>

                        <option value="North-east;Washington">Washington</option>

                    </optgroup>

                    <optgroup class="North-west" data-optregion="North-west" label="North-west">

                        <option value="North-west;Blackpool">Blackpool</option>

                        <option value="North-west;Bootle">Bootle</option>

                        <option value="North-west;Liverpool">Liverpool</option>

                        <option value="North-west;Lytham St Annes">Lytham St Annes</option>

                        <option value="North-west;Manchester">Manchester</option>

                        <option value="North-west;Preston">Preston</option>

                        <option value="North-west;Salford">Salford</option>

                        <option value="North-west;Shipley">Shipley</option>

                    </optgroup>

                    <optgroup class="Scotland" data-optregion="Scotland" label="Scotland">

                        <option value="Scotland;Bathgate (Edinburgh)">Bathgate (Edinburgh)</option>

                        <option value="Scotland;Cumbernauld">Cumbernauld</option>

                        <option value="Scotland;Dundee">Dundee</option>

                        <option value="Scotland;East Kilbride">East Kilbride</option>

                        <option value="Scotland;Edinburgh">Edinburgh</option>

                        <option value="Scotland;Glasgow">Glasgow</option>

                    </optgroup>

                    <optgroup class="South-east" data-optregion="South-east" label="South-east">

                        <option value="South-east;Andover">Andover</option>

                        <option value="South-east;Aylesbury (Buckinghamshire)">Aylesbury (Buckinghamshire)</option>

                        <option value="South-east;Chilton">Chilton</option>

                        <option value="South-east;Hastings">Hastings</option>

                        <option value="South-east;High Wycombe">High Wycombe</option>

                        <option value="South-east;Kent (inc.Ramsgate)">Kent (inc.Ramsgate)</option>

                        <option value="South-east;Oxford">Oxford</option>

                        <option value="South-east;Reading">Reading</option>

                        <option value="South-east;Shrivenham">Shrivenham</option>

                        <option value="South-east;Surrey">Surrey</option>

                        <option value="South-east;Worthing">Worthing</option>

                    </optgroup>

                    <optgroup class="South-west" data-optregion="South-west" label="South-west">

                        <option value="South-west;Bristol">Bristol</option>

                    </optgroup>

                    <optgroup class="Wales" data-optregion="Wales" label="Wales">

                        <option value="Wales;Cardiff">Cardiff</option>

                        <option value="Wales;Merthyr Tydfil">Merthyr Tydfil</option>

                        <option value="Wales;Swansea">Swansea</option>

                    </optgroup>

                    <optgroup class="West-midlands" data-optregion="West-midlands" label="West-midlands">

                        <option value="West-midlands;Birmingham">Birmingham</option>

                        <option value="West-midlands;Cosford">Cosford</option>

                        <option value="West-midlands;Coventry">Coventry</option>

                        <option value="West-midlands;Handsworth">Handsworth</option>

                        <option value="West-midlands;Lichfield">Lichfield</option>

                        <option value="West-midlands;Stratford">Stratford</option>

                        <option value="West-midlands;Sutton Coldfield">Sutton Coldfield</option>

                        <option value="West-midlands;Telford">Telford</option>

                        <option value="West-midlands;Walsall">Walsall</option>

                        <option value="West-midlands;Wolverhampton">Wolverhampton</option>

                    </optgroup>

                    <optgroup class="Yorkshire-humberside" data-optregion="Yorkshire-humberside" label="Yorkshire-humberside">

                        <option value="Yorkshire-humberside;Bradford">Bradford</option>

                        <option value="Yorkshire-humberside;Leeds">Leeds</option>

                        <option value="Yorkshire-humberside;Sheffield">Sheffield</option>

                        <option value="Yorkshire-humberside;York">York</option>

                    </optgroup>

            </select>