<ul id="ie8-map-uk" class="list-text svg-map">
  <li>
    <a class="region-container" href="" id="South-west"></a>
  </li>
  <li>
    <a class="region-container" href="" id="Scotland"></a>
  </li>
  <li>
    <a class="region-container" href="" id="South-west"></a>
  </li>
  <li>
    <a class="region-container" href="" id="South-east"></a>
  </li>
  <li>
    <a class="region-container" href="" id="London"></a>
  </li>
  <li>
    <a class="region-container" href="" id="East"></a>
  </li>
  <li>
    <a class="region-container" href="" id="Wales"></a>
  </li>
  <li>
    <a class="region-container" href="" id="West-midlands"></a>
  </li>
  <li>
    <a class="region-container" href="" id="East-midlands"></a>
  </li>
  <li>
    <a class="region-container" href="" id="North-west"></a>
  </li>
  <li>
    <a class="region-container" href="" id="North-east"></a>
  </li>
  <li>
    <a class="region-container" href="" id="Yorkshire-humberside"></a>
  </li>
</ul>