<fieldset class="search-filter">
  <legend class="heading-medium mob-collpanel-trigger">Filter results</legend>
  <div class="mob-collpanel toggle-content--mob">
    <div class="form-group">
      <label for="job-title" class="form-label">Job title (optional)</label>
      <input id="job-title" type="text" class="form-control trainee-result-input trainee-result-input-1" value="">
    </div>
    <div class="form-group">
      <label for="keywords" class="form-label">Keyword (optional)</label>
      <input id="keywords" type="text" class="form-control trainee-result-input trainee-result-input-2" value="">
    </div>
    <div class="form-group">
      <label for="location" class="form-label">Traineeship location</label>
      <input id="location" type="text" class="form-control trainee-result-input trainee-result-input-3" value="">
    </div>
    <div class="form-group">
      <label for="loc-within" class="form-label">Within</label>
      <select id="loc-within">
        <option value="">This area only</option>
        <option value="">5 miles</option>
        <option value="">10 miles</option>
        <option value="">15 miles</option>
        <option value="">20 miles</option>
        <option value="">30 miles</option>
        <option value="">40 miles</option>
      </select>
    </div>
    <div class="form-group">
      <a href="#" class="update-results-btn button">Update results</a>
    </div>
  </div>
</fieldset>