<select data-sessionselector name="" id="">
  <option value="">-- Select one --</option>
  <optgroup label="April 25 2016">
    <!-- <option value="April-25-Morning-1">Morning - Session 01</option> -->
    <!-- <option value="April-25-Morning-2">Morning - Session 02</option> -->
    <!-- <option value="April-25-Morning-3">Morning - Session 03</option> -->
    <option value="April-25-Morning-4">Morning - Session 04</option>
    <option value="April-25-Morning-5">Morning - Session 05</option>
    <option value="April-25-Morning-6">Morning - Session 06</option>
    <!-- <option value="April-25-Afternoon-1">Afternoon - Session 01</option> -->
    <!-- <option value="April-25-Afternoon-2">Afternoon - Session 02</option> -->
    <!-- <option value="April-25-Afternoon-3">Afternoon - Session 03</option> -->
    <!-- <option value="April-25-Afternoon-4">Afternoon - Session 04</option> -->
    <option value="April-25-Afternoon-5">Afternoon - Session 05</option>
    <option value="April-25-Afternoon-6">Afternoon - Session 06</option>
  </optgroup>
  <optgroup label="April 26 2016">
    <!-- <option value="April-26-Morning-1">Morning - Session 01</option> -->
    <!-- <option value="April-26-Morning-2">Morning - Session 02</option> -->
    <!-- <option value="April-26-Morning-3">Morning - Session 03</option> -->
    <!-- <option value="April-26-Morning-4">Morning - Session 04</option> -->
    <option value="April-26-Morning-5">Morning - Session 05</option>
    <option value="April-26-Morning-6">Morning - Session 06</option>
    <!-- <option value="April-26-Afternoon-1">Afternoon - Session 01</option> -->
    <!-- <option value="April-26-Afternoon-2">Afternoon - Session 02</option> -->
    <!-- <option value="April-26-Afternoon-3">Afternoon - Session 03</option> -->
    <!-- <option value="April-26-Afternoon-4">Afternoon - Session 04</option> -->
    <option value="April-26-Afternoon-5">Afternoon - Session 05</option>
    <option value="April-26-Afternoon-6">Afternoon - Session 06</option>
  </optgroup>
  <optgroup label="April 27 2016">
    <!-- <option value="April-27-Morning-1">Morning - Session 01</option> -->
    <!-- <option value="April-27-Morning-2">Morning - Session 02</option> -->
    <!-- <option value="April-27-Morning-3">Morning - Session 03</option> -->
    <!-- <option value="April-27-Morning-4">Morning - Session 04</option> -->
    <!-- <option value="April-27-Morning-5">Morning - Session 05</option> -->
    <option value="April-27-Morning-6">Morning - Session 06</option>
    <!-- <option value="April-27-Afternoon-1">Afternoon - Session 01</option> -->
    <!-- <option value="April-27-Afternoon-2">Afternoon - Session 02</option> -->
    <option value="April-27-Afternoon-3">Afternoon - Session 03</option>
    <option value="April-27-Afternoon-4">Afternoon - Session 04</option>
    <option value="April-27-Afternoon-5">Afternoon - Session 05</option>
    <option value="April-27-Afternoon-6">Afternoon - Session 06</option>
  </optgroup>
</select>