<div class="toggle-content hide-nojs" id="sessionTimeOutOverlay">
  <div class="modal-overlay"></div>
  <div class="modal-dialog" role="dialog">
    <div class="modal-header bg-warning">
      <h2 class="bold-medium">
        <span class="font-medium"><i class="fa fa-exclamation-circle"></i></span>You'll be signed out for security in <span class="modal-countdown">1 minute</span>
      </h2>
    </div>
    <p>Get more time to complete your application:</p>
    <a class="button" href="apply-index.html">Continue working</a>
  </div>
</div>