<section class="section-border">
  <ul class="list-flowing-3cols">
    <li class="inner-block-padr">
      <h2 class="heading-small">
        <a href="#vacancy-info">1. Summary of role</a>
      </h2>
      <p>
        Information about responsibilities and working hours
      </p>
    </li>

    <li class="inner-block-padr">
      <h2 class="heading-small">
        <a href="#eligible">2. Are you eligible to apply?</a>
      </h2>
      <p>
        Check whether you’re allowed to apply for a role
      </p>
    </li>

    <li class="inner-block-padr">
      <h2 class="heading-small">
        <a href="#course-info">3. Information for candidate</a>
      </h2>
      <p>
        Includes qualifications, skills and personal qualities required for role
      </p>
    </li>

    <li class="inner-block-padr">
      <h2 class="heading-small">
        <a href="#provider-info">4. Learning provider</a>
      </h2>
      <p>
        Details of training plans and role of learning provider
      </p>
    </li>

    <li class="inner-block-padr">
      <h2 class="heading-small">
        <a href="#before-apply">5. Before you apply</a>
      </h2>
      <p>
        What you must do before you apply for the vacancy
      </p>
    </li>
  </ul>
</section>