---
headerTitle: Find an apprenticeship
---

<fieldset class="inner-block-padr">
  <legend class="heading-large">Password reset</legend>
  <p class="text">Enter your 6-character code to reset your password</p>
  <div class="form-group">
    <p class="form-label">Email address</p>
    <span class="form-prepopped">yourname@email.com</span>
  </div>
  <div class="form-group">
    <label class="form-label" for="enter-code">Enter code</label>
    <input type="text" class="form-control" id="enter-code"/>
    <p><a href="#">Resend code</a></p>
  </div>
  <div class="form-group">
    <label for="Password" class="form-label">New password</label>
    <span class="form-hint">Requires upper and lowercase letters, a number and at least 8 characters</span>
    <div class="form-group form-group-compound password-wrapper">
      <input type="password" class="form-control" id="Password">
    </div>
    <p class="form-hint strength-indicator hide-nojs">Password strength: <span id="pass_meter" class=""></span></p>
    <div class="password-second">
      <label for="confirm-password" class="form-label">Confirm password</label>
      <input type="password" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <a class="button" id="btnSignIn" href="dashboard.html">Reset password</a>

  </div>
</fieldset>
