<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<div class="item">
  <a href="" data-vac-lat="52.31506" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="52.41116" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="52.51226" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="52.61336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="52.71336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="52.81336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="52.91336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.61336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.11336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.21336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.31336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.41336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.51336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.91336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.11336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.21336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.31336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.41336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.51336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.61336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.71336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.81336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.91336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.11336" data-vac-long="-1.199383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.11336" data-vac-long="-1.299383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.11336" data-vac-long="-1.399383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.11336" data-vac-long="-1.499383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.11336" data-vac-long="-1.599383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.11336" data-vac-long="-1.699383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.11336" data-vac-long="-1.799383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.11336" data-vac-long="-1.899383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="54.11336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="52.11336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="52.21336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="52.31336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="52.41336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="52.51336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="52.61336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="52.71336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="52.72336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.72336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.12336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.22336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.32336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.42336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.52336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.62336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.72336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.82336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>

<div class="item">
  <a href="" data-vac-lat="53.92336" data-vac-long="-1.99383" class="vacancy-link">Map</a>
  <div class="map-container">
    <div style="height: 100px; width: 300px;" class="map"></div>
  </div>
</div>



<script>
  var theMaps = [];

  $('.vacancy-link').each(function () {

      var vacancyMap = $(this).closest('.item').find('.map')[0],
          vacancyLat = $(this).attr('data-vac-lat'),
          vacancyLon = $(this).attr('data-vac-long'),
          latlng = new google.maps.LatLng(vacancyLat,vacancyLon);

      var myOptions = {
          zoom: 10,
          center: latlng,
          mapTypeControl: false,
          overviewMapControl: false,
          panControl: false,
          scaleControl: false,
          scrollwheel: false,
          streetViewControl: false,
          zoomControl: true,
          zoomControlOptions: {
              style: google.maps.ZoomControlStyle.SMALL
          }
      };
      var map = new google.maps.Map(vacancyMap, myOptions);

      theMaps.push(map);

      var markerIcon = new google.maps.MarkerImage(
                    '../_assets/img/icon-location.png',
                    null, /* size is determined at runtime */
                    null, /* origin is 0,0 */
                    null, /* anchor is bottom center of the scaled image */
                    new google.maps.Size(20, 32));

      var marker = new google.maps.Marker({
          icon: markerIcon,
          position: latlng,
          map: map
      });

    });

</script>