---
headerTitle: Find an apprenticeship
---

<fieldset class="inner-block-padr">
  <legend class="heading-large">Account locked</legend>
  <p class="text">To unlock your account, enter your email address. You'll receive a 6-digit code, which you can then use to unlock your account.</p>
  <div class="form-group">
    <label class="form-label" for="email-add">Email address</label>
    <input type="email" class="form-control" id="email-add"/>
  </div>
  <div class="form-group">
    <a class="button" href="blocked-entercode.html">Send code</a>
  </div>
</fieldset>
