---
headerTitle: Find an apprenticeship
layout: new-dash.hbs
---
<div role="alert" aria-live="assertive" id="deleteSuccess" class="toggle-content panel-info">
    <p id="VacancyDeletedInfoMessageText">You’ve successfully deleted your draft for the <a id="vacancyDeletedLink" href="apply-index.html">Apprentice Mechanical Engineer – Precision Toolmaker</a> apprenticeship</p>
</div>
<div role="alert" aria-live="assertive" id="supportPrompt" class="toggle-content panel-info">
    <div class="text">
      <p>If you need help writing a good application, or would like careers advice and support, visit the <a href="https://nationalcareersservice.direct.gov.uk/pages/home.aspx" rel="external" target="_blank">National Careers Service</a>.</p>
       <p>
         <span class="fake-link notInterested" id="">I'm not interested</span> (hide this notice)
       </p>
    </div>
</div>
<div class="grid-wrapper">
  <div class="grid grid-1-2">
    <div class="hgroup">
      <h1 class="heading-xlarge">My applications</h1>
      <h2 class="subtitle">Traineeships</h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="page-link">
      <ul class="list-text" id="tshipLink">
       <li>
          <a class="link-unimp" href="/trainee/search-index.html">Find a traineeship</a>
        </li>
      </ul>
    </div>

  </div>
</div>
<ul class="list-nav">
  <li>
    <span class="bold-medium">2</span> <a class="" href="#dashSaved">Saved</a>
  </li>
  <li>
    <span class="bold-medium">2</span> <a class="" href="#dashApplied">Applied</a>
  </li>
</ul>
<div class="grid-wrapper proto-dashboard">
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <section class="clearfix">

        <h2 class="heading-medium" id="dashSaved">Saved</h2>

        <table class="vert-middle">
          <colgroup>
            <col class="t70">
            <col class="t20">
            <col class="t10">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <td>
                <a href="" class="link-unimp">Retail Traineeship with The Entertainer (Coventry) - The Entertainer</a>
                <div><strong>Closing date:</strong> 23 Mar 15</div>
              </td>
              <td class="ta-center">
                <a href="apply-index.html">Apply</a>
              </td>
              <td class="ta-center"><a id="removeDraft" class="icon-black" href="#"><i class="copy-16 fa fa-times-circle"></i><span class="visuallyhidden">Delete</span></a></td>
            </tr>
            <tr>
              <td>
                <a href="" class="link-unimp">TRAINEESHIP in Business Administration - British Heart Foundation</a>
                <div><strong>Closing date:</strong> in 10 Apr 15</div>
              </td>
              <td class="ta-center">
                <a href="apply-index.html">Apply</a>
              </td>
              <td class="ta-center"><a id="removeDraft" class="icon-black" href="#"><i class="copy-16 fa fa-times-circle"></i><span class="visuallyhidden">Delete</span></a></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
  <div class="grid grid-1-2">
    <section class="clearfix">
      <h2 class="heading-medium" id="dashApplied">Applied</h2>

      <table class="vert-middle">
        <colgroup>
          <col class="t60">
          <col class="t20">
          <col class="t20">
          <col>
        </colgroup>
        <tbody class="tbody-3rows">
          <tr>
            <td>
              <a href="" class="link-unimp">Traineeship in IT Software Applications (ITQ) with Prolink Associates Ltd</a>
            </td>
            <td class="ta-center">
              Applied
            </td>
            <td class="ta-center">
              10 Nov 14
            </td>
          </tr>
          <tr>
            <td>
              <a href="" class="link-unimp">TRAINEESHIP in Hospitality with Quality Hotel Birmingham</a>
            </td>
            <td class="ta-center">
              Applied
            </td>
            <td class="ta-center">
              30 Oct 14
            </td>
          </tr>
        </tbody>
        <tbody class="tbody-expandrows">
          <tr class="no-btm-border">
            <td colspan="2"></td>
            <td class="no-wrap ta-center"><span class="btnExpandRows fake-link" href="" aria-expanded="false"><i class="fa fa-angle-down"></i>More</span></td>
          </tr>
        </tbody>
      </table>

    </section>
  </div>

</div>