---
headerTitle: Find an apprenticeship
---

<fieldset class="inner-block-padr">
  <legend class="heading-large">Forgotten password</legend>
  <div class="text">
    <p>To reset your password we need to send you a 6-character code to your email address.</p>
  </div>
  <div class="form-group">
    <label class="form-label" for="forgottenEmail">Enter email</label>
    <input type="email" class="form-control" id="forgottenEmail"/>
  </div>
  <div class="form-group">
    <a class="button" href="forgottenpassword-entercode.html">Send code</a>
  </div>
</fieldset>
