---
headerTitle: Find an apprenticeship
---
<h1 class="heading-xlarge">Apprenticeships</h1>

<article class="text">
  <section>
    <p>Apprenticeships combine a job with practical training and study. An apprentice:</p>
    <ul>
      <li>works alongside experienced staff</li>
      <li>gains job-specific skills</li>
      <li>earns a wage</li>
      <li>receives holiday pay</li>
      <li>studies towards a related qualification (usually 1 day a week)</li>
    </ul>
    <p>An apprenticeship takes between 1 and 4 years to complete, depending on the level and prior skills of the candidate.</p>
  </section>
  <section>
    <h2 class="heading-large">Levels of apprenticeship</h2>
    <p>There are 3 levels in England:</p>
    <ul>
      <li>Intermediate – equivalent to 5 GCSE passes</li>
      <li>Advanced – equivalent to 2 A level passes</li>
      <li>Higher – lead to NVQ Level 4 and above or a Foundation Degree</li>
    </ul>
    <h2 class="heading-large">Qualifications</h2>
    <p>Apprenticeships can lead to:</p>
    <ul>
      <li>National Vocational Qualifications (NVQs) at Level 2,3,4 or 5</li>
      <li>Functional Skills qualifications, eg in maths or English</li>
      <li>a technical certificate, such as a BTEC or City &amp; Guilds Progression Award</li>
      <li>knowledge-based qualifications, such as a Higher National Certificate (HNC), a Higher National Diploma (HND) or a Foundation degree</li>
    </ul>
  </section>

  <section>
    <h2 class="heading-large">How to apply</h2>
    <p>Anyone can <a href="search-index.html">apply for an apprenticeship</a> if they’re:</p>
    <ul>
      <li>16 or over</li>
      <li>eligible to work in England</li>
      <li>not in full-time education</li>
    </ul>
    <p>Find out about <a rel="external" href="http://www.skillsdevelopmentscotland.co.uk/our-services/services-for-individuals/national-training-programmes/modern-apprenticeships.aspx">apprenticeships in Scotland</a> and <a rel="external" href="http://business.wales.gov.uk/growing-business/welsh-government-support-1/skills-support-0#tabs-6">Wales</a>.</p>
  </section>
  <section>
    <h2 class="heading-large">Get advice</h2>
    <p>
      If you’re thinking of applying, the <a rel="external" href="https://nationalcareersservice.direct.gov.uk/advice/courses/typesoflearning/Pages/apprenticeships.aspx">National Careers Service website</a> has information on the qualifications and careers apprenticeships can lead to.
    </p>
  </section>
</article>