---
headerTitle: Find an apprenticeship
---
<div class="panel-success toggle-content" id="signedOut">
  <p class=""><i class="fa fa-check"></i>You've successfully signed out. <a href="/feedback.html">Give feedback?</a> (30 second survey)</p>
</div>

<div class="panel-success toggle-content" id="emailAddressSent">
  <p>We've sent your email address to your verified mobile number <b>07938392982</b>.</p>
  <p>If you don't receive a text message you may have entered an unverified phone number or a phone number we don't recognise.</p>
</div>

<div class="grid-wrapper">
  <div class="grid grid-1-2">
    <fieldset class="inner-block-padr">
      <legend class="heading-large" id="signInTitle">Sign in</legend>
      <p><a href="profile-create.html" class="hide-tablet">Create an account</a></p>
      <div class="form-group form-group-compound">
        <label class="form-label" for="email-add">Email address</label>
        <input type="email" class="form-control form-control-3-4" id="email-add"/>
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input type="password" class="form-control form-control-3-4" id="password" />
        <p><a id="cantAccessBtn" href="profile-noaccess.html">I can't access my account</a></p>
        <details class="text hide-tablet">
        <summary>Activate your account</summary>
          <div class="detail-content">
            <ol class="list-number">
              <li>Once you've created an account we'll send you an activation code</li>
              <li>To activate your account sign in using your email address and password</li>
              <li>You'll then be asked to enter your activation code</li>
            </ol>
          </div>
        </details>
      </div>

      <div class="form-group small-btm-margin">
        <a class="button" id="btnSignIn" href="search-details.html">Sign in</a>
      </div>


    </fieldset>
  </div>
  <div class="grid grid-1-2">
    <h2 class="heading-large">New to this service?</h2>
    <div class="text">
      <p>
        If you haven’t used this service before you must <a class="inl-block" href="profile-create.html">create an account</a>, even if you already have an existing account with "Apprenticeship vacancies".
      </p>
      <p class="small-btm-margin">Creating an account allows you to:</p>
      <ul class="list-bullet">
        <li>apply for an apprenticeship or traineeship</li>
        <li>track your apprenticeship applications</li>
        <li>receive alerts about new apprenticeships</li>
      </ul>
    </div>
    <details class="text hide-mob">
      <summary>Activate your account</summary>
      <div class="detail-content">
        <ol class="list-number">
          <li>Once you've created an account we'll send you an activation code.</li>
          <li>Sign in using your email address and password.</li>
          <li>You'll then be asked to enter your activation code</li>
        </ol>
      </div>
    </details>
  </div>
</div>
