---
headerTitle: Find an apprenticeship
---
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js">
</script>
<script type="text/javascript">
$(function() {
  var latitude     = 52.4035,
      longitude    = -1.50901,
      miles        = 10,
      zoom         = 9,
      radiusCircle,
      vacancyLinks = $('.vacancy-link').toArray(),
      vacancies    = [],
      vacancy      = [],
      theMarkers   = [];

  for (var i = 0; i < vacancyLinks.length; i++) {
    var lat   = $(vacancyLinks[i]).attr('data-vac-lat'),
        longi = $(vacancyLinks[i]).attr('data-vac-long'),
        title = $(vacancyLinks[i]).html(),
        id    = $(vacancyLinks[i]).attr('id');

    vacancies[i] = [lat, longi, title, id];
  }

  function initialize() {

    var mapOptions = {
      center: { lat: latitude, lng: longitude},
      zoom: zoom,
      panControl: false,
      zoomControl: true,
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      overviewMapControl: false,
      scrollwheel: false
    };

    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var distanceCircle = {
      strokeColor: '#005ea5',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#005ea5',
      fillOpacity: 0.25,
      map: map,
      center: mapOptions.center,
      radius: miles * 1609.344
    }

    radiusCircle = new google.maps.Circle(distanceCircle);

    setMarkers(map, vacancies)

  }

  function setMarkers(map, locations) {
    var image1 = new google.maps.MarkerImage(
                  '{{assets}}/img/icon-location.png',
                  null, /* size is determined at runtime */
                  null, /* origin is 0,0 */
                  null, /* anchor is bottom center of the scaled image */
                  new google.maps.Size(20, 32));
        image2 = new google.maps.MarkerImage(
                  '{{assets}}/img/icon-location-selected.png',
                  null, /* size is determined at runtime */
                  null, /* origin is 0,0 */
                  null, /* anchor is bottom center of the scaled image */
                  new google.maps.Size(20, 32));

    for (var i = 0; i < locations.length; i++) {
      var appship = locations[i];
      var myLatLng = new google.maps.LatLng(appship[0], appship[1]);
      var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          animation : google.maps.Animation.DROP,
          icon: image1,
          title: appship[2]
      });

      theMarkers.push(marker);

      var vacancyID = appship[3];

      bindMarkerClick(marker, map, vacancyID, image1, image2);

      itemHover(image1, image2);

    }

  }

  function bindMarkerClick(marker, map, vacancyID, image1, image2) {
    google.maps.event.addListener(marker, 'mouseover', function() {
      marker.setIcon(image2);
      marker.setZIndex(1000);

      $('#' + vacancyID).closest('.search-results__item').css('background', '#E5E5E5').addClass('map-hover');
      $('.vacancy-link').not('#' + vacancyID).closest('.search-results__item').css('background', 'none').removeClass('map-hover');
    });

    google.maps.event.addListener(marker, 'click', function () {
      marker.setIcon(image2);
      marker.setZIndex(1000);
      $('#' + vacancyID).closest('.search-results__item')[0].scrollIntoView();
      $('#' + vacancyID).closest('.search-results__item').css('background', '#E5E5E5').addClass('map-hover');
      $('.vacancy-link').not('#' + vacancyID).closest('.search-results__item').css('background', 'none').removeClass('map-hover');
    });

    google.maps.event.addListener(marker, 'mouseout', function () {
      marker.setIcon(image1);
      marker.setZIndex(0);
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);

  $(document).click(function(event) {
    if(!$(event.target).closest('#map-canvas').length) {
      if($('.search-results__item').hasClass("map-hover")) {
        $('.search-results__item').removeClass('map-hover').css('background', 'none');
      }
    }
  });


  function itemHover(image1, image2) {
    $('.search-results__item').mouseover(function() {
      var thisPosition = $(this).index();
      theMarkers[thisPosition].setIcon(image2);
      theMarkers[thisPosition].setZIndex(1000);
      $(this).css('background', '#E5E5E5').addClass('map-hover');

    });

    $('.search-results__item').mouseleave(function() {
      var thisPosition = $(this).index();
      theMarkers[thisPosition].setIcon(image1);
      theMarkers[thisPosition].setZIndex(0);
      $(this).css('background', 'none').removeClass('map-hover');

    });

  }

});

</script>
<div class="search-results-wrapper grid-wrapper">
  <div class="hgroup">
    <h1 class="heading-xlarge">Search results</h1>
    <p class="small-btm-margin">We've found <b class="bold-medium">18</b> apprenticeships in your selected area.</p>
    <p>We've also found <a href="#">4 apprenticeships nationwide</a>.</p>
  </div>
  <section class="grid grid-1-3">
    <div class="fixedsticky">
      <fieldset class="search-filter">
        <legend class="heading-medium mob-collpanel-trigger">Edit search</legend>
        <div class="mob-collpanel toggle-content--mob">
          <div class="form-group">
            <label for="keywords" class="form-label">Keywords (optional)</label>
            <input id="keywords" type="text" class="form-control search-proto-result-input search-proto-result-input-1" value="building">
          </div>

          <div class="form-group">
            <label for="location" class="form-label">Apprenticeship location</label>
            <input id="location" type="text" class="form-control search-proto-result-input search-proto-result-input-2" value="coventry">
          </div>
          <div class="form-group">
            <label for="loc-within" class="form-label">Within</label>
            <select id="loc-within">
              <option value="">2 miles</option>
              <option value="">5 miles</option>
              <option selected value="">10 miles</option>
              <option value="">15 miles</option>
              <option value="">20 miles</option>
              <option value="">30 miles</option>
              <option value="">40 miles</option>
            </select>
          </div>
          <div class="form-group">
            <label for="apprType" class="form-label">Apprenticeship level</label>
            <select name="" id="apprType">
              <option value="">All levels</option>
              <option value="">Intermediate</option>
              <option value="">Advanced</option>
              <option value="">Higher</option>
            </select>
          </div>
          <div class="form-group">
            <a href="#" class="button no-btm-margin">Update results</a>
          </div>
        </div>
        <div class="form-group">
          <div id="map-canvas" class="map-container" style="width: 100%; height: 250px"></div>
        </div>
      </fieldset>
    </div>
  </section>
  <section class="grid grid-2-3">
    {{> search-results }}
  </section>
</div>


