   <input data-val="true" data-val-number="The field Latitude must be a number." id="Latitude" name="Latitude" type="hidden" value="52.476821">
   <input data-val="true" data-val-number="The field Longitude must be a number." id="Longitude" name="Longitude" type="hidden" value="-1.901858">
    <fieldset>
      <legend class="visuallyhidden">Search items</legend>

      <div class="grid-wrapper">
        <div class="font-xsmall grid grid-1-3">
          <div class="inner-block-padr">
            <details class="no-btm-margin small-top-padding">
              <summary>More/less detail</summary>
              <div class="detail-content" id="chooseDetails">
                <ul class="list-text list-checkradio">
                  <li class="hidden-subcategory toggle-content">
                    <input checked type="checkbox" id="subCatCheck">
                    <label for="subCatCheck">Sub-category</label>
                  </li>
                  <li>
                    <input checked type="checkbox" id="descriptionCheck">
                    <label for="descriptionCheck">Description</label>
                  </li>
                  <li>
                    <input checked type="checkbox" id="distanceCheck">
                    <label for="distanceCheck">Distance</label>
                  </li>
                  <li>
                    <input checked type="checkbox" id="closingDateCheck">
                    <label for="closingDateCheck">Closing date</label>
                  </li>
                  <li>
                    <input checked type="checkbox" id="startDateCheck">
                    <label for="startDateCheck">Possible start date</label>
                  </li>
                  <li>
                    <input type="checkbox" id="levelCheck">
                    <label for="levelCheck">Apprenticeship level</label>
                  </li>
                  <li>
                    <input type="checkbox" id="wageCheck">
                    <label for="wageCheck">Wage</label>
                  </li>
                </ul>
              </div>
            </details>
          </div>
        </div>
        <div class="grid grid-2-3 ta-right ta-left-mob">
          <label for="sort-results" class="heading-medium inline">Sort results</label>
          <select name="" id="sort-results" class="med-btm-margin">
            <option value="sort-distance">Distance</option>
            <option value="sort-closing">Closing date</option>
            <option value="sort-recently">Recently added</option>
          </select>
        </div>
      </div>
    </fieldset>
    <ul class="search-results">
      <li class="search-results__item section-border">
        <div class="hgroup-medium top-align width-all-3-4">
          <h3 class="heading-medium"><a id="vacancy1" class="vacancy-link" data-vac-lat="52.49825" data-vac-long="-1.910591" href="search-details.html">Horse Care Apprenticeship</a><span data-show="subCatCheck" class="font-small hidden-subcategory toggle-content"> (Animal Care)</span></h3>
          <h4 class="subtitle">Seechem Equestrian Centre <span class="font-xsmall inl-block"> (Added yesterday - 12 positions available)</span></h4>
        </div>
        <div class="top-align ta-right width-all-1-4">
          <a title="Add to saved" href="#" class="fake-link bookmark-result"><i class="fa fa-star-o"></i><span class="visuallyhidden">Add to saved</span></a>
        </div>
        <p data-show="descriptionCheck">
          The successful candidate will have the opportunity to work with the owner of the yard to ensure the smooth running and development of the yard to maintain the welfare of the horses and good level of customer service.
        </p>
        <div class="grid-wrapper">
          <div class="grid grid-2-3">
            <ul class="list-text inner-block-padr no-btm-margin">
              <li data-show="distanceCheck"><b>Distance:</b> 1.3 miles <span class="summary-style fake-link hide-nojs">Journey time</span>
              <div class="detail-content toggle-content hide-nojs">
                <select class="select-mode" name="">
                  <option value="DRIVING">Driving</option>
                  <option value="TRANSIT">Bus/Train</option>
                  <option value="WALKING">Walking</option>
                  <option value="BICYCLING">Cycling</option>
                </select>

                <span class="journey-time"></span>
              </div>
              </li>
              <li data-show="closingDateCheck"><b>Closing date:</b> in 7 days</li>
              <li data-show="startDateCheck"><b>Possible start date:</b> 12 Jan 2015</li>
              <li class="toggle-content" data-show="levelCheck"><b>Apprenticeship level:</b> Intermediate</li>
              <li class="toggle-content" data-show="wageCheck"><b>Wage:</b> £123 p/week</li>
              <li class="toggle-content" data-show="postedCheck"><b>Date posted:</b> 12 Dec 2014</li>
            </ul>
          </div>

          <div class="map-container grid grid-1-3 hide-nojs small-btm-margin">
            <a href="https://www.google.com/maps/dir/Birmingham+UK/'52.49825,-1.910591'" target="_blank" rel="external" class="fake-link font-xxsmall view-googlemaps">Open map</a>
            <div class="map">

            </div>
          </div>
        </div>
      </li>
      <li class="search-results__item section-border">
        <div class="hgroup-medium top-align width-all-3-4">
          <h3 class="heading-medium"><a id="vacancy2" class="vacancy-link" data-vac-lat="52.508699" data-vac-long="-1.872826" href="search-details-ticks.html">Agricultural Apprenticeship</a><span data-show="subCatCheck" class="font-small hidden-subcategory toggle-content"> (Agriculture)</span></h3>
          <h4 class="subtitle">Clarke &amp; Son <span class="font-xsmall inl-block"> (Added 3 days ago - 1 position available)</span></h4>
        </div>
        <div class="top-align ta-right width-all-1-4">
          <a title="Add to saved" href="#" class="fake-link bookmark-result"><i class="fa fa-star-o"></i><span class="visuallyhidden">Add to saved</span></a>
        </div>
        <p data-show="descriptionCheck">
          Mixed role to include work with forestry enterprises, free range eggs and arable. Full time plus every third weekend mornings. Some overtime is likely to be available. Working with one full time and 9 part time employees.
        </p>
        <div class="grid-wrapper">
          <div class="grid grid-2-3">
            <ul class="list-text inner-block-padr no-btm-margin">
              <li data-show="distanceCheck"><b>Distance:</b> 1.6 miles<span class="summary-style fake-link hide-nojs">Journey time</span>
              <div class="detail-content toggle-content hide-nojs">
                <select class="select-mode" name="">
                  <option value="DRIVING">Driving</option>
                  <option value="TRANSIT">Bus/Train</option>
                  <option value="WALKING">Walking</option>
                  <option value="BICYCLING">Cycling</option>
                </select>

                <span class="journey-time"></span>
              </div></li>
              <li data-show="closingDateCheck"><b>Closing date:</b> 28 Mar 2015</li>
              <li data-show="startDateCheck"><b>Possible start date:</b> 6 Feb 2015</li>
              <li class="toggle-content" data-show="levelCheck"><b>Apprenticeship level:</b> Intermediate</li>
              <li class="toggle-content" data-show="wageCheck"><b>Wage:</b> £134 p/week</li>
              <li class="toggle-content" data-show="postedCheck"><b>Date posted:</b> 18 Dec 2014</li>
              <li class="small-btm-margin"><a class="inl-block" href="https://www.gov.uk/looking-for-work-if-disabled" target="_blank"><img src="{{assets}}/img/logo-ticks-small-2x.png" height="30" width="38" alt="Two ticks logo - Positive about disabled people"></a></li>
            </ul>
          </div>
          <div class="map-container grid grid-1-3 hide-nojs small-btm-margin">
            <a href="https://www.google.com/maps/dir/Birmingham+UK/'52.508699,-1.872826'" target="_blank" rel="external" class="fake-link font-xxsmall view-googlemaps">Open map</a>
            <div class="map">

            </div>
          </div>
        </div>
      </li>
      <li class="search-results__item section-border">
        <div class="hgroup-medium top-align width-all-3-4">
          <h3 class="heading-medium"><a id="vacancy3" class="vacancy-link" data-vac-lat="52.481944" data-vac-long="-1.83918" href="#">Apprenticeship in Horse Care</a><span data-show="subCatCheck" class="font-small hidden-subcategory toggle-content"> (Animal Care)</span></h3>
          <h4 class="subtitle">Eland Lodge Equestrian Ltd <span class="font-xsmall inl-block"> (Added 30 Mar 15 - 1 position available)</span></h4>
        </div>
        <div class="top-align ta-right width-all-1-4">
          <a title="Add to saved" href="#" class="fake-link bookmark-result"><i class="fa fa-star-o"></i><span class="visuallyhidden">Add to saved</span></a>
        </div>
        <p data-show="descriptionCheck">
          Duties will include all aspects of horse care e.g. •  Grooming •  Mucking out • Trimming •  Lungeing •  Health care • Travelling •  Grooming at competitions
        </p>
        <div class="grid-wrapper">
          <div class="grid grid-2-3">
            <ul class="list-text inner-block-padr no-btm-margin">
              <li data-show="distanceCheck"><b>Distance:</b> 2.2 miles<span class="summary-style fake-link hide-nojs">Journey time</span>
              <div class="detail-content toggle-content hide-nojs">
                <select class="select-mode" name="">
                  <option value="DRIVING">Driving</option>
                  <option value="TRANSIT">Bus/Train</option>
                  <option value="WALKING">Walking</option>
                  <option value="BICYCLING">Cycling</option>
                </select>

                <span class="journey-time"></span>
              </div></li>
              <li data-show="closingDateCheck"><b>Closing date:</b> in 5 days</li>
              <li data-show="startDateCheck"><b>Possible start date:</b> 19 Mar 2015</li>
              <li class="toggle-content" data-show="levelCheck"><b>Apprenticeship level:</b> Intermediate</li>
              <li class="toggle-content" data-show="wageCheck"><b>Wage:</b> £98 p/week</li>
              <li class="toggle-content" data-show="postedCheck"><b>Date posted:</b> 02 Feb 2015</li>
            </ul>
          </div>
          <div class="map-container grid grid-1-3 hide-nojs small-btm-margin">
            <a href="https://www.google.com/maps/dir/Birmingham+UK/'52.481944,-1.83918'" target="_blank" rel="external" class="fake-link font-xxsmall view-googlemaps">Open map</a>
            <div class="map">

            </div>
          </div>
        </div>
      </li>
      <li class="search-results__item section-border">
        <div class="hgroup-medium top-align width-all-3-4">
          <h3 class="heading-medium"><a id="vacancy4" class="vacancy-link" data-vac-lat="52.528337" data-vac-long="-1.891365" href="#">Apprentice Dairy Assistant &amp; General Farm Worker</a><span data-show="subCatCheck" class="font-small hidden-subcategory toggle-content"> (Game and Wildlife Management)</span></h3>
          <h4 class="subtitle">J &amp; J Oneil <span class="font-xsmall"> (Added 24 Mar 15)</span></h4>
        </div>
        <div class="top-align ta-right width-all-1-4">
          <a title="Add to saved" href="#" class="fake-link bookmark-result"><i class="fa fa-star-o"></i><span class="visuallyhidden">Add to saved</span></a>
        </div>
        <p data-show="descriptionCheck">
          Apprentice required to assist on a modern dairy farm in the milking parlour and general farm work.
        </p>
        <div class="grid-wrapper">
          <div class="grid grid-2-3">
            <ul class="list-text inner-block-padr no-btm-margin">
              <li data-show="distanceCheck"><b>Distance:</b> 3.9 miles<span class="summary-style fake-link hide-nojs">Journey time</span>
              <div class="detail-content toggle-content hide-nojs">
                <select class="select-mode" name="">
                  <option value="DRIVING">Driving</option>
                  <option value="TRANSIT">Bus/Train</option>
                  <option value="WALKING">Walking</option>
                  <option value="BICYCLING">Cycling</option>
                </select>

                <span class="journey-time"></span>
              </div></li>
              <li data-show="closingDateCheck"><b>Closing date:</b> in 2 days</li>
              <li data-show="startDateCheck"><b>Possible start date:</b> 3 Feb 2015</li>
              <li class="toggle-content" data-show="levelCheck"><b>Apprenticeship level:</b> Intermediate</li>
              <li class="toggle-content" data-show="wageCheck"><b>Wage:</b> £145 p/week</li>
              <li class="toggle-content" data-show="postedCheck"><b>Date posted:</b> 29 Dec 2014</li>
            </ul>
          </div>
          <div class="map-container grid grid-1-3 hide-nojs small-btm-margin">
            <a href="https://www.google.com/maps/dir/Birmingham+UK/'52.528337,-1.891365'" target="_blank" rel="external" class="fake-link font-xxsmall view-googlemaps">Open map</a>
            <div class="map">

            </div>
          </div>
        </div>
      </li>
      <li class="search-results__item section-border">
        <div class="hgroup-medium top-align width-all-3-4">
          <h3 class="heading-medium"><a id="vacancy5" class="vacancy-link" data-vac-lat="52.427548" data-vac-long="-1.83918" href="#">Apprentice Kennel &amp; Cattery Assistant</a><span class="font-small hidden-subcategory toggle-content"> (Animal Care)</span></h3>
          <h4 class="subtitle">Banbury Boarding Kennels &amp; Cattery <span class="font-xsmall"> (Added 10 Mar 15)</span></h4>
        </div>
        <div class="top-align ta-right width-all-1-4">
          <a title="Add to saved" href="#" class="fake-link bookmark-result"><i class="fa fa-star-o"></i><span class="visuallyhidden">Add to saved</span></a>
        </div>
        <p data-show="descriptionCheck">
          Opportunity to work with animals at long established boarding kennels and cattery established nearly 24 years housing 36 double kennels and 25 cats. You will work in a fun but robust environment and need to ensure you can deal with a lot of animals.
        </p>
        <div class="grid-wrapper">
          <div class="grid grid-2-3">
            <ul class="list-text inner-block-padr no-btm-margin">
              <li data-show="distanceCheck"><b>Distance:</b> 4.6 miles<span class="summary-style fake-link hide-nojs">Journey time</span>
              <div class="detail-content toggle-content hide-nojs">
                <select class="select-mode" name="">
                  <option value="DRIVING">Driving</option>
                  <option value="TRANSIT">Bus/Train</option>
                  <option value="WALKING">Walking</option>
                  <option value="BICYCLING">Cycling</option>
                </select>

                <span class="journey-time"></span>
              </div></li>
              <li data-show="closingDateCheck"><b>Closing date:</b> in 20 Feb 2015</li>
              <li data-show="startDateCheck"><b>Possible start date:</b> 20 Mar 2015</li>
              <li class="toggle-content" data-show="levelCheck"><b>Apprenticeship level:</b> Intermediate</li>
              <li class="toggle-content" data-show="wageCheck"><b>Wage:</b> £104 p/week</li>
              <li class="toggle-content" data-show="postedCheck"><b>Date posted:</b> 20 Dec 2014</li>
            </ul>
          </div>
          <div class="map-container grid grid-1-3 hide-nojs small-btm-margin">
            <a href="https://www.google.com/maps/dir/Birmingham+UK/'52.427548,-1.83918'" target="_blank" rel="external" class="fake-link font-xxsmall view-googlemaps">Open map</a>
            <div class="map">

            </div>
          </div>
        </div>
      </li>

    </ul>
    <div class="page-navigation">
      <a href="#" class="page-navigation__btn previous disabled">
        <i class="arrow-button fa fa-angle-left"></i>
        <span class="description">Previous <span class="hide-mob">page</span></span>
        <span class="counter">1 of 6</span>
      </a>
      <a href="#" class="page-navigation__btn next">
        <i class="arrow-button fa fa-angle-right"></i>
        <span class="description">Next <span class="hide-mob">page</span></span>
        <span class="counter">2 of 6</span>
      </a>
    </div>
    <div class="form-group">
      <label for="results-per-page" class="heading-small inline">Display results</label>
      <select id="results-per-page" name="resultsPerPage"><option selected="selected" value="5">5 per page</option>
        <option value="10">10 per page</option>
        <option value="25">25 per page</option>
        <option value="50">50 per page</option>
      </select>
    </div>
