<h2 class="heading-large">5. Before you apply</h2>
<div class="text">
  <p>You will need to:</p>
  <ul>
    <li>check whether <a href="#eligible">you are eligible</a> to apply for the role</li>
    <li>complete application form</li>
  </ul>
</div>