<h2 class="heading-large">2. Are you eligible to apply?</h2>
<p>Anyone can apply for this role if they're:</p>
<ol class="list-number">
  <li>eligible to work in England</li>
  <li>unemployed and have little or no work experience</li>
  <li>aged 16-18 and qualified below Level 3 or aged 19-23 and qualified below Level 2</li>
</ol>