---
pageTitle: Check your application before submission
---

<div class="text">
  <h1 class="heading-xlarge" id="checkApplicationHeading">
    {{ pageTitle }}
  </h1>
</div>

<section class="section-border">
  <h2 class="heading-large">
    Personal details
  </h2>
  <section>
    <h3 class="heading-small">Full name</h3>
    <p id="fullName">Firstname Lastname</p>
  </section>
  <section>
    <h3 class="heading-small">What should we call you?</h3>
    <p id="preferredName">Henry</p>
  </section>
  <section>
    <h3 class="heading-small">Date of birth</h3>
    <p id="dateOfBirth">19 May 1994</p>
  </section>
  <section>
    <h3 class="heading-small">Address</h3>
    <ul class="list-text">
      <li id="address1">38 Bolton Road</li>
      <li id="address2">Windsor</li>
      <li id="address3">Windsor and Maidenhead</li>
      <li id="address3b"></li>
      <li id="address4">SL3 5LK</li>
    </ul>
  </section>
  <section>
    <h3 class="heading-small">Telephone number</h3>
    <p id="phone-input">07988 346763</p>
    <p id="phone-input2"></p>
  </section>
  <section>
    <h3 class="heading-small">Qualifications</h3>
    <p id="minGCSEs" class="hidden">At least 5 GCSEs or equivalent</p>
    <p id="minAlevels">At least 2 A-levels</p>
  </section>
</section>

<section class="section-border">
  <h2 class="heading-large">
    Locations and scheme
  </h2>
  <section>
    <h3 class="heading-small">First preference</h3>
    <p id="firstPreference">Newcastle (Business, Cyber security)</p>
  </section>
  <section>
    <h3 class="heading-small">Second preference</h3>
    <p id="secondPreference">Manchester (Cyber security, Business admin)</p>
    <p id="noSecondPreference" class="hidden">No second preference chosen</p>
  </section>
  <section>
    <h3 class="heading-small">Would consider alternative location?</h3>
    <p id="considerAltLocation">Yes</p>
  </section>
  <section>
    <h3 class="heading-small">Would consider alternative scheme?</h3>
    <p id="considerAltScheme">No</p>
  </section>
</section>

<section class="section-border">
  <h2 class="heading-large">
    Assistance
  </h2>
  <section>
    <h3 class="heading-small">Assistance needs</h3>
    <p>No</p>
  </section>
</section>

<h2 class="heading-large">Submit application</h2>
<div class="panel-indent text">
  <p>Once you submit your application you will not be able to amend any of your details</p>
</div>
<a href="profile-home-complete.html" class="button">Submit application</a>
<a href="profile-details.html" class="button-link">Change your application</a>
<a href="profile-home-saved.html" class="button-link">Save to submit later</a>
