---
pageTitle: Give feedback
---
<div class="panel-success toggle-content" id="feedbackSuccess">
  <p id="" class="text"><i class="fa fa-check"></i>Your feedback has been successfully sent. Thank you.</p>
</div>
<div class="hgroup text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <p class="no-btm-margin">Please leave your suggestions or comments about our service.</p>
  <p>If you're looking for help then <a href="helpdesk.html">contact us</a> instead.</p>
</div>
<div class="grid-wrapper">
  <div class="grid grid-2-3">

    <section class="controls-3-4">
      <div class="form-group">
        <label for="contactName" class="form-label">Full name (optional)</label>
        <input type="text" id="contactName" class="form-control">
      </div>
      <div class="form-group">
        <label for="contactEmail" class="form-label">Email address (optional)</label>
        <input type="email" id="contactEmail" class="form-control">
      </div>

      <div class="form-group">
        <label for="contactQuery" class="form-label">Your feedback</label>
        <textarea name="" id="contactQuery" rows="4" data-val-length-max="4000" class="form-control"></textarea>
        <span class="form-hint"><span class="maxchar-count">4000</span> <span class="maxchar-text">characters remaining</span></span>
      </div>
      <div class="form-group">
        <a href="#" id="feedbackButton" class="button">Give feedback</a>
      </div>
    </section>

  </div>

</div>