---
pageTitle: Welcome
---

<div class="panel-success">
  <p id="SuccessMessageText" class="text">You've successfully submitted your questionnaire <a href="/feedback.html">Give feedback?</a> (30 second survey)</p>
</div>

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <p class="subtitle" id="nameOnHome">Firstname Lastname</p>
</div>

<section class="section-border">
  <ol class="step-by-step-coloured" id="sixSteps">
    <li>
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block-padr">
            <h2 class="heading-medium">Complete application form</h2>
            <p><i class="fa fa-check the-icon"></i>All details have been submitted</p>
            <p>
              <a class="" href="apply-submitted.html">View your submitted application</a>
            </p>
          </div>
        </div>
        <div class="grid grid-1-3">
          <p>100% complete</p>
          <progress max="100" value="100">
            <div class="progress-bar">
              <span style="width: 100%;"></span>
            </div>
          </progress>
        </div>
      </div>
    </li>
    <li>
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium">Complete anonymous questionnaire</h2>
          <p><i class="fa fa-check the-icon"></i>You've submitted your questionnaire</p>
          <!-- <a href="questionnaire.html" class="button">Complete questionnaire</a> -->
        </div>
      </div>
      <div class="grid grid-1-3">
        <p>100% complete</p>
        <progress max="100" value="100">
          <div class="progress-bar">
            <span style="width: 100%;"></span>
          </div>
        </progress>
      </div>
    </div>
  </li>
  <li class="active">
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-large">Take the online test</h2>
          <p>You will be contacted once the online test is ready for you to complete.</p>
          <!-- <p>Once you've submitted your application and completed the questionnaire you'll be able to take the online test, you'll have 7 days to complete this.   </p> -->
          <p><a href="">Find out more about the online test</a></p>
        </div>
      </div>
      <div class="grid grid-1-3 disabled">
        <p>Locked</p>
        <progress max="100" value="00">
          <div class="progress-bar">
            <span style="width: 0%;"></span>
          </div>
        </progress>
      </div>
    </div>
  </li>
  <li>
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium">Attend interview</h2>
          <p>If you pass the online test you'll be invited to attend an interview at an assessment centre near you. </p>
          <p><a href="">Find your nearest assessment centre</a></p>
        </div>
      </div>
      <div class="grid grid-1-3 disabled">
        <p>Locked</p>
        <progress max="100" value="00">
          <div class="progress-bar">
            <span style="width: 0%;"></span>
          </div>
        </progress>
      </div>
    </div>
  </li>
  <li>
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium">Receive notification</h2>
          <p>You'll be notified whether you've been accepted onto the Civil Service apprenticeships programme within x weeks of attending the assessment centre. </p>
          <p><a href="">What is it like to work for the Civil Service?</a></p>
        </div>
      </div>
      <div class="grid grid-1-3 disabled">
        <p>Locked</p>
        <progress max="100" value="00">
          <div class="progress-bar">
            <span style="width: 0%;"></span>
          </div>
        </progress>
      </div>
    </div>
  </li>
</ol>

</section>


<section>
  <h2 class="heading-medium">Withdraw application</h2>
  <div class="text">
    <p>If you no longer wish to proceed with your application you can withdraw at any time.</p>
    <a href="withdraw-application.html">Withdraw application</a>
  </div>
</section>