---
pageTitle: Choose preferred location and scheme
---
<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <h1 class="heading-xlarge" id="choosePrefLocFramHeading">{{ pageTitle }}</h1>
  </div>
  <div class="grid grid-1-3">
  </div>
</div>

<div class="grid-wrapper">
  <div class="grid grid-1-3">
    <div class="inner-block-padr map-legend-container">
      <div class="map-control">
        <div class="panel-indent toggle-content" id="chooseRegionContainer">
          <h2 class="heading-small" id="chooseRegionText">Choose a region to filter the locations</h2>
          <a href="#" id="clearMap" class="toggle-content">Reset selected region</a>
        </div>
      </div>
      <div class="map-legend grid-1-2">
        <h2 class="heading-small" id="hoveredRegionName"></h2>
      </div>
      <div class="show-ie8">
        {{> map-uk-ie8 }}
      </div>
      <div class="svg-map-container hide-ie8">
        {{> map-uk }}
      </div>
    </div>
  </div>
  <div class="grid grid-2-3"id="containingGridPreference">
    <section id="firstChoiceInfo">
      <h2 class="heading-medium">First preference</h2>
      <h3 class="heading-small" id="firstChosenLocation"></h3>
      <p class="small-btm-margin" id="firstChosenSchemes"></p>
      <p><a href="scheme-selection.html">Change this selection</a></p>
    </section>

    <section class="toggle-content hide-nojs" id="choiceInfo">
      <h2 class="heading-medium">Second preference</h2>
      <h3 class="heading-small" id="chosenLocation"></h3>
      <p class="small-btm-margin" id="chosenSchemes"></p>
      <p><a href="scheme-selection-02.html">Change this selection</a></p>
    </section>

    <div id="chooseLocationAndScheme">
      <section>
        <h2 class="heading-medium" id="chooseHeading">
          Second preference of location
        </h2>
        <!-- <p id="selectLocationBlurb">Select a region from the map, or alternatively choose a location from the list.</p> -->
        <div id="selectLocationBlurb" class="hide-nojs">
          <p>Select a region from the map, or alternatively choose a location from the list.</p>
          <p>Alternatively, <a href="" id="viewListOfLocations">view a list of all regions and locations</a>.</p>
        </div>
        <p id="chosenRegionBlurb" class="toggle-content hide-nojs">Choose a location in the region: <b></b></p>
        <p class="toggle-content hide-nojs" id="locationSelectedText">
          Location selected
        </p>
        <div class="grid-2-3 toggle-content" id="listOfLocationsContainer">
          {{> location-select }}
        </div>
      </section>
      <section class="toggle-content" id="locationSelectedContainer" aria-hidden="true">

        <div class="hgroup-medium">
          <h2 class="heading-medium" aria-live="polite">Choose a scheme</h2>
          <p class="subtitle">
            <a href="#" target="_blank" >Find out more about the schemes we offer</a>
          </p>
        </div>

        <div class="grid-3-4">
          <div class="form-group">
            <label for="schemePref1" class="form-label">First preference of scheme</label>
            <select name="" id="schemePref1" class="chosen-select" data-placeholder="Choose from list or begin typing">
              <option value="" class="placeholder-option"></option>
              <option value="Business">Business</option>
              <option value="Commercial">Commercial</option>
              <option value="Cyber security">Cyber security</option>
              <option value="Digital and technology">Digital and technology</option>
              <option value="Finance">Finance</option>
              <option value="Project delivery">Project delivery</option>
            </select>
          </div>

          <div class="form-group" id="secondPreferenceContainer">
            <label for="schemePref2" class="form-label">Second preference of scheme</label>
            <select name="" id="schemePref2" class="chosen-select" data-placeholder="Choose from list or begin typing">
              <option value="" class="placeholder-option"></option>
              <option value="Business">Business</option>
              <option value="Commercial">Commercial</option>
              <option value="Cyber security">Cyber security</option>
              <option value="Digital and technology">Digital and technology</option>
              <option value="Finance">Finance</option>
              <option value="Project delivery">Project delivery</option>
              <option value="No second preference">No second preference</option>
            </select>
          </div>
        </div>

      </section>
    </div>

    <a href="#" class="button toggle-content hide-nojs second-choice second-choice-btn" id="choiceSave">Save second location and scheme</a>

    <section id="considerAlternatives" class="toggle-content hide-nojs">
      <div class="panel-indent">
        <p>If we can't guarantee your preferred location or scheme, we may suggest an alternative.</p>
      </div>

      <p class="form-label">Would you consider an alternative location?</p>
      <div class="form-group form-group-compound">
        <label for="altregion-yes" class="block-label">
          <input name="altregion" type="radio" id="altregion-yes">Yes
        </label>
        <label for="altregion-no" class="block-label">
          <input name="altregion" type="radio" id="altregion-no">No
        </label>
      </div>

      <p class="form-label">Would you consider an alternative scheme?</p>
      <div class="form-group form-group-compound">
        <label for="altscheme-yes" class="block-label">
          <input name="altscheme" type="radio" id="altscheme-yes">Yes
        </label>
        <label for="altscheme-no" class="block-label">
          <input name="altscheme" type="radio" id="altscheme-no">No
        </label>
      </div>

      <a href="assistance.html" class="button" id="locFramContinue">Save and continue</a>
    </section>
  </div>
</div>









