---
pageTitle: Thank you
layout: gds-layout.hbs
---


<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block-padr">
      <div class="hgroup">
        <span class="subtitle">Apply for a Civil Service apprenticeship</span>
        <h1 class="heading-xlarge">{{ pageTitle }}</h1>
      </div>

      <div class="form-group">
        <h2 class="heading-medium">How did you feel about the service you received?</h2>

        <ul class="list-text">
          <li><label><input type="radio" name="test">Very satisfied</label></li>
          <li><label><input type="radio" name="test">Satisfied</label></li>
          <li><label><input type="radio" name="test">No opinion</label></li>
          <li><label><input type="radio" name="test">Dissatisfied</label></li>
          <li><label><input type="radio" name="test">Very dissatisfied</label></li>
        </ul>
      </div>

      <div class="form-group">
        <h2 class="heading-medium">How could we improve this service?</h2>
        <label for="feedback" class="form-label">Enter some suggestions</label>
        <textarea id="feedback" class="form-control form-control-3-4" data-val-length-max="1200" rows="4"></textarea>
      </div>

      <div class="form-group">
        <a href="#" class="button">Send feedback</a>
      </div>
    </div>
  </div>
  <div class="grid grid-1-3">
    <div class="gov-border">
      <br>
      <h2 class="heading-medium">Return to GOV.UK</h2>
      <p>
        <a href="#">Apply for a Civil Service apprenticeship</a>
      </p>
    </div>
  </div>
</div>