
<div class="progress-indicator progress-indicator-horizontal hide-print">
  <ul>
    <li><span class="hide-tablet">Page </span>1<span class="hide-tablet"> of 3</span>. Application form</li>
    <li class="active"><span class="hide-tablet">Page </span>2<span class="hide-tablet"> of 3</span>. Check your application</li>
    <li><span class="hide-tablet">Page </span>3<span class="hide-tablet"> of 3</span>. Submitted</li>
  </ul>
</div>
<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="hgroup">
      <h1 class="heading-xlarge hide-print">Check your application</h1>
      <h1 class="heading-xlarge toggle-content show-print">Your application</h1>
    </div>

  </div>
  <div class="grid grid-1-3">
    <div class="page-link">
      <p>
        <a class="print-trigger" href=""><i class="fa fa-print"></i>Print this page</a>
      </p>
    </div>
  </div>
</div>
<div class="panel-indent text">
  <p>Check your answers before submitting and make sure they're relevant to the apprenticehip: <b>Mechanical Engineering</b>.</p>
  <p class="toggle-content show-print">Reference number: VAC000123456</p>
</div>
<div class="form-group hide-print">
  <a href="apply-index.html">Return to application form</a>
</div>
<fieldset class="fieldset-with-border">
  <legend class="heading-large">
    Education
    <a class="icon-with-text" href="apply-index.html#applyEducation"><i class="the-icon fa fa-pencil"></i><span class="the-text">Edit section</span></a>
  </legend>
  <div class="form-group">
    <label for="school-name" class="form-label">Name of most recent school/college</label>
    <span class="form-prepopped" id="">St Bernards School</span>
  </div>
  <div class="inline-fixed">
    <p class="form-label">Years attended</p>
    <div class="form-group">
      <label for="school-from" class="form-label">From</label>
      <span class="form-prepopped" id="">2008</span>
    </div>
    <div class="form-group">
      <label for="school-to" class="form-label">To</label>
      <span class="form-prepopped" id="">2011</span>
    </div>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">
    Qualifications
    <a class="icon-with-text" href="apply-index.html#applyQualifications"><i class="the-icon fa fa-pencil"></i><span class="the-text">Edit section</span></a>
  </legend>
  <div class="qualifications-wrapper">
    <div class="qualification-table" id="gcse">
      <div class="hgroup-small">
        <h3 class="heading-small heading-qualType">GCSE</h3>
      </div>
      <table class="grid-3-4">
        <colgroup>
          <col class="t40">
          <col class="t25">
          <col class="t15">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th class="th-qualSubject"><span class="heading-span">Subject</span></th>
            <th class="th-qualGrade"><span class="heading-span">Grade</span></th>
            <th class="th-qualYear"><span class="heading-span">Year</span></th>
          </tr>
        </thead>
        <tbody class="tbody-qual">
          <tr class="tr-qualRow">
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="Maths" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="A" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="2011" readonly>
            </td>
          </tr>
          <tr class="tr-qualRow">
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="English" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="B" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="2011" readonly>
            </td>
          </tr>
          <tr class="tr-qualRow">
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="Science" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="BB" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="2011" readonly>
            </td>
          </tr>
          <tr class="tr-qualRow">
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="Geography" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="C" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="2011" readonly>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">
    Work experience
    <a class="icon-with-text" href="apply-index.html#applyWorkExperience"><i class="the-icon fa fa-pencil"></i><span class="the-text">Edit section</span></a>
  </legend>
  <div class="work-history-wrapper grid-3-4">
  <div class="grid-wrapper work-history-item">
      <div class="grid grid-1-2">
        <table class="table-no-btm-border table-compound">
          <colgroup>
            <col class="t100">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>
                <span class="heading-span">Work experience</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="form-prepopped cell-span editable-work">Superdrug</span>
                <span class="form-prepopped cell-span work-hyphen">-</span>
                <span class="form-prepopped cell-span editable-work">Customer service</span>
                <div></div>
                <span class="form-prepopped cell-span editable-work">Helping customers at the checkout</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="grid grid-1-2">
        <table class="table-no-btm-border table-compound">
          <colgroup>
            <col class="t30">
            <col class="t30">
            <col class="t25">
            <col class="t15">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>
                <span class="heading-span">From</span>
              </th>
              <th>
                <span class="heading-span">To</span>
              </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="form-prepopped cell-span editable-work">Dec 2013</span>
              </td>
              <td>
                <span class="form-prepopped cell-span editable-work">Current</span>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="grid-wrapper work-history-item">
      <div class="grid grid-1-2">
        <table class="table-no-btm-border table-compound">
          <colgroup>
            <col class="t100">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>
                <span class="heading-span">Work experience</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="form-prepopped cell-span editable-work">Boots</span>
                <span class="form-prepopped cell-span work-hyphen">-</span>
                <span class="form-prepopped cell-span editable-work">Customer service</span>
                <div></div>
                <span class="form-prepopped cell-span editable-work">Helped customers at the checkout</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="grid grid-1-2">
        <table class="table-no-btm-border table-compound">
          <colgroup>
            <col class="t30">
            <col class="t30">
            <col class="t25">
            <col class="t15">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>
                <span class="heading-span">From</span>
              </th>
              <th>
                <span class="heading-span">To</span>
              </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="form-prepopped cell-span editable-work">May 2012</span>
              </td>
              <td>
                <span class="form-prepopped cell-span editable-work">Sept 2013</span>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">
    About you
    <a class="icon-with-text" href="apply-index.html#applyAboutYou"><i class="the-icon fa fa-pencil"></i><span class="the-text">Edit section</span></a>
  </legend>
  <div class="form-group">
    <label for="question1" class="form-label">Provide examples of your strengths</label>
    <span class="form-prepopped" id="">My strengths are</span>
  </div>
  <div class="form-group">
    <label for="question2" class="form-label">What skills would you like to improve?</label>
    <span class="form-prepopped" id="">I could improve</span>
  </div>
  <div class="form-group">
    <label for="question3" class="form-label">What are you hobbies and interests?</label>
    <span class="form-prepopped" id="">My hobbies and interests are</span>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">
    Additional questions
    <a class="icon-with-text" href="apply-index.html#applyAdditional"><i class="the-icon fa fa-pencil"></i><span class="the-text">Edit section</span></a>
  </legend>
  <div class="form-group">
    <label for="add-question1" class="form-label">Why would you like to become an Apprentice?</label>
    <span class="form-prepopped" id="add-">To enable me to attain the skills I need to become employable</span>
  </div>
  <div class="form-group">
    <label for="add-question2" class="form-label">Where do you see yourself in three years?</label>
    <span class="form-prepopped" id="add-">I hope to grow into a manager</span>
  </div>
  <div class="form-group">
    <p class="form-label" id="disability-label">Do you have a learning difficulty, disability or health problem?</p>
    <span class="form-prepopped">No</span>
  </div>
  <div class="form-group">
    <label for="question4" class="form-label">Is there anything we can do to support your interview?</label>
    <span class="form-prepopped" id="">I need a signer</span>
  </div>
</fieldset>
<fieldset class="hide-print">
  <div class="text">
    <h3 class="heading-large">Submit your application</h3>
    <div class="form-group">
      <p>You can't make changes once your application has been submitted, so we advise that you:</p>
      <ul>
        <li>ask someone to check your answers for mistakes</li>
        <li>check your qualifications meet the requirements</li>
        <li>make sure your answers are relevant</li>
        <li>check you can get to the apprenticeship location</li>
      </ul>
    </div>
    <label for="accept-submit" class="block-label para-btm-margin">
      <input type="checkbox" id="accept-submit">I have checked my application and understand I won't be able to make any changes once it has been submitted
    </label>
  </div>
</fieldset>
<div class="form-group">
  <a href="apply-happens.html" class="button">Submit application</a>

</div>

