
<div class="panel panel-danger validation-summary-errors" data-valmsg-summary="true">
    <div class="panel-body">
        <ul><li class="text">Account with email yourname@email.com is now locked, to continue you'll need to <b><a href="blocked-email.html">unlock your account</a></b></li></ul>
    </div>
</div>
<div class="grid-wrapper">
  <div class="grid grid-1-2">
    <fieldset>
      <legend class="heading-large">Sign in</legend>
      <p>Sign in or <a href="profile-create.html">create an account</a> to get started.</p>
      <div class="form-group form-group-compound">
        <label class="form-label" for="email-add">Email address</label>
        <input type="email" class="form-control form-control-3-4" id="email-add"/>
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input type="password" class="form-control form-control-3-4" id="password" />
        <a class="form-hint" href="forgottenpassword.html">Forgotten password?</a>
      </div>
      <div class="form-group">
        <a class="button" id="btnSignIn" href="search-details.html">Sign in</a>
      </div>
    </fieldset>
  </div>
  <div class="grid grid-1-2">
    <h2 class="heading-large">Create an account</h2>
    <p class="text">If you create an account you can save and track your applications, set up vacancy alerts and manage your profile.</p>
      <a href="profile-create.html">Create account</a>
  </div>
</div>
