---
headerTitle: Find an apprenticeship
---
<div class="hgroup">
  <h1 class="heading-xlarge">Contact us</h1>
</div>
<div class="grid-wrapper">
  <div class="grid grid-2-3">

    <section class="controls-3-4">
      <h2 class="heading-medium">Contact form</h2>
      <div class="form-group">
        <label for="contactName" class="form-label">Full name</label>
        <input type="text" id="contactName" class="form-control">
      </div>
      <div class="form-group">
        <label for="contactEmail" class="form-label">Email address</label>
        <input type="email" id="contactEmail" class="form-control">
      </div>
      <div class="form-group">
        <label for="contactSubject" class="form-label">Briefly describe your question</label>
        <input type="text" class="form-control select-injected" id="contactSubject">
      </div>
      <div class="form-group">
        <label for="contactQuery" class="form-label">More details about your question (optional)</label>
        <textarea name="" id="contactQuery" rows="4" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <a href="#" class="button">Send email</a>
      </div>
    </section>

  </div>

  <div class="grid grid-1-3">
    <section class="text">
      <h2 class="heading-medium">Apprenticeship helpline</h2>

      <p>Contact the helpline if you’d prefer to speak to somebody in person, or the contact form isn't working for you.</p>

      <p>Phone: <br> 0800 015 0400 <br>
      02476 826482</p>

      <p>Email: <a href="mailto:nationalhelpdesk@findapprenticeship.service.gov.uk">nationalhelpdesk@findapprenticeship.service.gov.uk</a></p>

      <p>Contact <a href="https://nationalcareersservice.direct.gov.uk/Pages/Home.aspx" rel="external">National Careers Service</a> (NCS) if you have a question about whether an apprenticeship is right for you.</p>
    </section>
  </div>
</div>