
<div class="panel-success" id="moreInfoPanel">
  <p><i class="fa fa-check"></i>Your account has been successfully activated</p>
</div>
<div class="panel-success toggle-content" id="verifiedNumberPanel">
  <p>Your mobile number has been succesfully verified</p>
</div>
<h2 class="heading-xlarge">Tell us more about you</h2>
<p class="text">Please give us a little more information about you. This will help us to understand how effective the service is.</p>

{{> monitoring }}

<div class="form-group">
  <a href="dashboard.html" class="button">Save and continue</a>
  <p id="saveApplication">
    <a href="dashboard.html" class="button-link saveADraft">Skip</a>
  </p>
<!--   <p id="applicationSaved">
    Saved at 10:20 to <a href="dashboard.html">my applications</a>
  </p> -->
</div>
