
<div class="hgroup">
  <h1 class="heading-large">Can't access your account?</h1>
</div>
<section>
  <div class="text">
    <h2 class="heading-medium">If you have an account with the old service</h2>
    <p class="med-btm-margin"><img src="{{assets}}/img/logo-apprenticeships.png" width="133" height="50" alt="Logo from the old apprenticeships service" title="Logo from the old apprenticeships service" align="left"/>You won't be able to sign in using existing “Apprenticeship vacancies” details. </p>

    <p>You must <a href="profile-create.html">create an account </a>to access this new service.</p>
  </div>
</section>
<section>
  <div class="text">
    <h2 class="heading-medium">Forgotten your password?</h2>
    <p>To reset your password we need to send you a 6-character code. If you can’t see it in your inbox within a few minutes, please check your spam folder.</p>
  </div>
  <div class="form-group">
    <label class="form-label" for="forgottenEmail">Enter email</label>
    <input type="email" class="form-control" id="forgottenEmail"/>
  </div>
  <div class="form-group">
    <a class="button" href="forgottenpassword-entercode.html">Send code</a>
  </div>
</section>

<div class="text">
  <h2 class="heading-medium">If your account is locked</h2>
  <p>If your account is locked and you’ve been sent a code to unlock it, you can <a href="blocked-entercode.html">enter it</a> now.</p>
  <br>
</div>

<div class="text">
  <h2 class="heading-medium">If you've forgotten your email address</h2>
  <details>
    <summary>Retrieve your email address</summary>
    <div class="detail-content">
      <p>To retrieve the email address you used to create your account, you'll need to verify your mobile number. Enter your number and we'll send your email address via text message.</p>
      <div class="form-group">
        <label class="form-label" for="forgottenMob">Enter phone number</label>
        <input type="email" class="form-control" id="forgottenMob"/>
      </div>
      <div class="form-group">
        <a class="button" href="profile-signin.html?Status=textsent" id="sendEmailAddress">Send email address</a>
      </div>
    </div>
  </details>
</div>
