---
headerTitle: Find an apprenticeship
---
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<div class="panel-info">
  <p>Over the past few months we've released a number of new features to help you find an apprenticeship</p>
</div>

<div class="hgroup">
  <h1 class="heading-xlarge">Find an apprenticeship</h1>
  <h2 class="subtitle">Search and apply for an apprenticeship in England</h2>
</div>
<div class="grid-wrapper controls-3-4">
  <section class="grid grid-2-3">
    <nav class="tabbed-nav">
      <a class="tabbed-tab active" href="#" id="keywords-tab-control" tab="#tab1">Keywords</a>
      <a class="tabbed-tab" href="#" id="categories-tab-control" tab="#tab2">Categories</a>
    </nav>
    <div class="tabbed-content active">
      <div id="categories" class="form-group tabbed-element tab2 ">
        <span class="form-label">Browse by category</span>
        <div class="grid-wrapper">
          <div class="grid grid-1-2">
            <div class="inner-block-padr">
              <ul id="category-list-left" class="copy-16 list-text list-checkradio">
                <li>
                  <input type="radio" name="Category" id="category-alb" value="ALB"><label for="category-alb">Agriculture, Horticulture and Animal Care</label>
                            </li>
                            <li>
                                <input type="radio" name="Category" id="category-acc" value="ACC"><label for="category-acc">Arts, Media and Publishing</label>
                            </li>
                            <li>
                                <input type="radio" name="Category" id="category-ahr" value="AHR"><label for="category-ahr">Business, Administration and Law</label>
                            </li>
                            <li>
                                <input type="radio" name="Category" id="category-cst" value="CST"><label for="category-cst">Construction, Planning and the Built Environment</label>
                            </li>
                            <li>
                                <input type="radio" name="Category" id="category-13" value="13"><label for="category-13">Education and Training</label>
                            </li>
                            <li>
                                <input type="radio" name="Category" id="category-mfp" value="MFP"><label for="category-mfp">Engineering and Manufacturing Technologies</label>
                            </li>
                    </ul>
                </div>
            </div>
            <div class="grid grid-1-2">
                <ul id="category-list-right" class="copy-16 list-text list-checkradio">
                        <li>
                            <input type="radio" name="Category" id="category-pub" value="PUB"><label for="category-pub">Health, Public Services and Care</label>
                        </li>
                        <li>
                            <input type="radio" name="Category" id="category-itc" value="ITC"><label for="category-itc">Information and Communication Technology</label>
                        </li>
                        <li>
                            <input type="radio" name="Category" id="category-htl" value="HTL"><label for="category-htl">Leisure, Travel and Tourism</label>
                        </li>
                        <li>
                            <input type="radio" name="Category" id="category-hby" value="HBY"><label for="category-hby">Retail and Commercial Enterprise</label>
                        </li>
                        <li>
                            <input type="radio" name="Category" id="category-02" value="02"><label for="category-02">Science and Mathematics</label>
                        </li>
                </ul>
            </div>

    </div>
</div>

<div class="tabbed-element tab1 active form-group">
  <a name="keywords"></a>
  <label class="form-label" for="Keywords">Keywords (optional)</label>
  <span class="form-hint">Can include job title, employer or reference number</span>
  <input aria-describedby="keywordsHint" autofocus="autofocus" class="form-control" data-val="true" data-val-regex="'Keywords' contains some invalid characters" data-val-regex-pattern="^[a-zA-Z0-9\u0080-\uFFA7?$@#()&quot;'!,+\-=_:;.&amp;€£*%\s\/]+$" id="Keywords" name="Keywords" type="text" value="">
  <span class="field-validation-valid" data-valmsg-for="Keywords" data-valmsg-replace="true" aria-live="polite"></span>
</div>
<p class="visuallyhidden" id="keywordsHint">Try words that describe the type of apprenticeship you want, for example “carpentry” or “mechanics”.</p>

<div class="form-group">
  <a name="location"></a>
  <label class="form-label" for="Location">Your location</label>
  <span class="form-hint">Enter postcode, town or city. <span class="fake-link geolocater inl-block hide-nojs" id="getLocation">Use current location</span></span>
  <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
  <input class="form-control ui-autocomplete-input" data-val="true" data-val-length="Location must be 3 or more characters or a postcode" data-val-length-max="99" data-val-length-min="2" data-val-regex="Location contains some invalid characters" id="Location" name="Location" type="text" value="" autocomplete="off">
  <span class="field-validation-valid" data-valmsg-for="Location" data-valmsg-replace="true" aria-live="polite"></span>
</div>

<div class="inline">
  <div class="form-group">
    <label for="loc-within" class="form-label">Within</label>
    <select data-val="true" data-val-number="The field WithinDistance must be a number." id="loc-within" name="WithinDistance">
      <option value="2">2 miles</option>
      <option selected="selected" value="5">5 miles</option>
      <option value="10">10 miles</option>
      <option value="15">15 miles</option>
      <option value="20">20 miles</option>
      <option value="30">30 miles</option>
      <option value="40">40 miles</option>
    </select>
  </div>
  <div class="form-group">
    <label for="apprenticeship-level" class="form-label">Apprenticeship level</label>
    <select id="apprenticeship-level" name="ApprenticeshipLevel">
      <option selected="selected" value="All">All levels</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Advanced">Advanced</option>
      <option value="Higher">Higher</option>
    </select>
  </div>
</div>

<div class="form-group">

  <a href="search-results-search.html?Keywords=&Location=Coventry+%28West+Midlands%29&WithinDistance=10&Latitude=52.4035&Longitude=-1.50901&Hash=0&LocationType=NonNational&ResultsPerPage=5" class="button tabbed-element tab1 active" id="search-button">Search</a>
  <a href="search-results-browse.html?Keywords=&Location=b2+4nd&WithinDistance=40&SearchAction=Search&Latitude=52.4781331433771&Longitude=-1.8986588941503&Hash=-699855120&LocationType=NonNational&sortType=Distance&SearchAction=Search&resultsPerPage=5" class="button tabbed-element tab2 " id="browse-button">Browse</a>
</div>

<input data-val="true" data-val-number="The field Latitude must be a number." id="Latitude" name="Latitude" type="hidden" value="">
<input data-val="true" data-val-number="The field Longitude must be a number." id="Longitude" name="Longitude" type="hidden" value="">
<input data-val="true" data-val-number="The field Hash must be a number." id="Hash" name="Hash" type="hidden" value="0">
<input id="LocationType" name="LocationType" type="hidden" value="NonNational">
<input data-val="true" data-val-number="The field ResultsPerPage must be a number." id="ResultsPerPage" name="ResultsPerPage" type="hidden" value="5">
<input id="SearchMode" name="SearchMode" type="hidden" value="Keyword">

                </div>
  </section>
  <aside class="grid grid-1-3">
    <div class="inner-block">
      <div class="gov-border">
        <h2 class="heading-medium">Contact us</h2>
        <ul class="list-text">
          <li>0800 015 0400</li>
          <li><a href="mailto:nationalhelpdesk@findapprenticeship.service.gov.uk">Send us an email</a></li>
        </ul>
        <ul class="list-text">
          <li>
            <a href="overview.html">About apprenticeships</a>
          </li>
        </ul>

      </div>
    </div>
  </aside>
</div>
